<div class="modal-header">
	<h4 class="modal-title">Score this Student - [STUDENT_NAME]</h4>
</div>

<form>

	<div class="modal-body">

		<div class="container">

			<div class="form-row">

				<!-- 
					TODO:
					Form depends on the AREA for judging criteria
				 -->
				<!-- <table cellspacing=0> -->
				<div class="row col-12 mt-1">
					<div class="col-4">Category</div>
					<div class="col-2">Prepared Piece I</div>
					<div class="col-2">Prepared Piece II</div>
					<div class="col-2">General Comments</div>
					<div class="col-2">Grand Total</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Correctness</div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Correctness"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Correctness"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Correctness"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Rhythm</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Rhythm"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Rhythm"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Rhythm"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Tempo</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Tempo"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Tempo"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Tempo"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Dynamics</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Dynamics"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Dynamics"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Dynamics"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Articulation</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Articulation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Articulation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Articulation"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Phrasing</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Phrasing"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Phrasing"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Phrasing"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Intonation</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Intonation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Intonation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Intonation"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Interpretation</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Interpretation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Interpretation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Interpretation"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Presentation</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Presentation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Presentation"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Presentation"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Memorization or Overall Impression</div>

					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceI_Memorization"></div>
					<div class="col-2"><input class="form-cell" type="number" name="PreparedPieceII_Memorization"></div>
					<div class="col-2"><input class="form-cell" type="number" name="GeneralComments_Memorization"></div>
					<div class="col-2">&nbsp;</div>
				</div>
				<div class="row col-12 mt-1">
					<div class="col-4">Total</div>
					<div class="col-2"><input class="form-cell" type="number" name="" readonly></div>
					<div class="col-2"><input class="form-cell" type="number" name="" readonly></div>
					<div class="col-2"><input class="form-cell" type="number" name="" readonly></div>
					<div class="col-2"><input class="form-cell" type="number" name="" readonly></div>
				</div>
				<!-- </table> -->

			</div>

			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn gray-btn" (click)="close()">
					Cancel
				</button>
				<!-- <button type="submit" [disabled]="requestSuccess" class="btn ">
					<span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
						aria-hidden="true"></span>
					{{
						loading
							? "Sending..."
							: !requestSuccess
							? "Score"
							: "Done"
					}}
				</button> -->
			</div>

		</div>

	</div>

</form>