<div class="wrapper gold-page" >

	<h1 class="d-flex justify-content-center" >Reset Password</h1>

	<div class="row justify-content-center align-items-center h-100" >
		
		<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3" >

			<form
				novalidate="novalidate"
				autocomplete="off"
				[formGroup]="form"
				(ngSubmit)="submitForm()"
				class="justify-content-center" >

				<div *ngIf="!sentSuccess" class="container align-self-center" >

					<div class="form-group required"
						[ngClass]="displayFieldCss('email')" >

						<label for="email" class="control-label " >
							Email
						</label>
						<input
							id="email"
							name="email"
							type="email"
							class="form-control email-input"
							formControlName="email"
							[class.state-error]="isFieldInvalid('email')" />

						<app-field-error-display
							*ngIf="f.email.errors && f.email.errors.required"
							[displayError]="isFieldInvalid('email')"
							errorMsg="Please provide an email" >
						</app-field-error-display>
						
						<app-field-error-display
							*ngIf="f.email.errors && f.email.errors.email"
							[displayError]="isFieldInvalid('email')"
							errorMsg="Please provide a valid email" >
						</app-field-error-display>

					</div>

					<div class="form-group align-items-center" >

						<div
							*ngIf="sentFailed"
							class="alert alert-danger"
							role="alert" >
							{{ feedback }}
						</div>

						<br />
						
						<button 
							type="submit" 
							class="btn reset-btn" >
							<span
								*ngIf="loading"
								class="spinner-border spinner-border-sm"
								role="status"
								aria-hidden="true" ></span>
							{{ loading ? "Sending..." : "Send" }}
						</button>

					</div>

				</div>

				<div *ngIf="sentSuccess" class="container" >
				
					<div class="form-group align-items-center" >
				
						<br />
			
						<div class="alert alert-success" role="alert" >
							<p>
								We sent an email to the address on file. It contains
								a link that allows you to reset your password. The
								link is valid for 10 minutes only! If you do not see
								the email in your inbox, make sure to check your
								junk or spam folder.
								<br />
								Thank you!
								<br />
								<br />
							</p>
						</div>
			
						<br />
			
						<p class="d-flex justify-content-center" >
							<a [routerLink]="['/login']" >Login Here</a>
						</p>
						
					</div>
						
				</div>

				<br />
				<br />

				<p class="d-flex justify-content-center" >
					<a [routerLink]="['/login']" >Have an account? To Login to Click Here</a>
				</p>

				<p class="d-flex justify-content-center" >
					<a [routerLink]="['/register']" >Want an account? Click Here</a>
				</p>


			</form>

		</div>

	</div>

	<app-footer></app-footer>

</div>