<div class="px-4 py-5" >

	<div class="row mb-3 d-flex align-items-center" >
	
		<div class="col-md-6" >
	
			<nav aria-label="breadcrumb" >
				<ol class="breadcrumb" >
					<li class="breadcrumb-item active" aria-current="page" >
						Resources
					</li>
				</ol>
			</nav>
	
		</div>
	
		<div class="col-md-6 text-right" >
			&nbsp;
		</div>
	
	</div>

	<section class="module" >
	
		<header>
			<h2>Resources</h2>
		</header>
	
		<div class="general-table" >
	
			<table class="table top-level" >
	
				<tbody>
					<tr>
						<td width="95%" >Search Colleges</td>
						<td width="5%" ><a routerLink="/parent/search/colleges" >View</a></td>
					</tr>
					<tr>
						<td width="95%" >Search Scholarships</td>
						<td width="5%" ><a routerLink="/parent/search/scholarships" >View</a></td>
					</tr>
					<tr>
						<td width="95%" >Search Premier College Programs</td>
						<td width="5%" ><a routerLink="/parent/search/premier" >View</a></td>
					</tr>
					<tr>
						<td width="95%" >Music Guides</td>
						<td width="5%" ><a routerLink="/parent/resources/pdfs" >View</a></td>
					</tr>
					<tr>
						<td width="95%" >Definitions</td>
						<td width="5%" ><a routerLink="/parent/resources/help" >View</a></td>
					</tr>
				</tbody>

			</table>

		</div>
		
	</section>

</div>