<div class="px-4 py-5" >

	<div class="row mb-3 d-flex align-items-center" >

		<div class="col-md-6" >

			<nav aria-label="breadcrumb" >
				<ol class="breadcrumb" >
					<li class="breadcrumb-item" >
						<a routerLink="/{{userType}}/education" >
							Education Data
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page" >
						College Intro Statement
					</li>
				</ol>
			</nav>

		</div>

		<div class="col-md-6 text-right" >
			<a href="javascript:;" (click)="updateStudentPS()" class="btn" >
				<img class="mr-2" src="assets/img/sa-edit.svg" />
				Update Information
			</a>
		</div>
	
	</div>

	<section class="module" >

		<header>
			<h2>College Intro Statement</h2>
		</header>
	
		<div>
	
			<div class="row pl-5" >
	
				<div class="col-lg-8" >
	
					<p class="bumpup-txt" >
						{{personal_statement }}
					</p>
	
				</div>
	
			</div>
	
		</div>
	
	</section>

</div>