<!-- footer Section Start! -->	
<div id="footer">

	<div class="text-2 text-center">
		<img src="assets/images/accolati-dark.png" alt="logo" class="img-fluid mission-logo" />
		<br/><!-- 3201 Dickerson Pike,  -->Nashville, TN, 37207 | 615-393-6116
	</div>
	
	<div class="text-3 text-center">
		Copyright &copy; 2021 Accoladi, a division of ScholarshipAuditions.com Holdings Inc. All rights reserved.
	</div>

	<table width="100%" height="100%">
		<tr>
			<td align="center">
				<div class="icons">
					<a href="https://www.facebook.com/Accoladi-104547055629830"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/Accoladi"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/scholarshipauditions/"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.youtube.com/channel/UCX59Imxin1_mPeNR0cf1Mow"><i class="fa fa-youtube"></i></a>
					<a href="#"><i class="fa fa-amazon"></i></a>
				</div>
			</td>
		</tr>
	</table>

	<div class="footerMain">
	
		<div class="container">
	
			<div class="row  justify-content-center">
	
				<div class="col-md-3 col-sm-6 col-6">
					<h6>Get Started</h6>
					<a [routerLink]="['/public/get-connected']">Start a Free Trial</a><br>
					<a [routerLink]="['/public/get-connected']">Get Connected</a><br>
					<!-- <a [routerLink]="['/public/teachers']">Commitment to Teacher</a>
					<a [routerLink]="['/public/recruiters']">Commitment to Higher Ed</a> -->
				</div>
	
				<div class="col-md-3 col-sm-6 col-6">
					<h6>Discover</h6>
					<!--
					<a [routerLink]="['/public/']">Non-Institutional Scholarships</a><br>
					<a [routerLink]="['/public/']">College Directory</a><br>
					<a [routerLink]="['/public/']">Collegiate Premier Programs</a><br>
					<a [routerLink]="['/public/']">Collegiate Admission Process</a><br>
					<a [routerLink]="['/public/']">Model Audition Requirements</a><br>
					<a [routerLink]="['/public/']">Repertoire Directory</a><br>
					<a [routerLink]="['/public/']">Summer Camp Directory</a><br>
					<a [routerLink]="['/public/']">Competition & Festival Directory</a><br>
					-->
					<a [routerLink]="['/public/exam']">Entrance Exam Questions</a><br>
					<!--
					<a [routerLink]="['/public/']">Music Terms</a><br>
					<a [routerLink]="['/public/']">Music History</a><br>
					<a [routerLink]="['/public/']">Music Theory</a><br>
					<a [routerLink]="['/public/']">Grade by Grade Auditon</a><br>
					<a [routerLink]="['/public/']">Preparation Guide</a><br>
					<a [routerLink]="['/public/']">Musical Career</a><br>
					<a [routerLink]="['/public/']">Motivational Momemts</a><br>
					-->
					<a [routerLink]="['/public/articles']">Advice & Blogs</a>
				</div>
				<!--
				<div class="col-md-3 col-sm-6 col-6">
					<h6>Support</h6>
					<a [routerLink]="['/public/']">Contact Us</a><br>
					<a [routerLink]="['/public/']">Resources For Students</a><br>
					<a [routerLink]="['/public/']">Resources For Teachers</a><br>
					<a [routerLink]="['/public/']">Resources For Higher Ed</a><br>
					<a [routerLink]="['/public/']">Educational Products</a><br>
					<a [routerLink]="['/public/']">Frequently Asked Questions</a><br>
					<a [routerLink]="['/public/']">Troubleshooting</a><br>
					<a [routerLink]="['/public/']">Sitemap</a>
				</div>
				-->
				<div class="col-md-3  col-sm-6 col-6">
					<h6>Company</h6>
					<a [routerLink]="['/public/about']">About Us</a><br>
					<a [routerLink]="['/public/advantages']">The Accoladi Advantage</a><br>
					<!--
					<a [routerLink]="['/public/']">Commitment to Diversity</a><br>
					<a [routerLink]="['/public/']">Founder Story</a><br>
					<a [routerLink]="['/public/']">Team Members</a><br>
					<a [routerLink]="['/public/']">Interns</a><br>
					<a [routerLink]="['/public/']">Careers</a><br>
					<a [routerLink]="['/public/']">Advisory Boards</a><br>
					<a [routerLink]="['/public/']">Event Attending</a>
					-->
				</div>

			</div>

		</div>

	</div>

</div>
<!-- footer section End! -->