<div class="modal-header" >
	<h4 class="modal-title" >Change Password Information</h4>
</div>

<form
	novalidate="novalidate"
	autocomplete="off"
	[formGroup]="form"
	(ngSubmit)="submitForm()" >

	<div class="modal-body" >
		<div class="container" >
			
			<div class="form-row" >
				<div class="col-md-6 form-group" >
					<label class="control-label" for="current_password" >
						Current Password
					</label>
					<input
						id="current_password"
						name="current_password"
						type="password"
						class="form-control"
						formControlName="current_password"
						placeholder="Current Password" 
						[class.state-error]="isFieldInvalid('current_password')"  />
					<app-field-error-display 
						[displayError]="isFieldInvalid('current_password')"
						errorMsg="Please provide a current password">
					</app-field-error-display>
				</div>
			</div>

			<div class="form-row" >
				<div class="col-md-6 form-group" >
					<label class="control-label" for="password" >
						New Password
					</label>
					<input
						id="password"
						name="password"
						type="password"
						class="form-control "
						formControlName="password"
						placeholder="Password" 
						[class.state-error]="isFieldInvalid('password')" />
					<app-field-error-display 
						[displayError]="isFieldInvalid('password')"
						errorMsg="Please provide a current password">
					</app-field-error-display>
				</div>
			</div>

			<div class="form-row" >

				<div class="col-md-6 form-group"
					[ngClass]="displayFieldCss('confirm_password')" >
					
					<label class="control-label" for="confirm_password" >
						Confirm New Password
					</label>
					<input
						id="confirm_password"
						type="password"
						class="form-control "
						formControlName="confirm_password"
						name="confirm_password"
						placeholder="Confirm Password"
						[class.state-error]="isFieldInvalid('confirm_password')" />

					<app-field-error-display
						[displayError]="!isFieldInvalid('confirm_password') && form.errors && form.errors.mismatch "
						errorMsg="Password mismatch" >
					</app-field-error-display>
				</div>

			</div>

			<div class="form-row" >
				
				<div class="col-md-12" >
					<div
						*ngIf="requestSuccess"
						class="alert alert-success"
						role="alert" >
						{{ feedback }}
					</div>

					<div
						*ngIf="requestFailed"
						class="alert alert-danger"
						role="alert" >
						{{ feedback }}
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="modal-footer d-flex justify-content-between" >
	
		<button 
			type="button" 
			class="btn gray-btn" 
			(click)="close()" >
			Cancel
		</button>
	
		<button 
			type="submit" 
			class="btn" 
			(click)="submitAttempted=true; submitForm();" 
			appDisableDoubleClick
			[disabled]="requestSuccess" >
		
			<span
				*ngIf="loading"
				class="spinner-border spinner-border-sm"
				role="status"
				aria-hidden="true" ></span>
			
				{{ 
				loading 
				? "Saving..." 
				: !requestSuccess 
					? "Save" 
					: "Done" 
			}}
		
		</button>
	
	</div>
</form>
