.star {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	color: #d3d3d3;
}

.full {
	color: #b62025;
}

.half {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	color: #b62025;
}
