<div class="modal-content" >

	<div class="modal-header" >

		<h4 class="modal-title" >
			Terms of Use / EULA
		</h4>

	</div>

	<div class="modal-body" >
		<p>
			These Terms of Use apply to the Accoladi.com website
			located at www.Accoladi.com, and all associated websites
			linked to www.Accoladi.com by Scholarshipauditionas.com,
			LLC, its subsidiaries and affiliates, (collectively, the "Site").
			The Site is the property of Accoladi.com, LLC
			("Accoladi.com") and its licensors. By using the site,
			you agree to these terms of use; if you do not agree with these
			terms of use, please do not use the site.
		</p>
		<p>
			Accoladi.com alone reserves the right to modify, add or
			remove portions of these Terms of Use at its sole discretion and at
			any time. As a user of the Site, it is your responsibility to check
			these Terms of Use for changes periodically. Your continued use of
			the Site following the posting of any such changes will mean that
			you unconditionally accept and agree to the aforementioned changes.
			For as long as you comply with these Terms of Use,
			Accoladi.com grants you a non-exclusive, personal,
			non-transferable, limited privilege to enter and use the Site. Note
			that Accoladi.com does not in any way guarantee a
			college or university scholarship and/or that a perspective college
			and/or university will make contact back with client.
		</p>
		<p>Accounts, Passwords and Security</p>
		<p>
			Certain features and/or services offered on or through the Site may
			require you to register (including setting up a
			Accoladi.com user account). You are entirely responsible
			for maintaining the confidentiality of your account information,
			including your password, and for any and all activity that occurs
			under your account. By using the Site you agree to notify
			Accoladi.com immediately of any unauthorized use of your
			account or password, or any other breach of security. You may be
			held liable for losses incurred by Accoladi.com or any
			other user of or visitor to the Site due to someone else using your
			Accoladi.com password or account.
		</p>
		<p>
			You may not use anyone else’s Accoladi.com password or
			account at any time without the express permission and consent of
			the holder of that Accoladi.com password or account.
			Accoladi.com can not and will not be liable for any loss
			or damage arising from your failure to comply with these
			obligations.
		</p>

		<p>Content</p>
		<p>
			All trademarks, computer code, text, logos, graphics, user
			interfaces, visual interfaces, photographs and artwork
			(collectively, "Content"), including but not limited to the
			structure, design, selection, coordination, expression, "look and
			feel" and arrangement of all Content contained on the Site is owned,
			controlled or licensed by or to Accoladi.com, and is
			protected by copyright, patent laws, trademark laws, and many other
			intellectual property rights and unfair competition laws. No part of
			the Site nor any Content may be copied, reproduced in any way,
			republished, uploaded, posted, publicly displayed, encoded,
			translated, transmitted or distributed in any way (including
			"mirroring") to any other computer, server, Web site or other medium
			for any form of publication or distribution or for any commercial
			enterprise whatsoever, without Accoladi.com’s express
			prior written permission except as expressly provided in these Terms
			of Use. You may use any information on Accoladi.com
			services purposely made available by Accoladi.com for
			downloading from the Site, provided that you: • Do not remove any
			proprietary notice language in any and/or all copies of such
			documents, • Use such information only for your own personal,
			non-commercial purpose and do not copy or in any way display such
			information on any networked computer or broadcast it in any media
			or in any form, • Make no modifications to any such information, and
			• Do not make any additional or supplementary representations or
			warranties relating to the content of the Site.
		</p>

		<p>Disclaimers</p>
		<p>
			Accoladi.com does not promise or otherwise guarantee
			that the site or any content, service or feature of the Site will be
			error-free or uninterrupted, or that any defects will be corrected,
			or that your use of the Site will provide specific results. The Site
			and its content are delivered strictly on an "as-is" and
			"as-available" basis. All information provided on the Site is
			subject to change without notice. Accoladi.com cannot
			ensure that any of the files or any other data you download from the
			Site will be free of viruses or other contamination or any other
			destructive features. Accoladi.com disclaims all
			warranties, express or implied, including any warranties of
			accuracy, non-infringement, merchantability and fitness for a
			particular purpose. Accoladi.com disclaims any and all
			liability for the acts, omissions and the conduct of any third
			parties in connection with or related to your use of the Site and/or
			any Accoladi.com services. You assume complete
			responsibility for your use of the Site and any linked sites
			therein. Your sole remedy against Accoladi.com for
			dissatisfaction with the site or any content is to stop using the
			site or any such content at once. This limitation of relief is a
			part of the bargain between the parties.
		</p>

		<p>
			The above disclaimer applies to any damages, liability or other
			perceived injuries caused by any kind of failure of performance,
			error, omission, interruption, deletion, defect, delay in operation
			or transmission, computer virus, communication line failure, theft
			or destruction of or unauthorized access to, alteration of, or use,
			whether for breach of contract, tort, negligence or any other cause
			of action, similar or otherwise. Note that Accoladi.com
			does not in any way guarantee a college or university scholarship
			and/or that a perspective college and/or university will make
			contact back with client.
		</p>
		<p>
			Accoladi.com reserves the right to do any of the
			following, at any time it deems appropriate, without notice: (1) to
			modify, suspend or terminate operation of or access to the Site, or
			any portion of the Site, for any reason it deems appropriate; (2) to
			modify or change the Site, or any portion of the Site, and any
			applicable policies or terms; and (3) to interrupt the operation of
			the Site, or any portion of the Site, as necessary to perform
			routine or non-routine maintenance, error correction, or other
			changes.
		</p>

		<p>Feedback and Information</p>
		<p>
			Any feedback or communication you provide at this site shall be
			deemed to be non-confidential. Accoladi.com shall be
			free to use such information on an unrestricted basis.
		</p>

		<p>Governing Law; Dispute Resolution</p>
		<p>
			You agree that all matters relating to access to or use of the Site,
			including all disputes, will be governed by the laws of the United
			States and by the laws of the State of Tennessee without regard to
			its conflicts of laws provisions. You agree to the personal
			jurisdiction by and venue in the state and federal courts in
			Davidson County, Tennessee, and you waive any objection to such
			jurisdiction or venue. Any claim under these Terms of Use must be
			brought within one (1) year after the cause of action arises, or
			such claim or cause of action is barred. No recovery may be sought
			or received for damages other than out-of-pocket expenses, except
			that the prevailing party will be entitled to costs and attorneys’
			fees. In the event that any controversy or dispute between
			Accoladi.com and you arising out of or in connection
			with your use of the Site, the parties shall attempt, promptly and
			in good faith, to resolve any such dispute. If we are unable to
			resolve any such dispute within a reasonable time (not to exceed
			thirty (30) days), then either party may submit such controversy or
			dispute to mediation. If the dispute cannot be resolved through
			mediation, then the parties shall be free to pursue any right or
			remedy available to them under applicable law.
		</p>

		<p>Indemnity</p>
		<p>
			You agree to indemnify and hold Accoladi.com, its
			officers, directors, shareholders, predecessors, successors in
			interest, employees, agents, subsidiaries and affiliates, harmless
			from any demands, loss, liability, claims or expenses (including
			attorneys’ fees), made against Accoladi.com by any third
			party due to or arising out of or in connection with your use of the
			Site.
		</p>

		<p>Links to Other Sites</p>
		<p>
			This Site may contain links to various other, independent,
			third-party Web sites ("Linked Sites"). These Linked Sites are
			provided solely as a convenience to our visitors and said Linked
			Sites are not under Accoladi.com’s control.
			Accoladi.com is not responsible for, nor does it endorse
			the content of any such Linked Sites, including any information or
			materials contained on or within such Linked Sites. It is entirely
			up to you to make your own independent judgment regarding your
			interaction with the aforementioned Linked Sites.
		</p>

		<p>Limitation of Liability</p>
		<p>
			Except where prohibited by law, in no event will
			Accoladi.com be liable to you for any indirect,
			consequential, exemplary, incidental or punitive damages, including
			lost profits, even if Accoladi.com has been advised of
			the possibility of such damages.
		</p>

		<p>
			If, notwithstanding the other provisions of these Terms of Use,
			Accoladi.com is found to be liable to you for any kind
			of damage or loss which arises from or is in any way connected with
			your use of the Site or any Content, in no event shall
			Accoladi.com’s liability ever exceed the greater of •
			The total of any fees with respect to any service or feature of or
			on the Site paid in the three months prior to the date of the
			initial claim made against Accoladi.com or • $250 US
			currency.
		</p>

		<p>
			Some jurisdictions do not allow limitations of liability, so the
			foregoing limitation may not apply to you.
		</p>

		<p>Miscellaneous</p>
		<p>
			If any of the provisions of these Terms of Use are held by a court
			or other tribunal of competent jurisdiction to be void or
			unenforceable, such provisions shall be limited or eliminated to the
			minimum extent necessary and replaced with a valid provision that
			best embodies the intent of these Terms of Use, so that these Terms
			of Use shall remain in full force and effect. These Terms of Use
			constitute the entire agreement between you and
			Accoladi.com with regard to your use of the Site, and
			any and all other written or oral agreements or understandings
			previously existing between you and Scholarships.com with respect to
			such use are hereby superseded and cancelled.
			Accoladi.com will not accept any counter-offers to these
			Terms of Use, and all such offers are hereby categorically rejected.
			Accoladi.com’s failure to insist on or enforce strict
			performance of these Terms of Use shall not be construed as a waiver
			by Accoladi.com of any provision or any right it has to
			enforce these Terms of Use, nor shall any course of conduct between
			Accoladi.com and you or any other party be deemed to
			modify any provision of these Terms of Use. These Terms of Use shall
			not be interpreted or construed to confer any rights or remedies on
			any third parties.
		</p>

		<p>Privacy Policy</p>
		<p>
			To view Accoladi.com’s Privacy Policy, click here.
			Accoladi.com’s Privacy Policy applies to use of this
			Site, and its terms are made a part of these Terms of Use by this
			reference. Additionally, by using the Site, you agree that Internet
			transmissions are never completely private or secure and that
			Accoladi.com cannot and will not be held accountable for
			the aforementioned potential lack of Internet transmission security.
			You understand that any message or information you send to the Site
			may be read or intercepted by others, even if there is a special
			notice that a particular transmission is via a secure server.
		</p>

		<p>Purchases; Terms and Conditions</p>
		<p>
			Additional terms and conditions may apply to purchases of goods or
			services and to specific sections or features of the Site, including
			all contests, promotions or other similar features, all of which
			terms are made a part of these Terms of Use by this very reference.
			You agree to abide by such other terms and conditions, including
			where applicable representing that you are of the required legal age
			to use or participate in said service or feature. If there is any
			conflict between these Terms of Use and the terms posted for, or
			applicable to, a specific portion of the Site or for any service
			offered on or through the Site, the latter terms shall have control
			with respect to your use of that portion of the Site or that
			specific service.
		</p>

		<p>
			Accoladi.com may make changes to any services or any
			products offered on the Site, or to the applicable prices for any
			services or any products, at any time, without notice. The materials
			on the Site with respect to products and services may be out of
			date, and Accoladi.com makes no commitment to update the
			materials on the Site with respect to the aforementioned products
			and services.
		</p>
		<p>
			Accoladi.com’s obligations, if any, with regard to its
			products and services are governed solely by the agreements pursuant
			to which they are provided, and nothing on this Site should be
			construed to alter such agreements.
		</p>
		<p>
			Each of these policies may be changed from time to time and are
			effective immediately upon posting such changes on the Site.
		</p>

		<p>Submit a Scholarship</p>
		<p>
			All information submitted to Accoladi.com is at the risk
			of the scholarship provider. Accoladi.com is not
			responsible for the accuracy of the information provided nor for any
			other aspect such as timeliness or response generated. All response
			to a scholarship generated as a result of inclusion in the
			Accoladi.com database will be the sole responsibility of
			the provider of the scholarship. Accoladi.com reserves
			the right to do any of the following, at any time it deems
			appropriate, without notice: (1) to modify, suspend or terminate any
			scholarship listing or access to Accoladi.com, or any
			portion of Accoladi.com, for any reason it deems
			appropriate; (2) to modify, change or terminate any scholarship
			listing within the Accoladi.com scholarship database,
			along with any policies or terms applicable to said scholarship
			listing.
		</p>

		<p>Use of the Site</p>
		<p>
			You are not, under any circumstance, to use any "deep-link",
			"page-scrape", "robot", "spider" or any other such automatic device,
			program, algorithm or methodology, or any similar manual or
			automated process, to copy, access or monitor or otherwise acquire
			any portion of the Site or any Content therein, or in any way
			reproduce or circumvent the navigational structure or presentation
			of the Site or any Content therein, to obtain or attempt to obtain
			any materials, documents or any other such information through any
			means not purposely made available through the Site.
			Accoladi.com reserves the right to bar any such
			activity.
		</p>
		<p>
			You may not probe, scan or test the vulnerability of the Site or any
			network that is connected to the Site, nor may you breach the
			security or authentication measures that are in place on the Site or
			any network connected to the Site. You may not reverse look-up,
			trace or seek to trace any information on any other user of and/or
			visitor to the Site, or any other customer of
			Accoladi.com, including any Accoladi.com
			account not owned by you, to its source, or exploit the Site or any
			service or information made available or offered by or through the
			Site, in any way where the purpose is to reveal any information,
			including but not limited to personal identification or information,
			other than your own information, as provided for by the Site.
		</p>
		<p>
			You may not attempt to gain unauthorized access to any portion nor
			any feature of the Site, nor may you attempt to view or access any
			other systems or networks connected to the Site nor may you attempt
			to gain access to any Accoladi.com server, nor to any of
			the services offered on or through the Site, by hacking, password
			"mining" or any other illegitimate means.
		</p>
		<p>
			By using the Site, you agree that you will not take any action that
			imposes an unreasonable or disproportionately large load on the
			servers or any part of the infrastructure of the Site or
			Accoladi.com’s systems or networks, or any other systems
			or networks connected to the Site or to Accoladi.com.
			You agree not to use any device, routine or software to interfere or
			attempt to interfere with the proper and efficient working of the
			Site or any transaction being conducted on the Site, or with any
			person’s use of the Site.
		</p>

		<p>
			You may not use the Site or any Content therein for any purpose that
			is unlawful or in any way prohibited by these Terms of Use, or to
			solicit the performance of any illegal activity or other activity
			which infringes the rights of Accoladi.com or others.
		</p>
		<p>
			You may not forge headers or otherwise disguise or manipulate
			identifiers in order to hide the origin of any message or
			transmittal you send to Accoladi.com on or through the
			Site or any service offered on or through the Site. You may not
			pretend that you are, or that you represent, someone else, or
			impersonate any other individual or entity.
		</p>

		<p>Violation of Terms of Use</p>
		<p>
			Accoladi.com may disclose any information we have about
			you (including your identity) if we have determined that such
			disclosure is necessary in connection with any investigation or
			complaint regarding your use of the Site, or to identify, contact or
			bring legal action against someone who may be causing injury to or
			interference with (either intentionally or unintentionally)
			Accoladi.com’s rights or property, or the rights or
			property of visitors to or users of the Site, including
			Accoladi.com’s customers. Accoladi.com
			reserves the right at all times to disclose any information that
			Accoladi.com deems necessary to comply with any
			applicable law, regulation, legal process or governmental request.
			Accoladi.com also may disclose your information if and
			when it has been determined that applicable law requires or permits
			such disclosure, including exchanging information with other
			companies and organizations for fraud protection purposes.
		</p>

		<p>
			You acknowledge and agree that Accoladi.com may preserve
			transmittal or communication by you with Accoladi.com
			through the Site or any service offered on or through the Site, and
			may also disclose such data if required to do so by law or
			Accoladi.com determines that such preservation or
			disclosure is reasonably necessary to: • Comply with legal process •
			Enforce these Terms of Use • Respond to claims that any such data
			violates the rights of others, or • Protect the rights, property or
			personal safety of Accoladi.com, its employees, users of
			or visitors to the Site, and the public.
		</p>

		<p>
			If Accoladi.com takes any legal action against you as a
			result of your violation of these Terms of Use,
			Accoladi.com will be entitled to recover from you, and
			you will agree to pay, all reasonable attorneys’ fees and costs of
			any such action, in addition to any other relief granted to
			Accoladi.com. You agree that Accoladi.com
			will not be liable to you or to any third party for termination of
			your access to the Site as a result of any violation of these Terms
			of Use.
		</p>

		<p>Void Where Prohibited</p>
		<p>
			Accoladi.com administers and operates the
			Accoladi.com Site from a location in Nashville,
			Tennessee, USA; other Accoladi.com sites may be
			administered and operated from various other locations. Although the
			Site is accessible worldwide, not all features, products or services
			discussed, referenced, provided or offered through or on the Site
			are available to all persons or in all geographic locations, or
			appropriate or available for use outside the United States.
			Accoladi.com reserves the right to limit, in its sole
			discretion, the provision and quantity of any feature, product or
			service to any person or geographic area. Any offer for any feature,
			product or service made on the Site is void where prohibited. If you
			choose to access the Site from outside the United States, you do so
			by your own initiative and you are solely responsible for complying
			with applicable local laws.
		</p>

		<p>Privacy Policy</p>
		<p>
			Accoladi.com recognizes that your privacy is important.
			To demonstrate our firm commitment to your privacy and to explain
			the types of information we obtain about visitors to our website,
			how that information is obtained and used, and how visitors can
			restrict its use or disclosure, we have created the Privacy Policy
			below. The following discusses our information gathering and
			dissemination practices at Scholarships.com.
		</p>

		<p>Information We Receive and How It Is Used</p>
		<p>
			All personal information obtained by Accoladi.com about
			individual visitors to our website is information supplied
			voluntarily by that visitor. During registration, a user is required
			to provide certain categories of information, such as name, address,
			email address, a password, date of birth, gender and country of
			citizenship. In addition, a user may choose to provide other
			categories of information, such as career objectives, health or
			disability information, hobbies and other interests.
			Accoladi.com encourages its users to provide all of
			these fields of information so that users may maximize the
			effectiveness of the scholarship and college search. We ask if we
			may make that information available to our select list of marketing
			partners, which are reputable companies and organizations that
			provide products and services of interest to students and parents.
			Our users choose whether to opt-in or opt-out of sharing their
			information with these partners.
		</p>
		<p>
			When Accoladi.com shares your personal information with
			a third party as described in this Privacy Policy, your personal
			information will become permanently subject to the information use
			and sharing practices of the third party. That third party will not
			be restricted by this Privacy Policy with respect to its use and
			further sharing of your personal information. If you agree to
			receive communications from our marketing partners and later change
			your mind, you may need to contact those companies directly. Any
			updates you wish to make to the information they possess must also
			be forwarded to the company communicating with you at that point in
			time. Users may make changes to the information in their personal
			profile at Accoladi.com at any time by logging-in to the
			website and entering the email address and password they submitted
			when creating their profile. After users have logged-in, they will
			be taken to their Scholarship Search Results. In the tabbed
			navigation at the top of the page, users will find a link to
			"Profile". By clicking on that tab, users will be taken to a summary
			of their information, divided into sections. An "Edit This Section"
			option in the upper-right corner of each section allows users to
			modify and update their information. To protect the security and
			integrity of users’ information, we will take reasonable steps to
			verify all new profile identities before providing access. It is the
			responsibility of the user to make all necessary changes in their
			profile to ensure the information they have provided while
			completing their registration or conducting a scholarship search
			remains current.
		</p>
		<p>
			Users of ScholarshipAudutions.com who wish to terminate their
			membership at ScholarshipsAuditions.com may do so at any time by
			contacting our unsubscribe department. Please be sure to type
			"Remove" in the subject field and submit the email account
			associated with your profile, along with your password.
		</p>
		<p>
			Accoladi.com is committed to safeguarding users' privacy
			on our website. We require our employees to protect our users and
			visitors by keeping their profile information private, and expect
			our marketing partners to do the same. You can feel confident that
			your user profile will be protected when you visit
			Accoladi.com. We have security measures in place to
			protect against the loss, misuse and alteration of all user
			information under our control. Regardless of your decision regarding
			the sharing of your personal information, we reserve the right to
			share aggregated demographic data and related usage information with
			our business partners. Such aggregate information will not contain
			any personal information that can identify any individual user.
		</p>

		<p>Information Sharing & Email Preferences</p>
		<p>
			Accoladi.com understands the importance of protecting
			personally-identifiable information. We will not share, sell, rent
			or otherwise transfer this information without the user's
			permission, and then only in accordance with the terms set forth in
			this Privacy Policy. Our website provides users the opportunity to
			unsubscribe (opt-out) from receiving email messages from
			Accoladi.com and its marketing partners, or from having
			their personal information shared with our marketing partners. Users
			may change their email preferences by clicking here. Please allow up
			to seven business days for these changes to take effect.
			Accoladi.com may use your contact information
			periodically in order to send you email regarding updates at the
			Accoladi.com site, such as Accoladi.com
			opportunities and additional listings which may be of interest to
			you. The frequency of these messages will vary depending upon your
			profile, including the types of scholarships and other activities
			you have indicated an interest in. If you specifically provide
			Accoladi.com with permission at the time of
			registration, you may also receive commercial emails. Please note
			that email messages from third parties are not governed by the
			opt-out provisions of this Privacy Policy.
		</p>

		<p>Collection of Passive Information</p>
		<p>
			To gauge the effectiveness of our website, we collect generic
			information about our visitors that is not
			individually-identifiable. Our web servers automatically recognize a
			visitor's IP address, the web page from which a visitor enters our
			website, which pages a visitor visits, and how much time a visitor
			spends on each page. This information does not reveal a visitor's
			identity. We aggregate this information and use it to help diagnose
			problems with our web server, to administer to our website, or to
			evaluate and improve our website’s functions and resources. We use
			cookies to tell our server that a visitor has initiated a user
			session; however, they do not contain individually-identifiable
			information. Some of our business partners, such as advertisers, use
			cookies on our site, but we have no access to, nor control over,
			these cookies. This Privacy Policy covers the use of cookies by
			Accoladi.com only and does not cover the use of cookies
			by our business partners.
		</p>
		<p>
			We may share statistical and demographic information about our
			website's visitors with our marketing partners. This information is
			only provided in the aggregate, meaning that the information is
			about our website's visitors as a group and not about
			individually-identifiable visitors. We follow generally-accepted
			industry standards to protect the personal information submitted to
			us, both during transmission and once we receive it. However, no
			method of transmission over the Internet or method of electronic
			storage is 100 percent secure. Therefore, while we strive to use
			commercially-acceptable means to protect your personal information,
			we cannot guarantee its absolute security.
		</p>
		<p>
			If you have any questions about security on our website, you can
			contact our privacy department.
		</p>

		<p>Links to Other Websites</p>
		<p>
			Accoladi.com contains text and banner links to other
			sites. Please be aware that Accoladi.com does not
			exercise control over the information, products, services or
			policies of third party companies accessible through our site. This
			Privacy Policy applies solely to the information collected by this
			site.
		</p>

		<p>Collection of Information from Children</p>
		<p>
			Accoladi.com abides by federal law and the guidelines
			set up by the Federal Trade Commission regarding youth privacy. As
			such, Accoladi.com will not knowingly collect any
			personally-identifiable information from children under the age of
			13, nor will children under the age of 13 be allowed to register
			with Accoladi.com with out documented permission of
			parent or legal guardian.
		</p>

		<p>Notification of Changes</p>
		<p>
			If we are going to use your personally identifiable information in a
			manner materially different from that stated at the time of
			collection, we will notify you via email. You will have the option
			to decide whether we may use your information in this manner. In
			addition, if we make any material changes to our Privacy Policy that
			do not affect user information already stored in our database, we
			will post a prominent notice on our website notifying users of the
			change. In cases where we post notice of changes, we may also email
			users who have opted to receive communications from us, notifying
			them of those changes to our privacy practices.
		</p>
		<p>
			In the event that Accoladi.com sells, signs or transfers
			some or all of its business to a successor or acquirer,
			Accoladi.com may sell, assign or transfer all of your
			information, regardless of your opt status, to such successor or
			acquirer.
		</p>

		<p>Testimonials</p>
		<p>
			We post user testimonials on our website, all of which are
			volunteered and none of which contain individually-identifiable
			information beyond that user's first name, last initial, and
			photograph. Each user is made aware of the purpose of their supplied
			testimonial and the fact that it will be published at
			Accoladi.com. Users are under no obligation to
			participate, and we obtain the user's consent prior to posting this
			information.
		</p>
		<p>Acceptance of Terms/Changes to Privacy Policy</p>
		<p>
			Your use of this site indicated an acceptance of the terms of the
			Privacy Policy. Accoladi.com reserves the right to
			update or amend this Privacy Policy from time to time without notice
			to users other than posting the new Privacy Policy on this page.
			After posting such amended Privacy Policy, all information provided
			to us will be subject to the terms of the amended Privacy Policy.
			Please visit this page periodically so that you will be apprised of
			any changes.
		</p>

		<p>Other</p>
		<p>
			In the event that Accoladi.com sells, signs or transfers
			some or all of its business to a successor or acquirer,
			Accoladi.com may sell, assign or transfer all of your
			information, regardless of your opt status, to such successor or
			acquirer.
		</p>
	</div>

	<div class="modal-footer d-flex justify-content-between" >
		
		<button type="button" 
				class="btn gray-btn" 
				(click)="close()" >
			Cancel
		</button>

		<button type="button"
				class="btn btn-default"
				(click)="activeModal.dismiss('Close clicked')" >
			Close
		</button>

	</div>

</div>