<div class="card " >

	<div class="card-body" *ngIf="recruiter" >

		<h3>
			Students who have submitted <b><i>Introduction</i></b> Letters
		</h3>

		<table class="table table-condensed" >

			<thead>
				<tr>
					<th>#</th>
					<th class="text-left" >Name</th>
					<th class="text-left" >State</th>
					<th class="text-left" >Talents</th>
					<th class="text-center" >Honors/Awards</th>
					<th class="text-center" ></th>
				</tr>
			</thead>

			<tbody *ngIf="!intoLetterList || intoLetterList.length === 0" >
				<tr *ngFor="let student of intoLetterList; let i = index" >
					<th colspan="7" scope="row" >No Students</th>
				</tr>
			</tbody>

			<tbody *ngIf="intoLetterList && intoLetterList.length > 0" >
				<tr *ngFor="let student of intoLetterList; let i = index" >
					<th scope="row" >{{ i + 1 }}</th>
					<td class="text-left" >
						{{ student.name }} <br />
						<br />
						<small>{{ student.school }}</small>
					</td>
					<td>
						<div *ngIf="student.talents" >
							<small *ngFor="let talent of student.talents" >
								{{ talent.talent }} </small
							>&nbsp;
						</div>
					</td>
					<td class="text-left" >
						<small> {{ student.state }}</small>
					</td>
					<td class="text-center" >
						<div *ngIf="student.honors && student.honors.length > 0" >
							<div *ngFor="let event of student.events" >
								{{ event }}
							</div>
						</div>
					</td>
					<td class="text-right" nowrap="nowrap" >
						<button
							type="button"
							class="btn btn-sm "
							onclick="alert('Feature coming soon')" >
							View Letter
						</button>
						&nbsp;
						<button
							type="button"
							class="btn btn-sm "
							(click)="sendMessage(student._id)" >
							Send Message
						</button>
						&nbsp;
						<a
							[routerLink]="'/recruiter/dashboard/' + student._id"
							href="javascript:;"
							class="btn btn-sm " >
							View Profile
						</a>
					</td>
				</tr>
			</tbody>

		</table>

		<div class="d-flex justify-content-between p-2" >
			
			<ngb-pagination
				[maxSize]="10" 
				[rotate]="true" 
				[ellipses]="false" 
				[boundaryLinks]="true"
				class="d-flex justify-content-center"
				[collectionSize]="intoLetterList.length"
				[(page)]="pageILL"
				[pageSize]="pageSizeILL"
				(pageChange)="pageChangeILL($event)" >
			</ngb-pagination>

			<select
				class="custom-select"
				style="width: auto"
				name="pageSizeILL"
				[(ngModel)]="pageSizeILL"
				(change)="pageChangeILL($event)" >
				<option [ngValue]="10" >10 items per page</option>
				<option [ngValue]="25" >25 items per page</option>
				<option [ngValue]="50" >50 items per page</option>
			</select>

		</div>

		<hr />

		<h3>
			Students who have submitted <b><i>Reference</i></b> Letters
		</h3>

		<table class="table table-condensed" >
			
			<thead>
				<tr>
					<th>#</th>
					<th class="text-left" >Name</th>
					<th class="text-left" >State</th>
					<th class="text-left" >Talents</th>
					<th class="text-center" >Honors/Awards</th>
					<th class="text-center" ></th>
				</tr>
			</thead>

			<tbody *ngIf="!refLetterList || refLetterList.length === 0" >
				<tr *ngFor="let student of refLetterList; let i = index" >
					<th colspan="7" scope="row" >No Students</th>
				</tr>
			</tbody>

			<tbody *ngIf="refLetterList && refLetterList.length > 0" >
				<tr *ngFor="let student of refLetterList; let i = index" >
					<th scope="row" >{{ i + 1 }}</th>
					<td class="text-left" >
						{{ student.name }} <br />

						<br />
						<small>{{ student.school }}</small>
					</td>
					<td>
						<small> {{ student.state }}</small>
					</td>
					<td>
						<div *ngIf="student.talents" >
							<small *ngFor="let talent of student.talents" >
								{{ talent.talent }} </small
							>&nbsp;
						</div>
					</td>
					<td class="text-center" >
						<div *ngIf="student.honors && student.honors.length > 0" >
							<div *ngFor="let event of student.events" >
								{{ event }}
							</div>
						</div>
					</td>
					<td class="text-right" nowrap="nowrap" >
						<button
							type="button"
							class="btn btn-sm "
							onclick="alert('Feature coming soon')" >
							View Letter
						</button>
						&nbsp;
						<button
							type="button"
							class="btn btn-sm "
							(click)="sendMessage(student._id)" >
							Send Message
						</button>
						&nbsp;
						<button
							type="button"
							class="btn btn-sm "
							(click)="viewProfile(student._id)" >
							View Profile
						</button>
					</td>
				</tr>
			</tbody>

		</table>

		<div class="d-flex justify-content-between p-2" >
			
			<ngb-pagination
				[maxSize]="10" 
				[rotate]="true" 
				[ellipses]="false" 
				[boundaryLinks]="true"
				class="d-flex justify-content-center"
				[collectionSize]="refLetterList.length"
				[(page)]="pageRLL"
				[pageSize]="pageSizeRLL"
				(pageChange)="pageChangeRLL($event)" >
			</ngb-pagination>

			<select
				class="custom-select"
				style="width: auto"
				name="pageSizeRLL"
				[(ngModel)]="pageSizeRLL"
				(change)="pageChangeRLL($event)" >
				<option [ngValue]="10" >10 items per page</option>
				<option [ngValue]="25" >25 items per page</option>
				<option [ngValue]="50" >50 items per page</option>
			</select>

		</div>

		<hr />

	</div>
	
</div>
