<div class="gold-page" >

	<div class="row justify-content-center align-items-center h-450" >

		<div class="col col-sm-8 col-md-8 col-lg-6 col-xl-6" >

			<ng-container *ngIf="!role" >

				<h2 class="text-center">
					<b>Welcome to Accoladi.com!</b>
				</h2>

				<h3 class="text-center">
					We are your premier collegiate recruitment platform for the performing fine arts.
					<br /><b>Select your role below to begin!!</b>
				</h3>

				<div class="flex-container">

					<div (click)="selectRole('Student')">
						<div class="tab ">
							<p class="tabTitle text-center">STUDENT</p>
						</div>
					</div>

					<div (click)="selectRole('Teacher')">
						<div class="tab ">
							<p class="tabTitle text-center">TEACHER</p>
						</div>
					</div>

					<div (click)="selectRole('Recruiter')">
						<div class="tab ">
							<p class="tabTitle text-center">HIGHER ED</p>
						</div>
					</div>

				</div>

				<div class="text-center">
					<sub><b>STUDENT</b> = Performing Arts student between 6th - 12th grade</sub><br />
					<sub><b>TEACHER</b> = Music directors, counselors, private instructor, teachers of students between 6th - 12th grade</sub><br />
					<sub><b>HIGHER ED</b> = Collegiate faculties or recruiters looking to fill program ensemble needs</sub>
				</div>

			</ng-container>

			<ng-container *ngIf="role" >

				<h3 class="text-center">
					You are registering as a {{ role }}.
				</h3>

				<form novalidate="novalidate" autocomplete="false" [formGroup]="form">

					<div class="form-row">

						<div class="offset-md-3 col-md-3 form-group required" [ngClass]="displayFieldCss('first_name')">
							<label for="first_name" class="control-label ">First Name</label>
							<input id="first_name" name="first_name" type="text" class="form-control" formControlName="first_name" [class.state-error]="isFieldInvalid('first_name')" />
							<app-field-error-display [displayError]="isFieldInvalid('first_name')" errorMsg="Please provide first name"> </app-field-error-display>
						</div>

						<div class="col-md-3 form-group required" [ngClass]="displayFieldCss('last_name')">
							<label for="last_name" class="control-label ">Last Name</label>
							<input id="last_name" name="last_name" type="text" class="form-control" formControlName="last_name"[class.state-error]="isFieldInvalid('last_name')" />
							<app-field-error-display [displayError]="isFieldInvalid('last_name')"errorMsg="Please provide last name"></app-field-error-display>
						</div>

					</div>

					<div class="form-row">

						<div class="offset-md-3 col-md-3 form-group required" [ngClass]="displayFieldCss('email')">
							<label for="email" class="control-label ">Email</label>
							<input id="email" name="email" type="email" class="form-control" autocomplete="username" formControlName="email" [class.is-valid]="f.email.status === 'VALID'" [class.state-error]="isFieldInvalid('email')" />
							<app-field-error-display [displayError]="isFieldInvalid('email')" *ngIf="f.email.errors && f.email.errors.required" errorMsg="Please provide an email"></app-field-error-display>
							<app-field-error-display [displayError]="isFieldInvalid('email')" *ngIf="f.email.errors && f.email.errors.email" errorMsg="Please provide a valid email"></app-field-error-display>
							<app-field-error-display [displayError]="isFieldInvalid('email')" *ngIf="f.email.errors && f.email.errors.emailTaken" errorMsg="This email is already taken"></app-field-error-display>
						</div>

						<input type="hidden" name="role" formControlName="role" />

						<div class="col-md-3 form-group required" [ngClass]="displayFieldCss('username')">
							<label for="username" class="control-label ">Username</label>
							<input id="username" name="username" type="text" class="form-control" autocomplete="false" formControlName="username" [class.state-error]="isFieldInvalid('username')" />
							<app-field-error-display [displayError]="isFieldInvalid('username')" errorMsg="Please provide username"></app-field-error-display>
						</div>

					</div>

					<div class="form-row">

						<div class="offset-md-3 col-md-3 form-group required" [ngClass]="displayFieldCss('password')">
							<label for="password" class="control-label ">Password</label>
							<input id="password" name="password1" type="password" class="form-control" autocomplete="false" formControlName="password" [class.state-error]="isFieldInvalid('password')" />
							<app-field-error-display [displayError]="isFieldInvalid('password')" errorMsg="Please provide a password"></app-field-error-display>
						</div>

						<div class="col-md-3 form-group required" [ngClass]="displayFieldCss('confirm_password')">
							<label for="confirm_password" class="control-label ">Confirm password</label>
							<input id="confirm_password" name="confirm_password" type="password" class="form-control" formControlName="confirm_password" [class.state-error]="isFieldInvalid('confirm_password')" />
							<app-field-error-display [displayError]="isFieldInvalid('confirm_password')" errorMsg="Please confirm password"></app-field-error-display>
							<app-field-error-display [displayError]="!isFieldInvalid('confirm_password') && form.errors && form.errors.mismatch" errorMsg="Password mismatch"></app-field-error-display>
						</div>

					</div>

					<div class="form-row">

						<div class="offset-md-3 col-md-3 form-group required" [ngClass]="displayFieldCss('zip_code')">
							<label for="zip_code" class="control-label ">Zip Code</label>
							<input id="zip_code" name="zip_code" type="text" class="form-control" formControlName="zip_code" [class.state-error]="isFieldInvalid('zip_code')" />
							<app-field-error-display [displayError]="isFieldInvalid('zip_code')" errorMsg="Please provide Zip code"></app-field-error-display>
						</div>

					</div>

					<div class="form-row">
						<div class="offset-md-5 col-md-2 form-group">
							<label for="promo_code" class="control-label">Promo Code</label>
							<input id="promo_code" name="promo_code" type="text" class="form-control" formControlName="promo_code" />
						</div>
					</div>

					<div *ngIf="role === 'Recruiter'">

						<div class="form-row">

							<div class="offset-md-3 col-md-3 form-group">
								<label class="control-label " for="college">College</label>
								<input id="college" name="college" type="text" class="form-control" placeholder="Search colleges ..." formControlName="college" [ngbTypeahead]="searchColleges" [inputFormatter]="formatMatches" [resultTemplate]="rt" (selectItem)="selectedCollege($event)" />
								<span *ngIf="searchingColleges">searching...</span>
								<div *ngIf="searchFailed" class="invalid-feedback">Sorry, suggestions could not be loaded.</div>

								<input type="hidden" name="college_id" formControlName="college_id" value="" />

								<ng-template #rt let-r="result" let-t="term">
									<span class="device">
										<span class="grayout">{{ r?.name }}</span>
										<br />
										<small class="grayout">{{ r?.state }}</small>
									</span>
								</ng-template>
							</div>

							<div class="col-md-3 form-group">
								<label for="title" class="control-label ">Title</label>
								<input id="title" name="title" type="text" class="form-control" formControlName="title" />
							</div>

						</div>

						<div class="form-row">

							<div class="offset-md-3 col-md-3 form-group">
								<label for="discipline" class="control-label ">Discipline</label>
								<input id="discipline" name="discipline" type="text" class="form-control" formControlName="discipline" />
							</div>

							<div class="col-md-3 form-group">
								<label for="faculty_url" class="control-label ">Faculty URL</label>
								<input id="faculty_url" name="faculty_url" type="text" class="form-control" formControlName="faculty_url" />
							</div>

						</div>

						<div class="form-row">

							<div class="offset-md-3 col-md-6 form-group">
								<p>
									By submitting this form I confirm that I am the
									person whom I claim to be, and that I have the
									authority to recruit for the school identified
									above. I understand that Accoladi.com
									will confirm these claim and take appropriate
									action if they find them to be false - I also
									understand my account will NOT be active until
									such confirmation.
								</p>
								<br />

								<div class="checkbox">
									<label for="agree" class="control-label">
										<input id="agree" name="agree" type="checkbox" formControlName="agree" />
										I agree
									</label>
								</div>

							</div>

						</div>

					</div>

					<div class="form-row">

						<div class="offset-md-3 col-md-6">

							<br />

							<div *ngIf="registerFailed" class="alert alert-danger" role="alert">
								{{ feedback }}
							</div>

							<br />

							<div class="d-flex justify-content-center">
								<button appDisableDoubleClick (click)="submitForm()" class="btn" [disabled]="!agreed">
									<span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
									{{ loading ? "Processing..." : "Register" }} {{aagreed}}
								</button>
							</div>

						</div>

					</div>


				</form>

			</ng-container>

			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="mb-4">Already have an account?</h2>
						<a [routerLink]="['/login']" class="btn">Log In</a>
					</div>
				</div>
			</div>

		</div>

	</div>


	<app-footer></app-footer>

</div>