<style>
	.public-scholarship-page {
		margin-top: 3em;
	}
</style>

<div class="public-scholarship-page gold-page">

	<div class="px-4 py-5" >

		<div class="row mb-3 d-flex align-items-center" >

			<div class="col-md-12" >

				<nav aria-label="breadcrumb" >

					<ol class="breadcrumb" >

						<li class="breadcrumb-item" >
							<a routerLink="/student/search" >Search</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page" >
							Scholarships
						</li>

					</ol>

				</nav>

			</div>

		</div>

		<div
			*ngIf="userService.currentUser.role.toLowerCase() === 'student'"
			class="form-check" >

			<input
				type="checkbox"
				class="form-check-input m-1"
				id="exampleCheck1"
				[(ngModel)]="showFS"
				(ngModelChange)="showFSChanged($event)" />

			<label class="form-check-label" for="exampleCheck1" >
				Show favorite scholarships
			</label>

		</div>

		<app-scholarship-saved
			*ngIf="showFS && userService.currentUser.role.toLowerCase() === 'student'" >
		</app-scholarship-saved>

		<div *ngIf="!showFS" >

			<section class="module" >

				<div>

					<h2>

						<img
							style="max-width:16px; margin-right:8px;"
							src="assets/img/search-icon-38.png" />
							Search Scholarships

					</h2>

				</div>

				<form
					class="my-4 mx-5"
					novalidate="novalidate"
					autocomplete="off"
					[formGroup]="form"
					(ngSubmit)="submitForm()" >

					<div class="form-row" >

						<div class="col-md-3 form-group" >

							<label class="control-label" >
								Keyword
							</label>

							<input
								class="form-control "
								type="text"
								formControlName="name"
								placeholder="Search by Keyword" />

						</div>

						<div class="col-md-3 form-group" >

							<label class="control-label" >
								Organization
							</label>

							<input
								class="form-control "
								type="text"
								formControlName="organization"
								placeholder="Organization" />

						</div>

						<div class="col-md-3 form-group" >

							<label class="control-label" >
								State
							</label>

							<select
								class="form-control "
								name="state"
								formControlName="state"
								placeholder="State" >

								<option value="" >
									Any
								</option>

								<option
									*ngFor="let state of states"
									[ngValue]="state.abbr" >
									{{ state.name }}
								</option>

							</select>

						</div>

						<div class="col-md-3 form-group" >

							<label class="control-label" >
								Type
							</label>

							<select
								class="form-control "
								formControlName="type"
								placeholder="Type" >

								<option value="" >
									Any
								</option>

								<option
									*ngFor="let type of types"
									[ngValue]="type" >
									{{ type }}
								</option>

							</select>

						</div>

					</div>

					<div class="form-row"
						*ngIf="isListsLoaded" >

						<div class="col-md-12 form-group"
							formGroupName="appliesTo" >

							<div>

								<label class="control-label" >
									Applies To
								</label>

								<div class="row" >

									<div class="nobreak"
										*ngFor="let item of applies_to; index as i" >

										<div>

											<input
												type="checkbox"
												formControlName="{{ item }}"
												(change)="onCheckAppliesTo(item, $event)" />
												{{ item }}

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

					<div class="form-row" >

						<div class="col-md-12 form-group" >

							<div class="d-flex justify-content-center" >

								<button
									type="button"
									class="btn recruiter-search-reset-btn gray-btn"
									(click)="resetForm()" >
									Reset
								</button>

								<span>&nbsp; &nbsp;</span>

								<button
									type="button"
									class="btn "
									(click)="submitAttempted=true; submitForm();"
									appDisableDoubleClick >

									<span
										*ngIf="loading"
										class="spinner-border spinner-border-sm"
										role="status"
										aria-hidden="true" >
									</span>

									{{
										loading
										?  "Searching..."
										: "Search"
									}}

								</button>

							</div>

						</div>

					</div>

				</form>

			</section>

			<div *ngIf="requestFailed"
				class="row" >

				<div class="col-md-12" >

					<div class="alert alert-danger"
						role="alert" >
						{{ feedback }}
					</div>

				</div>

			</div>

			<h3 *ngIf="searchResults && searchResults.length"
				class="mb-4 mt-5" >
				Search Results ({{ total }})
			</h3>

			<div *ngIf="searchResults && searchResults.length"
				class="mb-4 mt-5" >
				PLEASE NOTE: Because of fluctuating market conditions, not all scholarships may be available.
				Check link for updated availability.
			</div>

			<section *ngIf="searchResults && searchResults.length"
					class="module" >

				<div class="general-table" >

					<table class="table" >

						<thead>
							<tr>
								<th width="25%" >Name</th>
								<th width="25%" >Organization</th>
								<th>State</th>
								<th>Type</th>
								<th *ngIf="	userService.currentUser.role.toLowerCase() === 'student' " >Favorite</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngFor="let s of searchResults" >
								<td class="text-left" >
									<!-- <a href="javascript:;" (click)="viewDetails(s._id)" >{{ s.name }}</a> -->
									<a *ngIf="s.organization.address.state.length > 0" routerLink="/scholarships/{{ s.organization.address.state | uppercase  }}/{{ s.name | replace:' ':'_' }}" >{{ s.name }}</a>
									<a *ngIf="s.organization.address.state.length == 0" routerLink="/scholarships/ANY/{{ s.name | replace:' ':'_' }}" >{{ s.name }}</a>
								</td>
								<td class="text-left" >{{ s.organization.name }}</td>
								<td class="text-left" >{{ extractState(s) }}</td>
								<td class="text-left" >{{ extractType(s) }}</td>
								<td class="text-left" >
									<div *ngIf=" userService.currentUser.role.toLowerCase() === 'student' && !inSSList(s._id) "
										class="img-hover-switch"
										(click)="saveScholarship(s)" >

										<img *ngIf="!isSavingScholarship(s._id)"
											style="max-width:21px"
											src="assets/img/not-yet-favorite-star-41.png" />

										<img *ngIf="!isSavingScholarship(s._id)"
											style="max-width:21px"
											src="assets/img/favorite-star-42.png" />

										<span *ngIf="isSavingScholarship(s._id)"
											class="spinner-border spinner-border-sm"
											role="status"
											aria-hidden="true" ></span>
									</div>

									<img *ngIf="inSSList(s._id)"
										style="max-width:21px"
										src="assets/img/favorite-star-42.png" />
								</td>
							</tr>
						</tbody>

					</table>

				</div>

			</section>

			<section *ngIf="searchResults && !searchResults.length"
					class="module" >

				<div class="general-table" >
					No scholarships found with that specified criteria.
				</div>

			</section>

			<div *ngIf="searchResults && searchResults.length && userService.currentUser.role.toLowerCase() === 'student'"
				class="d-flex justify-content-center p-2" >

				<ngb-pagination
					class="d-flex justify-content-center"
					[maxSize]="10"
					[collectionSize]="total"
					[rotate]="true"
					[(page)]="page"
					[pageSize]="pageSize"
					(pageChange)="pageChange($event)"
					[boundaryLinks] >
				</ngb-pagination>

			</div>

		</div>

	</div>


	<app-footer></app-footer>

</div>