<div class="gold-page">

	<div class="container-fluid">

		<div class="row justify-content-md-center">

			<div class="col-md-8 article-header-title text-center">
				<h1>ABOUT US</h1>
				<hr class="article-hr">
			</div>

			<div class="col-md-8">
				<div class="text-justified" >Since 2018, Accoladi, the foremost online resource for performing arts students, has been successfully connecting these students with higher education institutions, as well as identifying potential scholarship funds. Prospective music majors or non-music majors desiring to participate in collegiate ensembles are provided with tools, information, and secure exposure to maximize their collegiate potential and scholarship opportunities. Through Accoladi's affordable services, the end result is heightened collegiate acceptance, audition success, and scholarship accessibility.</div>
				&nbsp;<br>
			</div>

			<div class="col-md-8">
				<h3 class="text-center mt-5" >OUR MISSION</h3>
				<div class="text-justified" >To empower student performers to recognize, afford, and achieve their collegiate dreams. </div>
				&nbsp;<br>
			</div>

			<div class="col-md-8">
				<h3 class="text-center mt-5" >OUR STORY</h3>
				<div class="text-justified" >At Accoladi, we believe all students deserve an opportunity to attend a college, university, or conservatory which will strengthen the calling, individual mission, and future career goals of each student. Founder, Dr. Randall Bayne, is an advocate and mentor for expanding performing arts students' access to collegiate opportunities. He has extensive experience working with a myriad of student desires and possibilities as they journey through the collegiate selection, application, audition, scholarship, and acceptance process. Accoladi is a team of professionals who are continually enhancing this service to help students in all musical disciplines find an inviting and affordable path to a higher educational experience. </div>
				&nbsp;<br>
			</div>

			<div class="col-md-8">
				<h3 class="text-center mt-5" >OUR COMMITMENT TO DIVERSITY & INCLUSION</h3>
				<div class="text-justified" >At Accoladi, we are dedicated to providing access and opportunity through the intentional inclusion
				in our community of students, parents, families, and scholastic and higher education faculty/administrators. We are committed to providing a secure, welcoming, and accessible space for
				people of any identity or background including, but not limited to race, ethnicity, nationality, gender
				identity/expression, sexual orientation, socio-economic status, religion, age, and ability. Our service
				is proactive in learning from, and listening to, all perspectives in the pursuit of our overarching mission.</div>
				&nbsp;<br>
			</div>

			<div class="col-md-8">
				<h3 class="text-center mt-5" >MEET OUR TEAM</h3>
				<div class="text-justified" >ScholarshipAuditions.com is designed and operated by music teachers,
					former college deans, fine arts parents, and professional musicians.
					&nbsp;<br>
				</div>

				<div class="container-fluid" >

					<div class="row" >

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/randall2.png" class="img-fluid" alt="Randall Bayne - CEO" />
							<p  class="text-center" >Dr. Randall A. Bayne<br>Founder, CEO & Chairman</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/miriam2.png" class="img-fluid" alt="Miriam Hendricks – Director of Data and Research" />
							<p  class="text-center" >Miriam Hendricks<br>Director of Data & Research</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/david2.png" class="img-fluid" alt="David Campbell – Director of Media" />
							<p  class="text-center" >David Campbell<br>Director Content & Production</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/james2.png" class="img-fluid" alt="James Pecora - CIO" />
							<p  class="text-center" >James Pecora<br>CIO</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/ryan.png" class="img-fluid" alt="Ryan Vecella – Videographer" />
							<p  class="text-center" >Ryan Vecella<br>Videographer</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/donette2.png" class="img-fluid" alt="Donette Baynee – CAO" />
							<p  class="text-center" >Donette Bayne<br>CAO</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/haley2.png" class="img-fluid" alt="Haley Garrick – Researcher" />
							<p  class="text-center" >Haley Garrick<br>Researcher</p>
						</div>

						<div class="col-md-3 col-sm-3 col-6" >
							<img src="assets/images/team/liang.png" class="img-fluid" alt="Liang Wang – Asian-Pacific Consultant" />
							<p  class="text-center" >Liang Wang<br>Asian-Pacific Consultant</p>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<app-footer></app-footer>

</div>