<!-- ArticleSub-Header Start -->
<div id="advantage-header">
	<h1 class="text-left">
		The Accoladi<br>Advantage
	</h1>
</div>
<!-- ArticleSub-Header End -->

<!-- Right-School Section Start -->
<div id="right-school" class="text-center">
	<h1>Finding the School That's Your Right Fit</h1>
</div>
<!-- Right-School Section End -->

<!-- Right-School-Details Section Start -->
<div id="right-school-details">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>
					Accoladi is home to a team of passion-driven professionals with direct experience in collegiate performing arts recruiting and admissions, auditioning, and scholarship procurement. We are seasoned experts who provide students and their families, along with scholastic music teachers with targeted guidance through every step of the admissions, audition, and scholarship process.
				</p>
			</div>
		</div>
		<h1>What Makes Us Unique</h1>
		<div class="row">
			<div class="col-12 advantage-subheader" >
				<p>
					Student members have opportunities to make connections with all colleges, universities, and conservatories in America
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					Unlike other services, Accoladi is free to all collegiate recruiters. As a result,  student member connections are not limited by paid advertising or sponsorship by colleges or organizations.
				</p>
				<p>
					Accoladi has no paid advertisements or sponsorships on its site, creating a level playing field of opportunities for student members to connect with all recruiters in the US. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 advantage-subheader">
				<p>
					Accoladi’s in-house resources demystify the admissions and audition process
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					Accoladi’s resources include tools, proven systems, current directories, step-by-step guides, and study materials derived from real college audition requirements and exams. 
				</p>
				<p>
					These resources aid the student in achieving collegiate application, audition, and scholarship success.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 advantage-subheader">
				<p>
					Reasonably priced student memberships for total access to Accoladi’s connections and resources
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					Accoladi does not upcharge. All resources and services are included in the membership fee. Unlike collegiate coaches, we do not charge retainers and/or hourly rates.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 advantage-subheader">
				<p>
					Accoladi knows where the money is
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p>
					Unlike other related services, we accurately differentiate between institutional and non-institutional scholarships to give our student members greater scholarship opportunities.
				</p>
				<p>
					We’ve done the research. We provide a directory of national non-institutional scholarships and step-by-step guides to procure institutional scholarships.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Right-School-Details Section End -->