<div class="gradient-bg">

	<ng-container *ngIf="!htmlData" >

		<div class="container-fluid">
			
			<div class="row justify-content-md-center">

				<!-- id="audition-requirement-header" -->
				<section  class="avoid-navbar">

					<div class="container-fluid">

						<div class="arh-context text-center">

							<h1 style="margin-top: 20px;" >Audition Requirements</h1>

						</div>

					</div>

				</section>

				<div class="container-fluid">
					
					<div class="arh-context">
						<p>
							Knowing what to perform is the first step in preparation for your college audition. 
							The audition requirements give a glimpse of the personality of each school. 
							There are two types of music schools: standard schools offer a generalized collegiate experience, while premier schools have a greater concentration on performance.
						</p>
						
						<div class="row">
							
							<div class="col-md-8">
								<p>Standard School Auditions:</p>
								<ul>
									<li>Perform a solo of choice</li>
									<li>Perform two contrasting solos</li>
									<li>Perform an étude or vocal exercise of choice</li>
								</ul>

								<p>Premier School Auditions:</p>
								<ul>
									<li>Perform solo that is designated</li>
									<li>Perform solo memorized</li>
									<li>Perform excerpts</li>
								</ul>
							</div>

							<div class="col-md-4">
								<img src="assets/images/soar-singer.png" class="rounded float-right img-fluid" style="max-width: 350px; height: auto;" alt="">
							</div>
						
						</div>

						<p>
							Our in-house research team has reviewed the audition requirements of U.S. colleges, universities, and conservatories and compiled model audition requirements for both standard and premier school auditions.
						</p>

						<table class="tbl table">
							<tr>
								<td style="width:33%;padding:5px;border-right: solid thin black;vertical-align:top;">
									<p class=" finger" [routerLink]="['/public/audition-requirements/flute']" >Flute</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/oboe']" >Oboe</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/bassoon']" >Bassoon</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/clarinet']" >Clarinet</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/bass-clarinet']" >Bass Clarinet</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/alto-sax']" >Alto Saxophone</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/tenor-sax']" >Tenor Saxophone</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/bari-sax']" >Baritone Saxophone</p>


									<p class=" finger" [routerLink]="['/public/audition-requirements/trumpet']" >Trumpet</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/french-horn']" >French Horn</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/trombone']" >Trombone</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/tenor-trombone']" >Tenor Trombone</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/bass-trombone']" >Bass Trombone</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/euphonium']" >Euphonium</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/tuba']" >Tuba</p>
								</td>
								<td style="width:33%;padding:5px;border-right: solid thin black;vertical-align:top;">
									<p class=" finger" [routerLink]="['/public/audition-requirements/violin']" >Violin</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/viola']" >Viola</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/cello']" >Cello</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/double-bass']" >Double-Bass</p>


									<p class=" finger" [routerLink]="['/public/audition-requirements/guitar']" >Guitar</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/harpsichord']" >Harpsichord</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/harp']" >Harp</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/jazz-drums']" >Jazz - Drums</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/jazz-piano-guitar-bass-vibes']" >Jazz - Piano, Guitar, Bass, Vibes</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/jazz-vocal']" >Jazz - Vocal</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/jazz-woodwinds-brass']" >Jazz - Woodwinds, Brass</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/organ']" >Organ</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/piano']" >Piano</p>
								</td>
								<td style="width:33%;padding:5px;vertical-align:top;">
									<p class=" finger" [routerLink]="['/public/audition-requirements/vocal']" >Vocal</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/pop-vocal']" >Pop-Vocal</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/musical-theater']" >Musical Theater</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/show-choir']" >Show Choir</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/composition']" >Composition</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/songwriting']" >Songwriting</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/percussion']" >Percussion</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/handbells']" >Handbells</p>

									<p class=" finger" [routerLink]="['/public/audition-requirements/minister-music']" >Minister of Music</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/praise-worship-leader']" >Praise & Worship Leader</p>
									
									<p class=" finger" [routerLink]="['/public/audition-requirements/general-music-education']" >General Music Education</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/choral-music-education']" >Choral Music Education</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/string-instrumental-music-education']" >String / Instrumental Music Education</p>
									<p class=" finger" [routerLink]="['/public/audition-requirements/wind-percussion-music-education']" >Wind / Percussion Music Education</p>
								</td>
							</tr>
						</table>

					</div>

				</div>
				
			</div>

		</div>

	</ng-container>

	<ng-container *ngIf="htmlData" >
		
		<!-- <section id="audition-requirement-header" class="avoid-navbar">

			<div class="container-fluid">

				<div class="directory-path">
					Home► Resources► Guides► Audition Requirement► <span class="text-black">{{ auditionTitle }}</span>
				</div>

				<div class="arh-context text-center">

					<h2>Audition Requirements</h2>
					<h3>{{ auditionTitle }}</h3>

				</div>

			</div>

		</section> -->

		<section id="ar-details">

			<div class="container-fluid">

				<div class="row">

					<div class="col-md-7 avoid-navbar">

						<h1 [routerLink]="['/public/audition-requirements/']" style="margin-top: 20px;" >Audition Requirements</h1>
						<div class="ar-details" [innerHtml]="htmlData">
							<!--data-->
						</div>

					</div>

				</div>

			</div>

		</section>	

	</ng-container>

	<app-footer></app-footer>

</div>