<div class="gold-blue-page">
	
	<div class="container-fluid">
		
		<div class="row justify-content-md-center">
			
			<div class="col-8">

				<div class="article-header-title text-center">
					<h1>EXAM</h1>
					<hr class="article-hr">
				</div>
					
				<div calss="exam-question">
					<p>
						Question on a Music Entrance Exam at a conservatory in Boston:
						<br>The following musical terms (or directional music terms): Dal Segno, Dal Segno al Fine, Da Capo, Da Capo al Fine, and Da Capo al Coda, have a directional mandate common to each of these terms. What is the common directional mandate?
					</p>

					<p>
						<br>A.	Always to the [D] section of the composition
						<br>B.	Repeat
						<br>C.	Always to the indicated marking and then to the end
						<br>D.	With great fire
						<!-- [video of question] -->
					</p>
				</div>

				<div class="exam-answer">
					<p>
						The Answer:
						<br>B. Repeat
					</p>
					
					<p>
						Reference:
						<br>Dal Segno – Repeat to the sign and play from there
						<br>Dal Segno al Fine – (D.S. al Fine) Repeat from the sign to the word Fine
						<br>Da Capo – (D.C) Repeat from the beginning
						<br>Da Capo al Fine – (D.C. al Fine) Repeat from the beginning to the word Fine.
						<br>Da Capo al Segno – (D.C. al Segno) Repeat from the beginning to the Sign 
						<br>Da Capo al Coda – (D.C. al Coda) Repeat from the beginning and play to the coda
						<!-- [video of answer] -->
					</p>
				</div>

				<div calss="exam-question">
					<p>
						Question on a Music Department Entrance Exam at a major midwestern university:
						<br>In American Music History, what was the musical voice of the 1960’s Civil Rights Movement:
					</p>

					<p>
						<br>A.	The Blind Boys of Alabama
						<br>B.	The Freedom Singers from Albany State College
						<br>C.	The Scottsboro Boys
						<!-- [video of question] -->
					</p>
				</div>

				
				<div class="exam-answer">
					<p>
						The Answer:
						<br>B.  The Freedom Singers from Albany State College
					</p>

					<p>
						Reference:
						<br>The Freedom Singers originated as a student quartet formed in 1962 at Albany State College in Albany, Georgia. After folk singer Pete Seeger witnessed the power of their congregational-style of singing, which fused black Baptist a cappella church singing with protest songs and chants, their performances drew aid and support to the Student Non-Violent Coordinating Committee (SNCC) during the emerging Civil Rights Movement. The group’s repertoire consisted of freedom songs that had been written for the movement, including “We Shall Overcome,” “We Shall Not Be Moved,” and “Keep Your Eyes on the Prize.”  In 1963, the group performed at the March on Washington for Jobs and Freedom.
						<!-- [video of answer] -->
					</p>
				</div>

				<div calss="exam-question">
					<p>
						Question on a Music Department Entrance Exam at a major southwestern university:
						<br>In American Music History, name the city that is the birthplace of Jazz.
					</p>

					<p>
						<br>A.	Memphis
						<br>B.	New Orleans
						<br>C.	St. Louis
					</p>
				</div>

				
				<div class="exam-answer">
					<p>
						The Answer:
						<br>B. New Orleans
					</p>

					<p>
						Reference:
						<br>New Orleans, Louisiana is known for its strong association with jazz music and is universally considered to be the birthplace of the genre.  The earliest form was Dixieland, which has sometimes been called traditional jazz or New Orleans jazz.  However, music historians believe that jazz was a fusion of spirituals sung by slaves, Mississippi riverboat music, and popular French/Spanish piano music.
					</p>
				</div>

				<div calss="exam-question">
					<p>
						Question on a Music Entrance Exam at a liberal arts college in Kansas:
						<br>In the key of A Major what is the submediant scale degree:
					</p>

					<p>
						<br>A.	G
						<br>B.	F
						<br>C.	C#
						<br>D.	F#
					</p>
				</div>

				
				<div class="exam-answer">
					<p>
						The Answer:
						<br>D. F# 
					</p>
					
					<p>
						Reference:
						<br>A Major (or the key of A) is a major scale based on A, with the pitches A, B, C#, D, E, F#, G#, A.  Its key signature has three sharps.
						<br>
						<br>Scale Degree Names: Key of A Major
						<br>1st – Tonic A
						<br>2nd – Supertonic B
						<br>3rd – Mediant C#
						<br>4th – Subdominant D
						<br>5th – Dominant E
						<br>6th – Submediant F#
						<br>7th – Leading Tone G#
						<br>8th – Octave A
					</p>
				</div>

				<div calss="exam-question">
					<p>
						Question on a Music Department Entrance Exam at a university in California:
						In American Music History, place the following in chronological order:
						Swing, Ragtime, Blues, and Jazz
					</p>

					<p>
						<br>A. Ragtime, Jazz, Swing, Blues
						<br>B. Jazz, Ragtime, Blues, Swing
						<br>C. Blues, Ragtime, Jazz, Swing
					</p>
				</div>
				
				<div class="exam-answer">
					<p>
						The Answer:
						<br>C. Blues, Ragtime, Jazz, Swing 
					</p>

					<p>
						Reference:
						<br>1870	Blues is an original American music genre and musical form which originated in the Deep South, especially along the Mississippi River in New Orleans, Memphis, and St. Louis, by African Americans, from roots in African musical traditions, slave work songs, and spirituals.  The Blues is characterized by the call-and-response pattern, the Blues scale, and specific chord progressions, of which twelve-bar Blues is the most common.  The lyrics of traditional blues verses often consisted of a single line repeated four times. Early Blues frequently took the form of a loose narrative. African American singers voiced his or her “personal woes in a world of harsh reality: a lost love, the cruelty of police officers, oppression at the hands of white folk, and just general hard times.” 
						<br>1896	In the South, the fusion of military marches with Negro spirituals and traditional syncopated African tribal dance music produced the distinctly American form of popular music called Ragtime. Ragtime became the first African American music to have an impact on mainstream popular culture.  It was the music of the bordellos of New Orleans and St. Louis and soon became dance band music of high society throughout America.  Texas native, Scott Joplin achieved fame from his over 100 original ragtime pieces.  His most noted ragtime numbers: “Swipesy Cakewalk,” “Maple Leaf Rag,” and “The Entertainer.”  Other ragtime composers were: Fats Waller, Eubie Blake, Jelly Roll Morton, Henry Lodge, Tom Turpin, John Philip Sousa, Igor Stravinsky, and Irving Berlin. 
						<br>1900	As a mixture of spirituals sung by slaves, Mississippi riverboat music, and French/Spanish piano music the American musical genre Jazz was born in New Orleans and quickly developed and spread throughout the country, especially in Harlem, New York. By 1920 Jazz had become more popular throughout the United States with musicians like Louis Armstrong and transformed two American cities into hubs for Jazz; Chicago and Harlem. This happened all because Jazz was embraced by white radio station managers and programmers.
						<br>1927	Duke Ellington’s multiple radio performances helped him gain national recognition and following and helped to bring in the era of “swing music.” Swing music was jazz music that you can dance to. Swing music established the Big Band as the primary deliverer of this genre and radio made it popular throughout America.  Other noted Swing Music writers and performers: Count Basie, Cab Calloway, Tommy Dorsey, Earl Hines, Art Tatum, Dizzy Gillespie, Charlie Parker, Les Brown, Glenn Miller, Benny Goodman, Artie Shaw, Billie Holiday, Gene Krupa, Ella Fitzgerald, Lionel Hampton, and Woody Herman.
					</p>
				</div>

				<div calss="exam-question">
					<p>
						Question on a Music Entrance Exam at a university in the heartland of America:
						<br>Name the instrument(s) that are transposing instruments:
					</p>

					<p>
						<br>●	Bb Trumpet
						<br>●	Flute
						<br>●	Bb Clarinet
						<br>●	Cello
						<br>●	Eb Clarinet
						<br>●	Tuba
						<br>●	Piano
					</p>
				</div>
				
				<div class="exam-answer">
					<p>
						The Answer:
						<br>●	Bb Trumpet
						<br>●	Bb Clarinet
						<br>●	Eb Clarinet
					</p>

					<p>
						Reference:
						<br>A transposing instrument is a musical instrument whose music is recorded in staff notation at a pitch different from the pitch that actually sounds which is known as the concert pitch.  A written middle C on a transposing instrument produces a pitch other than C, and that pitch identifies the interval of transposition when describing the instrument. For example, a written C on a Bb clarinet or a Bb trumpet produces the sound of a concert Bb.  The transposition is not a property of the instrument, but rather a convention of musical notation. Instruments whose music is typically notated in this way are called transposing instruments.
					</p>
				</div>

			</div>

		</div>

	</div>

	<app-footer></app-footer>
	
</div>