<ng-container id="fasttrack-index" *ngIf="week==0" >
	
	<div class="blue-page" style="margin-top: -6em;">

		<!-- Fast Track Index-header Start -->
		<div id="ft-index-header">
			
			<div class="row">
					<div class="col-sm-7 px-0">
						<div class="ftih-img i1">
							<img src="/assets/images/senior-year.png" alt="">
							<div class="item1-content">
								<h5>Fast Track Action Plan</h5>
								<h3>SENIOR YEAR</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-5 px-0">
						<div class="ftih-img i2">
							<img src="/assets/images/fastTrack/Dimond_background.png" alt="">
						</div>
					</div>
					<div class="col-sm-7 px-0">
						<div class="ftih-img i3">
							<img src="/assets/images/fastTrack/Dimond_background_ca.png" alt="">
						</div>
					</div>
					<div class="col-sm-5 px-0">
						<div class="ftih-img i4">
							<img src="/assets/images/fastTrack/only_blue.png" alt="">
						</div>
					</div>
			</div>

			<div class="ftih-calender">
				
				<div class="calender-item-list container-fluid">
					
					<div class="ftih-calender-item aug">
						
						<div class="month-name">
							<h1>AUG</h1>
						</div>

						<div class="weeks">
							<table width='100%' style="background-color: #ffffff;">
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-1']" >WEEK<br>1</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-2']" >WEEK<br>2</td>
								</tr>
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-3']" >WEEK<br>3</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-4']" >WEEK<br>4</td>
								</tr>
							</table>
						</div>

					</div>

					<div class="ftih-calender-item sept">
						
						<div class="month-name">
							<h1>SEPT</h1>
						</div>

						<div class="weeks">
							<table width='100%' style="background-color: #ffffff;">
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-5']" >WEEK<br>1</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-6']" >WEEK<br>2</td>
								</tr>
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-7']" >WEEK<br>3</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-8']" >WEEK<br>4</td>
								</tr>
							</table>
						</div>

					</div>

					<div class="ftih-calender-item oct">
						
						<div class="month-name">
							<h1>OCT</h1>
						</div>

						<div class="weeks">
							<table width='100%' style="background-color: #ffffff;">
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-9']" >WEEK<br>1</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-10']" >WEEK<br>2</td>
								</tr>
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-11']" >WEEK<br>3</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-12']" >WEEK<br>4</td>
								</tr>
							</table>
						</div>

					</div>

					<div class="ftih-calender-item nov">
						
						<div class="month-name">
							<h1>NOV</h1>
						</div>

						<div class="weeks">
							<table width='100%' style="background-color: #ffffff;">
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-13']" >WEEK<br>1</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-14']" >WEEK<br>2</td>
								</tr>
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-15']" >WEEK<br>3</td>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-16']" >WEEK<br>4</td>
								</tr>
							</table>
						</div>

					</div>

					<div class="ftih-calender-item dec">
						
						<div class="month-name">
							<h1>DEC</h1>
						</div>

						<div class="weeks">
							<table width='100%' style="background-color: #ffffff;">
								<tr>
									<td class="finger" style="text-align: center; border:solid thin grey;" [routerLink]="['/public/fast-track/week-17']" >WEEK<br>1</td>
									<td style="text-align: center; border:solid thin grey;"  >&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
								<tr>
									<td style="text-align: center; border:solid thin grey;"  >&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td style="text-align: center; border:solid thin grey;"  >&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								</tr>
							</table>
						</div>

					</div>

				</div>

			</div>
			
		</div>
		<!-- Fast Track Index-header End -->

		<app-footer></app-footer>

	</div>

</ng-container>

<ng-container id="week1" *ngIf="week==1" >
	
	<div class="blue-page" style="margin-top: -6em;">
	
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>August Week 1</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->
		
		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Begin FAFSA Process</h4>
					<i class="fa fa-circle-o"></i><h4>College Applications Open</h4>
					<i class="fa fa-circle-o"></i><h4>Common Apps Open</h4>
					<i class="fa fa-circle-o"></i><h4>August 7th - Deadline For September 11th ACT Registration</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->
		
		<!-- Additional Support Section Start -->
		<div id="additional-support">
			
			<div class="connection-section ft-actions-header as-header-bg">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>

			<div class="container-fluid">
				
				<div class="row">
				
					<div class="col-sm-6">
					
						<div class="row">
								
								<div class="col-12 money-item">
									
									<div class="money-item-body">
										<a [routerLink]="['/public/articles/early_action_vs_early_decision']">
										
											<img src="/assets/images/fastTrack/Copy_of_AdobeStock_105972983.png" alt="">
											<div class="money-item-bottom">
												<h5>READ</h5>
												<p>Early Action Vs Early Decision. Can It Work For A Musical Major</p>
											</div>

										</a>
									</div>

								</div>

								<div class="col-12 money-item">
									<div class="money-item-body">
										<a [routerLink]="['/public/articles/']">
											<img src="/assets/images/fastTrack/guitar-2422149.png" alt="">
											<div class="money-item-bottom">
												<h5>READ</h5>
												<p>Paying For College</p>
											</div>
										</a>
									</div>
								</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<a [routerLink]="['/public/articles/']">
								<img src="/assets/images/fastTrack/Copy_of_AdobeStock_117866612.png" alt="">
								<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Tips For First-Time College Students</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<a [routerLink]="['/public/articles/']">
								<img src="/assets/images/fastTrack/AdobeStock_23262619.png" alt="">
								<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Applying To A Test Optional College</p>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<a [routerLink]="['/public/articles/']">
								<img src="/assets/images/fastTrack/sing-2763218cut.png" alt="">
								<div class="money-item-bottom">
									<h5>READ</h5>
									<p>What are Musical Schools? Looking For In Potential Student</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Additional Support Section End -->
	
		<!-- Fast Track Guides Section Start -->
		<div id="fast-track-guide">
			
			<div class="container-fluid">
				
				<div class="section-b">
					
					<div class="container-fluid">
						<!-- Process 1
						<div class="process row guide-item">
							<div class="col-lg-7 p-5 text-center text-lg-start order-1">
								<h3 class="title">FASFA</h3>
								<a [routerLink]="['/public/']" class="button">Begin Now</a>
							</div>
							<div class="col-lg-5 px-0 order-0">
								<img src="/assets/images/fastTrack/Group_108_bd.png" alt="img" class="img-fluid w-100" />
							</div>
						</div> -->
						<!-- Process 1 End -->

						<!-- Process 2
						<div class="process row guide-item">
							<div class=" col-lg-7 p-5 text-center text-lg-start order-1 order-lg-0 ">
								<h3 class="title">COMMON APPS</h3>
								<a [routerLink]="['/public/articles/']" class="button">Get Started</a>
							</div>
							<div class="col-lg-5 px-0 order-0 order-lg-1">
								<img src="/assets/images/fastTrack/Group_111_bi.png" alt="img" class="img-fluid w-100" />
							</div>
						</div> -->
						<!-- Process 2 End -->

						<!-- Process 3 -->
						<div class="process row guide-item">
							<div class="col-lg-7 p-5 text-center text-lg-start order-1">
								<h3 class="title">ADDITIONAL RESOURCES</h3>
								<a [routerLink]="['/public/resources']" class="button">Learn More</a>
							</div>
							<div class="col-lg-5 px-0 order-0">
								<img src="/assets/images/fastTrack/Group_108_by.png" alt="img" class="img-fluid w-100" />
							</div>
						</div>
						<!-- Process 3 End -->
					</div>

				</div>

			</div>

		</div>

		<app-footer></app-footer>

	</div>

</ng-container>

<ng-container id="week2"  *ngIf="week==2" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>August Week 2</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->
		
		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Create Account - <small>Begin Profile</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Personal Information</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Educational History & Test Scores</small></h4>
					<i class="fa fa-circle-o"></i><h4>If Needed Request Transcription from School Guidance Counselors</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->
		
		<!-- Additional Support Section Start -->
		<div id="additional-support">
			
			<div class="connection-section ft-actions-header as-header-bg">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
								<div class="money-item-body">
										<img src="assets/images/fastTrack/Violin_Player_VII-_AA_Female.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Take Potential Music Major Assessment</p>
										</div>
								</div>
							</div>
							<div class="col-12 money-item">
								<div class="money-item-body">
										<img src="assets/images/fastTrack/photo-1523397546924-a2ff57239d.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Understanding Undergraduate Music Degree</p>
										</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/photo-1549349807-4575e87c7e6a.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Difference Between Higher Ed Options for Undergraduate Music Majors</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Piano_Player_-_AA_Female__Upri.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Difference Degrees and Majors</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/JCR_1054.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>What is A Double Major And Why You Should Consider It?</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/JCR_0354.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Testing Of Musical Terms and Sightrading</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/iStock-high_school_choir.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Should You Look Outside of United State For a Music Degree</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- Additional Support Section End -->

		<app-footer></app-footer>
		
	</div>

</ng-container>

<ng-container id="week3"  *ngIf="week==3" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>August Week 3</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header aug-week3">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Performance Profile</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Private Instruction</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Summer Enrichment</small></h4>
					<i class="fa fa-circle-o"></i><h4>Select Solo Auditon Competition</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg aug-3 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
								<div class="money-item-body">
									<img src="assets/images/fastTrack/Detroit-Youth-Choir-America-Go.png" alt="">
									<div class="money-item-bottom">
										<h5>READ</h5>
										<p>Complete and Review Potential Music Major Assessment</p>
									</div>
								</div>
							</div>
							<div class="col-12 money-item">
								<div class="money-item-body">
									<img src="assets/images/fastTrack/French_Horn_crop.png" alt="">
									<div class="money-item-bottom">
										<h5>READ</h5>
										<p>Understanding Graded Music</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Double_Bass__MIdwest_Clinic.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Standard / Premier Audition Suggestion</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/iStock_000011789014Large.png" alt="">
							<div class="money-item-bottom">
								<h5>EXPLORE</h5>
								<p>Repertoire DIrectory</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Erica_sings_at_pageant.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Your Repertoire List</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/dfbcc6fa-261e-47db-a4aa-e095a3.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>Your Turn In The Spot Light: The Solo</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/INV130330HusseinJ147-Edit.png" alt="">
							<div class="money-item-bottom">
								<h5>Explore</h5>
								<p>The Career Section</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/_Marching_Band_-_At_Rest.png" alt="">
							<div class="money-item-bottom">
								<h5>Explore</h5>
								<p>Music Terms Level 1</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week4"  *ngIf="week==4" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>August Week 4</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header aug-week4">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Honors & Awards</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Personal Statement</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Top 3 College Choices</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Choose Etude and Exerpts Which Coordinate With Top 3 College Choices</small></h4>
					<i class="fa fa-circle-o"></i><h4>SAT Test - <small>August 28th</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg aug-4 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/Summer_Music_Camp_-_Trio.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Write the right thing</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/Orchestra_-_Flute_Player_bpb.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Scholarships, Grants and Loans</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Vocalists_-_Female__Musical_Th.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Unexpected Cost of College of Performing Arts</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Vocalists_Holding_Music.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Direct Relationship Between Music Theory and College Tution</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/unnamed_copy_2.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>The Money Hunt</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/JCR_0210.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>All About Orchestral Exerpts</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Music_Composer_at_Piano_and_Co.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Music Term Level 1</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week5"  *ngIf="week==5" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>September Week 1</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header sept-week1">
					<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Complete - <small>College Prefferences</small></h4>
					<i class="fa fa-circle-o"></i><h4>Video Mock Auditions #1</h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Choose 4 Additional Schools of Interest and Research / Document Scholarships Requirements</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg sept-1 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/computer_and_keyboard_-_White_.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>College Directory in Resources</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/file.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Steps for a Great College Fit for Music Majors</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Cello_Player_-_Latin_Female.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Premier Program Selection in Resources</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Choral_JennyWong_crJennyWong_W.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Seven Steps in Making a Great Audition Video</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Singer_-_African_American_Midd.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Your Turn in The Spot Light <br> __Your Solo</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Opera_-_Trumpet_Section.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Music Terms Level 2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week6"  *ngIf="week==6" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>September Week 2</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header sept-week2">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Refferences</h4>
					<i class="fa fa-circle-o"></i><h4>Update - <small>Update Educational History to Include Senior Classes</small></h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Personal - Statement</small></h4>
					<i class="fa fa-circle-o"></i><h4>Narrow - <small>Narrow Your 7 Schools Down to Top 4 Choices</small></h4>
					<i class="fa fa-circle-o"></i><h4>ACT Registration - <small>Sept 17th - Deadline for October 23rd</small></h4>
					<i class="fa fa-circle-o"></i><h4>ACT Test - <small>Sept 11th</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg sept-2 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/ID4W7U5POPZDGCGQU62LPWSYKPQE.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Non-Institutional Scholarships in Resources Directory</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/ID5b6d2946aaad8c1b4f25f582_iWM.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Scholarships, Grants and Loans</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID43FE54AE00000578-4856692-ima.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Yes, There Is Money In Music</p>
							</div>
						</div>
					</div>
					<div class="col-sm-7 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID44073F7400000578-4864560-ima.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>More Performing Arts Scholarships than Athletic Scholarships</p>
							</div>
						</div>
					</div>
					<div class="col-sm-5 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/JCR_0473.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Religious Organizations and Scholarships</p>
							</div>
						</div>
					</div>
					<div class="col-12 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID5bd2f02d629f4b0a832f6f7a_vet.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Music Term Level 2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week7"  *ngIf="week==7" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>September Week 3</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header sept-week3">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Master Classes</h4>
					<i class="fa fa-circle-o"></i><h4>Video  Mock Audition #2</h4>
					<i class="fa fa-circle-o"></i><h4>Visit a School Out of Your Top 4 Choices</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg sept-3  text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/Merrick-carousel.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Music Terms Level 3</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/mellophone.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>International Students and Scholarship Opportunities In the U.S.</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/teen-boy-playing-piano-girlfri.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Applying to a Test Optional College</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week8"  *ngIf="week==8" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>September Week 4</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header sept-week4">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>School Festivals and Competitions</h4>
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Personal - Statement</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg sept-4 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/ID5fc55fd2694c8b1bc74727d3_Lr4.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Music Terms Level 3</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/JamesFByrnesHS_2.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Why Should You Look Into Military Career</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Cello_Player_-_Latin_Female.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Difference Between Festival and Competitions</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week9"  *ngIf="week==9" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>October Week 1</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header oct-week1">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Review Profile for Completeness</h4>
					<i class="fa fa-circle-o"></i><h4>Revice Refference - <small>Seek Additional Refferences If Needed</small></h4>
					<i class="fa fa-circle-o"></i><h4>SAT Test - <small>2nd October</small></h4>
					<i class="fa fa-circle-o"></i><h4>Visit Two Colleges</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg oct-1 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/ID1b0537e2-e17c-4fd7-a341-8702.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Music Terms Level 4</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/JCR_0723.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Understanding Early Action vs Early Decision</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID179ee53b65f600d5d07e748dc6f5.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Navigating College Application Deadlines</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week10"  *ngIf="week==10" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>October Week 2</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header oct-week2">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Video Mock Audition #3</h4>
					<i class="fa fa-circle-o"></i><h4>Visit Two Colleges</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg oct-2 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/French_Horn_Player_II_-_White_.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Music Terms Level 4</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/FTL_ShowSlide_5.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Understanding Scales and Arpeggios in the Audition Process</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Tombone_Player_V_-_Middel_Scho.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Deadlines are for Real</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week11"  *ngIf="week==11" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>October Week 3</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header oct-week3">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Complete - <small>Refference</small></h4>
					<i class="fa fa-circle-o"></i><h4>Review Honors And Awards</h4>
					<i class="fa fa-circle-o"></i><h4>ACT Test - <small>Oct 23ed</small></h4>
					<i class="fa fa-circle-o"></i><h4>Begin College Application - <small>of Top 4 Schools</small></h4>
					<i class="fa fa-circle-o"></i><h4>Write, Review and Edit - <small>General Application Essay early Admission</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg oct-3 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/French_Horn_Performer_II_-_Mai.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Music Terms Level 4</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/JamesFByrnesHS_2.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Understanding Early Action vs Early Decision</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID43FE54AA00000578-4864560-Mel.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Navigating College Application Deadlines</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week12"  *ngIf="week==12" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>October Week 4</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header oct-week4">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Review Performance Profile</h4>
					<i class="fa fa-circle-o"></i><h4>Video Scales / Arpeggio</h4>
					<i class="fa fa-circle-o"></i><h4>Complete - Application of Top 4 Colleges</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg oct-4 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Pop_Singer_-_Muslin_Teenage_Gi.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Why Ensemble Matters</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Sax_Player_III_-_White_Male.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Music Term Level 5</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week13"  *ngIf="week==13" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>November Week 1</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header nov-week1">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>November 1st Deadline - <small>Early Application</small></h4>
					<i class="fa fa-circle-o"></i><h4>Write, Review and Edit - <small>General Application Essay</small></h4>
					<i class="fa fa-circle-o"></i><h4>SAT Test - <small>November 6th</small></h4>
					<i class="fa fa-circle-o"></i><h4>Request Music Department / School of Music Application</h4>
					<i class="fa fa-circle-o"></i><h4>ACT Registration - <small>November 5th to December 11th</small></h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week14"  *ngIf="week==14" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>November Week 2</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header nov-week2">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Continue College Application</h4>
					<i class="fa fa-circle-o"></i><h4>Video Mock Auditions #4</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg nov-2">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/Set_Drummer_II_-_Aisian_Teenag.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>Sightreading 101</p>
										</div>
									</div>
							</div>
							<div class="col-12 money-item">
									<div class="money-item-body">
										<img src="assets/images/fastTrack/Hewitt_-Keith-Saunders-3.png" alt="">
										<div class="money-item-bottom">
											<h5>READ</h5>
											<p>How to Practice Sightreading</p>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/ID90.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>Sightreading Scenarios</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week15"  *ngIf="week==15" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>November Week 3</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header nov-week3">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Video Mock Auditions #5</h4>
					<i class="fa fa-circle-o"></i><h4>Request Music Department Audition Policies</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg nov-3 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Jennifer-Campbell-event.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>When Audition is Far Away From Home</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week16"  *ngIf="week==16" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>November Week 4</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header nov-week4">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Submit Music Department / School of Music Application</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->

		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg nov-4 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/theCadets.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>An Audition is More Than a Musical Try Out</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Betty_Cantrell.png" alt="">
							<div class="money-item-bottom">
									<h5>READ</h5>
									<p>How to Minimize Audition Nerves</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week17"  *ngIf="week==17" >
	
	<div class="blue-page" style="margin-top: -6em;">
		
		<!-- FastTrack-ActionPlan Start -->
		<div id="fastTrack-actionPlan" class="avoid-navbar">
			<div class="context-text text-center">
				<h3>Fast Track Action Plan</h3>
				<h1>SENIOR YEAR</h1>
				<h2>December Week 1</h2>
			</div>
		</div>
		<!-- FastTrack-ActionPlan End -->

		<!-- Fast Track Action Step Start -->
		<div id="ft-action-step">
			<div class="connection-section ft-actions-header dec-week1">
				<h3 class="heading text-center text-sm-left">ACTIONS</h3>
			</div>
			<div class="ft-actions-body">
				<div class="steps-content">
					<i class="fa fa-circle-o"></i><h4>Request and/or Sign Up for On-Campus Audition Dates</h4>
				</div>
			</div>
		</div>
		<!-- Fast Track Action Step End -->
		
		<!-- Additional Support Section Start -->
		<div id="additional-support">
			<div class="connection-section ft-actions-header as-header-bg dec-1 text-sm-right">
				<span class="heading">ADDITIONAL</span> 
				<h3 class="heading">SUPPORT</h3>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 money-item">
						<div class="money-item-body">
							<img src="assets/images/fastTrack/Sax_Player_III_-_White_Teenage.png" alt="">
							<div class="money-item-bottom">
								<h5>READ</h5>
								<p>It's All In A Name</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Additional Support Section End -->
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week18"  *ngIf="week==18" >
	
	<div class="blue-page" style="margin-top: -6em;">
		&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
		
		<h2 class="heading text-center">Week 18<br>Coming Soon</h2>
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week19"  *ngIf="week==19" >
	
	<div class="blue-page" style="margin-top: -6em;">
		&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
		
		<h2 class="heading text-center">Week 19<br>Coming Soon</h2>
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>

<ng-container id="week20"  *ngIf="week==20" >
	
	<div class="blue-page" style="margin-top: -6em;">
		&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
		
		<h2 class="heading text-center">Week 20<br>Coming Soon</h2>
	
		<app-footer></app-footer>
		
	</div>
	
</ng-container>