<div class="gold-page">

	<br/>&nbsp;
	
	<ng-container id="feature-school" *ngIf="featureType=='school'">

		<h2 class="heading text-center">FEATURED SCHOOL</h2>

		<div class="container-fluid">

			<div class="row justify-content-md-center">

				<div class="col-8">
						content
				</div>

			</div>

		</div>

	</ng-container>


	<ng-container id="feature-program" *ngIf="featureType=='program'">

		<h2 class="heading text-center">FEATURES PROGRAM</h2>

		<div class="container-fluid">

			<div class="row justify-content-md-center">

				<div class="col-8">
						content
				</div>

			</div>

		</div>

	</ng-container>



	<ng-container id="feature-student1" *ngIf="featureType=='student1'">

		<h2 class="heading text-center">FEATURED STUDENT</h2>

		<div class="container-fluid">

			<div class="row justify-content-md-center">

				<div class="col-8">
						content 2
				</div>

			</div>

		</div>

	</ng-container>



	<ng-container id="feature-student2" *ngIf="featureType=='student2'">

		<h2 class="heading text-center">FEATURED STUDENT</h2>

		<div class="container-fluid">

			<div class="row justify-content-md-center">

				<div class="col-8">
						content 2
				</div>

			</div>

		</div>

	</ng-container>



	<ng-container id="feature-student3" *ngIf="featureType=='student3'">

		<h2 class="heading text-center">FEATURED STUDENT</h2>

		<div class="container-fluid">

			<div class="row justify-content-md-center">

				<div class="col-8">
						content 3
				</div>

			</div>

		</div>

	</ng-container>





	<app-footer></app-footer>
	
</div>