<!-- Top Bar End 
<div class="avoid-navbar instrumental-dir-path">
	Home► Resources► Guides► <span class="text-black">Grade By Grade</span>
</div>-->

<!-- header start -->
<section id="instrumental-header" class="grade-by-grade-header">
	<div class="gbg-home-bg">
		<div class="ih-context gbg-home-header-context">
			<h1>Grade By Grade</h1>
			<br>
			
		<h3>A 6-12 guide <br>for skill <br>building to <br>pursue a <br>scholarship in <br>music</h3>
		</div>
	</div>
</section>

<!-- header End -->
<section id="gbg-instrumental-bg" class="gbg_home_bg">
	
	<div class="gbg_home_recruitation_details mb-5 pb-0 pb-sm-5">
		
		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-10 pt-5 px-md-5">
					<h2 class="mt-5">Recruiters start looking for talent as early as 9th grade. How do you get noticed?</h2>
					<p>1. Score a superior rating at State Festivals</p>
					<p>2. Place in a statewide or regional competition</p>
					<br><br>
					<h2>The three most important factors recruiters consider are:</h2>
					<p>1. Your solo repertoire (show diverse styles, periods, and technical demands)</p>
					<p>2. Your rankings or ratings at festivals and competitions</p>
					<p>3. Your leadership potential, demonstrated by participation in school and community ensembles.</p>
				</div>

				<div class="col-12 gbg_home_categories">
					<h1 class="text-center my-5">Category</h1>
				</div>

				<div class="col-md-4">
					
					<div class="gbg_home_btn text-center finger">
					
						<div class="gbg_home_btn_img">
							<img src="assets/images/grade-by-grade/gbg_home/2.png" alt="" class="img-fluid">
						</div>
						<button class="btn" (click)="setGuide('vocal');" >Voice</button>
					
					</div>

				</div>

				<div class="col-md-4">
					
					<div class="gbg_home_btn text-center finger">
						
						<div class="gbg_home_btn_img">
							<img src="assets/images/grade-by-grade/gbg_home/3.png" alt="" class="img-fluid">
						</div>
						<button class="btn" (click)="setGuide('keyboard');" >Keyboard</button>
					
					</div>

				</div>

				<div class="col-md-4">
					
					<div class="gbg_home_btn text-center finger">
					
						<div class="gbg_home_btn_img">
							<img src="assets/images/grade-by-grade/gbg_home/4.png" alt="" class="img-fluid">
						</div>
						<button class="btn" (click)="setGuide('instrumental');" >Instrumental</button>
					
					</div>

				</div>

			</div>

		</div>

	</div>
	
	


	<ng-container id="guide-vocal"  *ngIf="guide=='vocal'" >

		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-12 pt-5 px-md-5">

					<h1 class="text-center my-5">VOCAL</h1>

					<h2>6th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community chorus, or touring ensemble(s).</p>
						
							<h3>Classes</h3>
						
							<p>Participate in school sponsored music class. Hopefully this is a choral class.</p>
							
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>7th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community chorus, or touring ensemble(s).</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Begin the year by taking private voice lessons once a week with a more seasoned performer. In 7th grade, look for a voice major at a local college. That person might be a good choice for your first private instructor.ate in school sponsored music class. Hopefully this is a choral class.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Music Camp that has age appropriate performance repertoire. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>8th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). In addition, add two concerts/performances outside the discipline of your primary performance ensemble like Broadway musical, opera, or a ballet.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Continue taking private voice lessons once a week with a more seasoned performer. In 8th grade, look for a voice major at a local college. That person might be a good choice for your first private instructor.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in school performance ensemble like Middle School Chorus or Middle School Show Choir.
							Audition and participate in a community musical theater presentation.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Music Camp that has age appropriate performance repertoire. This should be on a college campus. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>9th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts or recitals outside of your school this academic year. For example, four concerts/recitals on a college or university campus; preferably at the college you are most interested in attending. Attend two concerts by professional organizations like your city’s symphony, community chorus, or touring ensemble(s). Add two concerts/performances outside the discipline of your primary performance ensemble like a Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Participate in at least one school performance ensemble. For example, High School Mixed Chorus, High School Treble Chorus, or High School Showchoir.
							Attend two Master Classes on a college campus.
							Begin the year by taking private voice lessons once a week with a professional performer. This performer can be a local college professor, a musical theater performer, an opera coach or any locally recognized private instructor. It’s important to ask if the private instructor is a member of NATS (National Association of Teachers of Singing). This is a must.
							Begin music theory instruction. This can be through formal course offerings at your school, college-prep classes, or online instruction.</p>
					
						<h3>Performance</h3>
						
							<p>Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is age appropriate.
							Perform in your private voice teacher’s studio recital.</p>
						
						<h3>Camps</h3>
						
							<p>Attend extended Summer Music Camp that has age appropriate performance repertoire. This should be on a college campus, preferably on the college campus you want to attend. While attending this camp, take at least one private lesson from the professor in whose studio you might spend most of your college experience. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>10th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts/recitals outside of your school this academic year. For example, four concerts of large performance ensembles (e.g. Concert Choir, Showchoir, or Jazz Vocal Ensemble) on a college campus where you want to attend. Attend two concerts of small or large ensembles presented by the professors and conductors that you are developing a relationship with. Attend two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). Add two performances outside the discipline of your primary vocal performance ensemble like a Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
					
						<h3>Classes</h3>
						
							<p>Participate in at least two school performance ensembles. For example: High School Mixed Chorus, High School Treble Chorus, High School Show-Choir or High School Madrigal Singers. Consider district-wide ensembles like All-County Chorus as one of the performance ensembles.
							Attend two Master Classes on a college campus.
							Continue taking private voice lessons once a week with a professional performer.
							Continue music theory instruction coupled with sight-singing development. This can be through formal course offerings at your school, college-prep classes, or online instruction.</p>
					
						<h3>Performance</h3>
						
							<p>Participate in NATS state and regional solo competitions.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability, as well as in one same-voice small ensemble and a mixed ensemble.
							Audition for and make the grade-level appropriate All-State Chorus.
							Perform in your private voice teacher’s studio recital.
							Perform solo recital of eight contrasting compositions with five memorized selections. Two of the selections should be in a foreign language and one selection should be an American song cycle.</p>
					
						<h3>Camps</h3>
						
							<p>Attend extended Summer Music Camp that has age appropriate performance repertoire. This should be on a college campus, preferably a campus you want to attend. While attending this camp, take at least one private lesson from the professor in whose studio you might spend most of your collegiate experience. This can be a nationally recognized summer enrichment program such as “The Governor’s School for the Arts” in your state or a camp where America’s most noted conductors and performers act as instructors. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>11th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts/recitals outside of your school this academic year. For example, four concerts of large performance ensembles (e.g. Concert Choir, Showchoir, or Jazz Vocal Ensemble, etc.) on a college campus, preferably where you want to attend. Attend two concerts of small or large ensembles presented by the professors and conductors that you are developing a relationship with. Attend two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). Add two concerts/performances outside the discipline of your primary vocal performance ensemble. Examples are: Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
					
						<h3>Classes</h3>
						
							<p>Participate in at least two school performance ensembles like High School Mixed Chorus, High School Treble Chorus, High School Show-Choir or High School Madrigal Singers. You can count district wide ensembles like All-County Chorus as one of the performance ensembles.
							Attend four Master Classes on at least two different college campuses.
							Continue taking private voice lessons once a week with a professional performer. Take one additional private lesson per semester with the college instructor whose studio you want to join.
							Continue music theory instruction coupled with sight-singing development. Take a music history course to learn the basic style periods and composers and works related to each of these style periods. Study via formal course offerings at your school, college-prep classes, or online instruction.</p>
					
						<h3>Performance</h3>
						
							<p>Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability, as well as one same voice small ensemble and a mixed ensemble.
							Perform in your private voice teacher’s studio recital.
							Participate in NATS state, regional, and national solo competitions. These competitions frequently offer cash or college scholarship prizes!
							Participate in an extra-curricular musical performance outside of the daily academic structure. Examples are an auditioned part in a community theater’s Broadway musical presentation, or a community or church choir holiday performance of “The Messiah.”
							Audition and make the grade-level appropriate All-State Chorus.
							Perform solo recital in the spring of this academic year. The program should include twelve accompanied compositions and two unaccompanied compositions. Four of the selections should be in a foreign language, one should be an aria, two should be a song cycle; also include a Broadway ballad.</p>
					
						<h3>Camps</h3>
						
							<p>Attend extended Summer Music Camp that has age appropriate performance repertoire. This should be on a college campus, preferably on the college campus you want to attend. While attending this camp take at least one private lesson per week from the professor in whose studio you might spend the majority of your collegiate experience. Consider a nationally recognized summer enrichment program such as “The Governor’s School for the Arts” in your state or one of the nationally noted summer camps for the classical singer. Check out our grade-by- grade summer experience guide for details.</p>

						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>12th Grade Guide For Voice</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend four concerts/recitals outside of your school this academic year. Each of these concerts should be at the schools that you are auditioning for acceptance and scholarships.</p>
						
						<h3>Classes</h3>
						
							<p>Attend four Master Classes. Each of these classes should be at the schools where you are auditioning for acceptance and scholarships.
							Continue music theory instruction coupled with sight-singing development. Take weekly online music theory tests.
							Continue taking private voice lessons once a week with a professional vocal instructor.</p>
					
						<h3>Performance</h3>
						
							<p>Participate in at least two school performance ensembles.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo.
							Participate in NATS state, regional, and national solo competitions. These competitions frequently offer cash or college scholarship prizes!
							Audition for and make the grade-level appropriate All-State Chorus.
							Most importantly, take the first audition time available for each college/university where you are auditioning. Follow each audition with personal hand-written notes of thanks to each person on the audition committee.</p>
					
				</div>

			</div>

		</div>

	</ng-container>
	
	
	<ng-container id="guide-keyboard"  *ngIf="guide=='keyboard'" >

		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-12 pt-5 px-md-5">

					<h1 class="text-center my-5">KEYBOARD</h1>

					<h2>6th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at the high school you will attend, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony, community concert band, or touring recitalists.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in statewide festivals by performing a solo that is appropriate to your technical ability.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Keyboard Camp that has age appropriate performance repertoire. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>7th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at the high school you will attend, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony or touring recitalists.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in a statewide festival by performing a solo that is appropriate to your technical ability.
							Perform in a studio recital.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Keyboard Camp that has age appropriate performance repertoire. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>8th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at the high school you will attend, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony or touring recitalists.
							In addition, add two concerts/performances outside the discipline of your primary performance ensemble. Example: Broadway musical, opera, and/or a ballet.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in statewide festivals and competitions by performing a solo that is appropriate to your technical ability. Perform in a studio recital.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Keyboard Camp that has age and proficiency appropriate performance repertoire. This should be on a college campus. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>9th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at your high school, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony or touring recitalists. Add two concerts/performances outside the discipline of your primary performance instrument. Example: Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Begin music theory instruction. This can be through formal course offerings at your school, college-prep classes, or online.</p>	
						
						<h3>Performance</h3>
						
							<p>Participate in statewide festivals and competitions by performing a solo that is appropriate to your technical ability.
							Accompany at least three wind or string instrumentalists in their designated Solo and Ensemble Festival.
							Perform in a studio recital.</p>
						
						<h3>Camps</h3>
						
							<p>Attend extended Summer Music Camp that has age appropriate performance repertoire. This should be on a college campus, preferably on the college campus you want to attend. While attending this camp, take at least one private lesson from a professor in whose studio you might spend the majority of your collegiate experience. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>10th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at your high school, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony or touring recitalists. Add two concerts/performances outside the discipline of your primary performance instrument. Attend two concerts by professional organizations like an organ recital, harpsichord recital, Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend four Master Classes on at least two different college campuses.
							Continue music theory instruction coupled with sight-singing development. This can be through formal course offerings at your school, college-prep classes, or online.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in statewide and regional festivals and competitions by performing a solo that is appropriate to your technical ability. Participate in four-hand division.
							Accompany at least five wind or string instrumentalists in their designated Solo and Ensemble Festival.
							Perform in a studio recital.
							Perform solo recital of eight contrasting compositions with three of the selections memorized.</p>
						
						<h3>Camps</h3>
						
							<p>Attend extended Summer Music Camp that has an age appropriate performance repertoire. This should preferably be on a college campus you want to attend. While attending this camp take at least one private lesson from the professor in whose studio you might spend the majority of your collegiate experience. Consider a nationally recognized summer enrichment program such as “The Governor’s School for the Arts” in your state or a camp with noted conductors and performers. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>11th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts or recitals outside of your teacher’s studio this academic year. For example, two concerts at your high school, two concerts/recitals on a college/university campus, and two concerts by professional organizations like your city’s symphony or touring recitalists. Add two concerts/performances outside the discipline of your primary performance instrument like an organ recital, harpsichord recital; and two performances such as a Broadway musical opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend six Master Classes on at least three different college campuses.
							Continue music theory instruction coupled with sight-singing development. In addition, take a music history course to learn the basic style periods and composers and works related to each of these style periods. You can use formal course offerings at your school, college-prep classes, or online instruction.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in an extra-curricular musical performance outside of the daily academic structure. Examples: pit orchestra for your community theater’s Broadway musical presentation, pit orchestra for community ballet presentation of the “Nutcracker,” or holiday recital presentations.
							Accompany at least seven wind or string instrumentalists in their designated Solo and Ensemble Festival.
							Perform in a studio recital.
							Perform solo recital of ten contrasting compositions with five of the selections being memorized.
							Compete in a regional or national concerto competition. For example: Midwest Young Artists Concerto Competition, Ylda Novik Memorial Concerto Competition, Legacy Concerto Competition, Blount-Slawson Young Artists Concerto Competition or the National Philharmonic Concerto Competition. Your local symphonies might sponsor concerto competitions. The winners often receive college scholarships!</p>
						
						<h3>Camps</h3>
						
							<p>Attend extended Summer Camp that has age appropriate performance repertoire. This should be on a college campus, preferably the college you want to attend. While attending this camp, take at least one private lesson from the professor in whose studio you might spend most of your collegiate experience. This can be a nationally recognized summer enrichment program like “The Governor’s School for the Arts” in your state or one of the camps that features America’s most noted conductors and performers as instructors. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>12th Grade Guide For Keyboard</h2>

						<h3>Attend Outside Performances</h3>

							<p>Attend four concerts or recitals outside of your teacher’s studio this academic year. Each of these concerts/recitals should be at the schools that you are auditioning for acceptance and scholarships.</p>
						
						<h3>Classes</h3>

							<p>Attend four Master Classes each on a different college campus.
							Continue music theory instruction coupled with sight-singing development. Take weekly online music theory tests.</p>
						
						<h3>Performance</h3>

							<p>Most importantly, take the first audition time available for each college/university where you are auditioning. Follow your audition with personal hand-written notes of thanks to each person on the audition committee.</p>
	
				</div>

			</div>

		</div>
		
	</ng-container>
	
	
	<ng-container id="guide-instrumental"  *ngIf="guide=='instrumental'" >

		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-md-12 pt-5 px-md-5">

					<h1 class="text-center my-5">INSTRUMENTAL</h1>

					<h2>6th Grade Guide For Instrumentalists</h2>
						
						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s).</p>
						
						<h3>Classes</h3>
						
							<p>Following the holiday break, begin private lessons once every two weeks with a more seasoned player. This can simply be playing class required material with a high school player</p>
						
						<h3>Performance</h3>
							
							<p>Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability.</p>
						
						<h3>Camps</h3>
							
							<p>Attend Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>7th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend six concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s).</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Begin the year by taking private lessons once a week with a more seasoned player. In 7th grade, a college student majoring in your instrument’s performance may be a good choice for a private instructor.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in school performance ensemble. For example: Middle School Symphonic Band, Middle School Orchestra, and sectional large ensembles.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability. Participate in one same instrument small ensemble.
							Audition for the grade-level appropriate All-State ensemble.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>8th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts outside of your school this academic year. For example, two concerts at the high school you will attend, two concerts on a college or university campus, and two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). In addition, add two concerts/performances outside the discipline of your primary performance ensemble. Example: Broadway musical, opera, or a ballet.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Begin the year by taking private lessons once a week with a more seasoned player. In 8th grade, a college student majoring in your instrument’s performance may be a good choice for a private instructor.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in a school performance ensemble. For example, Middle School Symphonic Band, Middle School Orchestra, and sectional large ensembles.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability. Participate in one same instrument small ensemble.
							Audition for and make the grade-level appropriate All-State ensemble.</p>
						
						<h3>Camps</h3>
						
							<p>Attend Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. This should be on a college campus. Check out our grade-by-grade summer experience guide for details.</p>

						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>9th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend eight concerts outside of your school this academic year. For example, four concerts on a college or university campus, preferably on the campus you are most interested in attending. Attend two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). Add two concerts/performances outside the discipline of your primary performance ensemble like a Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend one Master Class on a college campus.
							Begin the year by taking private lessons once a week with a professional player. This professional player can be a local college professor, a symphonic player, or a local recognized private instructor.
							Begin music theory instruction. You can study formal courses at your school, college-prep classes, or online instruction.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in at least one school performance ensemble. For example: High School Symphonic Band, High School Orchestra, and sectional large ensembles. If you are a wind instrumentalist, marching band must be coupled with a concert ensemble.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo appropriate to your technical ability. Participate in one same instrument small ensemble.
							Audition for and make the grade-level appropriate All-State ensemble.</p>
						
						<h3>Camps</h3>
						
							<p>Attend an extended Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. This should be on a college campus you want to attend. While attending this camp, take at least one private lesson from the professor in whose studio you might spend most of your college experience. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>10th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts outside of your school this academic year. For example, four concerts of large performance ensembles (e.g. Wind Ensemble, Philharmonic Orchestra, Jazz Ensemble, etc.) at the college you are most interested in attending. Attend two concerts of small or large ensembles presented by the professors and conductors that you are developing a relationship with. Attend two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). In addition, add two performances outside the discipline of your primary performance ensemble like a Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend two Master Classes on a college campus.
							Begin the year by taking private lessons once a week with a professional player. This professional player can be a local college professor, a symphonic player, or a local recognized private instructor. If the private instructor is not a college professor, you may want to add two lessons from the college professor whose studio you want to be in before your Solo and Ensemble Festival participation or before your All-State audition.
							Continue music theory instruction coupled with sight-singing development. This can be through formal course offerings at your school, college-prep classes, or online instruction.</p>	
						
						<h3>Performance</h3>
						
							<p>Participate in at least two school performance ensembles. For example: High School Symphonic Band and High School Orchestra, or High School Symphonic Band and High School Chorus. If you are a wind instrumentalist, marching band must be coupled with a concert ensemble. Consider district wide ensembles like countywide or regional Youth Orchestras.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability, as well as in one same instrument small ensemble and a mixed ensemble of like instrument or mixed instruments choir.
							Audition for and make the grade-level appropriate All-State ensemble.</p>	
						
						<h3>Camps</h3>
						
							<p>Attend an extended Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. This should be on a college campus you want to attend. Take at least one private lesson from the professor in whose studio you want to spend most of your collegiate experience. Consider a nationally recognized summer enrichment program like “The Governor’s School for the Arts” in your state or a nationally noted</p>

						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>11th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend ten concerts outside of your school this academic year. For example, four concerts of large performance ensembles (e.g. Wind Ensemble, Philharmonic Orchestra, Jazz Ensemble, etc.) on a college or university campus; preferably on the campus of the college/university that you are most interested in attending. Attend two concerts of small or large ensembles presented by the professors/conductors that you are developing a relationship with. Attend two concerts by professional organizations like your city’s symphony, community concert band, or touring ensemble(s). In addition, add two concerts/performances outside the discipline of your primary performance ensemble. Example: Broadway musical, opera, ballet, community chorus, or folksong festival.</p>
						
						<h3>Classes</h3>
						
							<p>Attend four Master Classes on at least two college campuses.
							Continue taking private lessons once a week with a professional player. This professional player can be a local college professor, a symphonic player, or a local recognized private instructor. If the private instructor is not a college professor, then you may want to add two lessons from the college professor whose studio you want to be in before your Solo and Ensemble Festival participation or before your All-State audition.
							Continue music theory instruction coupled with sight-singing development. In addition, take a music history course to learn the basic style periods, composers, and works related to each of these style periods. All of the above can be achieved through formal course offerings at your school, college-prep classes, or online instruction.</p>	
						
						<h3>Performance</h3>
						
							<p>Participate in at least two school performance ensembles. For example: High School Symphonic Band and High School Orchestra, or High School Symphonic Band and High School Chorus. If wind instrumentalist, note that marching band cannot constitute your second performance ensemble; it must be coupled with a concert ensemble. You may also consider district wide ensembles such as countywide or regional Youth Orchestras.
							Participate in an extra-curricular musical performance outside of the daily academic structure. Examples are the pit orchestra for a community theater’s Broadway musical presentation, orchestra for community ballet presentation of the “Nutcracker,” or community band or orchestra holiday presentations.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability, as well as, participate in one same instrument small ensemble and a mixed ensemble or same instrument or mixed instruments choir.
							Audition and make the grade-level appropriate All-State ensemble.
							Perform solo recital in the spring of this academic year. Perform five accompanied compositions and two unaccompanied compositions or etudes. These selections should be Grade 5 or 6. Additional selections can be at a lower grade level. Violinists and violists should consider performing one selection from memory.
							Compete in a regional or national concerto competition. For example: Midwest Young Artists Concerto Competition, Marine Band Concerto Competition, Navy Band Concerto Competition, and the National Philharmonic Concerto Competition, to list only a few. Many local symphonies sponsor concerto competitions. Note that the prizes for winners are often college scholarships.
							Compete in your instrument’s guild regional or national competition. For example: International Trumpet Guild Solo Competition, American Viola Society, or American Flute Guild, etc. Prizes for winners are often college scholarships!</p>	
						
						<h3>Camps</h3>
						
							<p>Attend extended Summer Camp (Band or Orchestra) that has age appropriate performance repertoire. This should be on a college campus; preferably on the college campus that you want to attend. While attending this camp take at least one private lesson from the professor in whose studio you might spend the majority of your collegiate experience. Or moreover, this can be a nationally recognized summer enrichment program such as “The Governor’s School for the Arts” in your state or one of the nationally noted summer camps that has America’s most famous conductors and performers as instructors. Check out our grade-by-grade summer experience guide for details.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>

					<hr>

					<h2>12th Grade Guide For Instrumentalists</h2>

						<h3>Attend Outside Performances</h3>
						
							<p>Attend four concerts outside of your school this academic year. Each of these concerts should be at the schools that you are auditioning for acceptance and scholarships.</p>
						
						<h3>Classes</h3>
						
							<p>Attend four Master Classes. Each Master Class should be at the schools that you are auditioning for acceptance and scholarships.
							Continue taking private lessons once a week with a professional player. If the private instructor is not a college professor, then you may want to add two lessons from the college professor whose studio you want to be in during your college experience
							Continue music theory instruction coupled with sight-singing development. Take weekly online music theory tests.</p>
						
						<h3>Performance</h3>
						
							<p>Participate in at least two school performance ensembles. For example: High School Symphonic Band and High School Orchestra, or High School Symphonic Band and High School Chorus. Marching band cannot count as your second performance ensemble; it must be coupled with a concert ensemble. You may also consider district wide ensembles such as countywide or regional Youth Orchestras.
							Participate in statewide Solo and Ensemble Festival by performing an accompanied solo that is appropriate to your technical ability.
							Audition for and make the grade-level appropriate All-State ensemble.
							Compete in a regional or national concerto competition. For example: Midwest Young Artists Concerto Competition, Marine Band Concerto Competition, Navy Band Concerto Competition, and the National Philharmonic Concerto Competition, to list only a few. Many local symphonies sponsor concerto competitions. Prizes for winners are often college scholarships!
							Compete in your instrument’s guild regional or national competition. For example: International Trumpet Guild Solo Competition, American Viola Society, or American Flute Guild, etc. Prizes for winners are often college scholarships!
							Most importantly, take the first audition time available for each college or university where you are auditioning. Follow your audition with personal hand-written notes of thanks to each person on the audition committee.</p>
					
						<p><i>Keep Accoladi updated each semester and summer. Focus on strengthening your video profile before senior year starts.</i></p>
				
				</div>

			</div>

		</div>

	</ng-container>
	
</section>


<app-footer></app-footer>
