<div class="who-how-what-why-page">
	
	<h2 class="heading text-center">HOW WE DO IT</h2>
	
	<div class="container-fluid">

		<div class="row justify-content-md-center">
			
			<div class="col-3">
				
				<div class="text-center" >
					<img src="assets/images/student5.jpg" class="img-fluid" />
					<!-- <div class="feature-label left" >Students</div> -->
				</div>

			</div>

			<div class="col-5">

				<h4>Students</h4>
				<ul>
					<li>Assistance in the application, audition and acceptance process, regardless of major</li>
					<li>A platform to upload information, references, and audition videos</li>
					<li>College directories of music degrees and premier programs</li>
					<li>A searchable directory of non-institutional scholarships</li>
					<li>A directory of careers in music</li>
					<li>Support resources: music entrance exam samples and a repertoire directory appropriate for auditions</li>
				</ul>

			</div>

		</div>

		&nbsp;<br><hr>&nbsp;<br>

		<div class="row justify-content-md-center">
			
			<div class="col-5">
				
				<h4>Teachers</h4>
				<ul>
					<li>Video and printable materials outlining trends in recruiting, auditioning and scholarship procurement</li>
					<li>A portal for uploading references</li>
					<li>Audition exercises for ensemble participation or individual instruction</li>
					<li>A support program (Soar Program) for assisting underserved students</li>
				</ul>

			</div>

			<div class="col-3">
				
				<div class="text-center" >
					<img src="assets/images/teacher5.jpg" class="img-fluid" />
					<!-- <div class="feature-label right">Teachers</div> -->
				</div>

			</div>

		</div>

		&nbsp;<br><hr>&nbsp;<br>

		<div class="row justify-content-md-center">
			
			<div class="col-3">
				
				<div class="text-center" >
					<img src="assets/images/higher-ed5.png" class="img-fluid" />
					<!-- <div class="feature-label left">Recruiters</div>-->
				</div>
			</div>

			<div class="col-5">

				<h4>Recruiters</h4>
				<ul>
					<li>A searchable database of prospective students,  with video solo performances</li>
					<li>A secure portal for direct contact with students and their parents/teachers</li>
					<li>A portal for reviewing student references </li>
					<li>A data management system that allows for the sharing of information between colleagues of the same institution </li>
					<li>A list of Premier Programs that highlights individual programs within colleges, universities, and conservatories across America </li>
					<li>A directory of every institution in America that offers music as either a major and/or non-major, as well as, a direct link to the related site of the institution</li>
				</ul>

			</div>

		</div>

	</div>

	<app-footer></app-footer>
	
</div>