	<!-- Hero Section
	<div class="hero-section">

		<div class="hero-subtext">
			<h4>When you make the</h4>
			<h4 class="right">right connection,</h4>
		</div>

		<div class="hero-maintext">
			<h1>anything is</h1>
			<h1 class="right">possible.</h1>
		</div>

		<div class="text-right">
			<button
				[routerLink]="['/public/get-connected']"
				class="btn btn-outline-light hero-button dropdown-toggle"
				id="navbarDropdown"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">GET CONNECTED</button>
		</div>

	</div>-->
	<!-- Hero Section End -->

	<!-- Hero Section -->
	<div class="hero-section index-hero-video">
	
		<iframe src="https://www.youtube.com/embed/mD7Z8faovgM?playlist=mD7Z8faovgM&autoplay=1&mute=1&showinfo=0&controls=0&loop=1&modestbranding=1"></iframe>
		
		<div class="hero-subtext">
			<h4><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
		</div>

		<div class="hero-maintext">
			<h1><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
		</div>

		<div class="text-right">
		</div>

	</div>
	<!-- Hero Section End -->

	<!-- <div class="jumbotron jumbotron-fluid">

		<video autoplay muted loop >
			<source src="/assets/videos/HeroVideo.mp4" type="video/mp4">
		</video>

		<div class="hero-section index-hero-video">
		<div class="hero-subtext">
			<h4>When you make the</h4>
			<h4 class="right">right connection,</h4>
		</div>
		<div class="hero-maintext" style="vertical-align: baseline;border:thin red solid;margin-top:70px;">
			<h1>anything is</h1>
			<h1 class="right">possible.</h1>
		</div>
		<div class="text-right">
			<button
				[routerLink]="['/public/get-connected']"
				class="btn btn-outline-light hero-button dropdown-toggle"
				id="navbarDropdown"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">GET CONNECTED</button>
		</div>
		</div>
	</div>
	/.jumbotron -->

	<!-- Explore Section -->
<!--<div class="explore-section">

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-4 text-center finger" [routerLink]="['/public/articles/music_scholarships']" >
					<h3 class="right-border text-uppercase">Music Scholarships</h3>
				</div>

				<div class="col-sm-4 text-center finger" [routerLink]="['/public/articles/audition_advice']" >
					<h3 class="right-border text-uppercase">Audition Advice</h3>
				</div>

				<div class="col-sm-4 text-center finger" [routerLink]="['/public/articles/collegiate_connections']" >
					<h3 class="text-uppercase">Collegiate Connections</h3>
				</div>

			</div>

		</div>

	</div>
-->
	<!-- Explore Section End -->

	<section id="section-1-2">

		<!-- Section 1 -->
		<div class="section-1">

			<!-- Scholarship Section -->
			<div class="scholarship">

				<h2 class="heading text-center mb-3">SCHOLARSHIPS</h2>
				<div class="text-2 text-center">
					Both institutional and non-institutional available
				</div>

				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-4 col-md-12 col-sm-12 text-center mt-3">
							<div id="stat-box">
								<h3 class="title">$5.2 Billion</h3>
								<p class="text">in performing arts scholarships available each year</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12 text-center mt-3">
							<div id="stat-box">
								<h3 class="title">$1.3 Billion</h3>
								<p class="text">in unclaimed scholarship money each year</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-12 col-sm-12 text-center mt-3">
							<div id="stat-box">
								<h3 class="title">170,000+</h3>
								<p class="text">music scholarships awarded annually in the U.S.</p>
							</div>
						</div>

					</div>

				</div>


				<div class="container-fluid">
					<div  class="row">
						<div class="text-center col-lg-6">
							<button [routerLink]="['/public/articles/music_scholarships']" class="btn button finger">Music Scholarship</button>
						</div>
						<div class="text-center col-lg-6">
							<button [routerLink]="['/scholarships']" class="btn button finger">Scholarship Directory</button>
						</div>
					</div>
					
				</div>
				

			</div>
			<!-- Scholarship Section End -->

			
			<!-- Resources Section -->
			<div class="resources-section">

				<h2 class="heading text-center">RESOURCES</h2>

				<p class="text">
					We’ve done the application, audition, and scholarship research for you. We have the directories, advice, and guides you need to be successful.
				</p>

			</div>
		
			<!-- Resources Section End -->

		</div>
		<!-- Section 1 End -->

		<!-- Section 2 -->
		<div class="section-2">

			<!-- Start -->
			<div class="container-fluid ease-th-section">

				<div class="row ease-th align-items-center">

					<div class="col-xl-4 px-0">
						<img src="assets/images/audition-req-img.png" alt="img" class="w-100" />
					</div>

					<div class="col-xl-8 px-xl-5 my-4 my-xl-0 text-center text-xl-start">

						<h2 class="title">Audition Requirements</h2>

						<p class="text">
							From colleges, universities, and conservatories for every discipline
						</p>

						<button [routerLink]="['/public/audition-requirements/']" class="btn button finger">Find Your Requirements</button>

					</div>

				</div>

				<div class="row ease-th align-items-center mt-5">

					<div class="col-xl-4 px-0 order-xl-1">
						<img src="assets/images/entrance-exam-img.png" alt="img" class="w-100" />
					</div>

					<div class="col-xl-8 px-xl-5 my-4 my-xl-0 text-center text-xl-start order-xl-0 ">

						<h2 class="title">Entrance Exams</h2>

						<p class="text">
							Questions and answers from over 200 music programs
						</p>

						<button [routerLink]="['/public/exam/']"  class="btn button finger">Start Studying</button>

					</div>

				</div>

				<br/>

				<div class="text-center my-5">
					<button [routerLink]="['/public/resources']" class="btn more-resource-btn finger">Explore More Resources</button>
				</div>

				<br/>

			</div>
			<!-- End -->

			<!-- Featured Student -->
			<div class="featured-student container-fluid">

				<h2 class="heading text-center">FEATURED STUDENTS</h2>

				<div class="row">

					<div class="col-lg-8 position-relative mt-4 finger" (click)="openFeaturedStudent1(featureStudent1)" >
						<img src="assets/images/featured/student1.png" alt="img" class="w-100" />
						<div class="student-name">Percussion<br><span class="student-location">Odessa, TX</span></div>
					</div>

					<div class="col-lg-4 mt-4">

						<div class="position-relative finger" (click)="openFeaturedStudent2(featureStudent2)" >
							<img src="assets/images/featured/student2.png" alt="img" class="w-100" />
							<div class="student-name">Musical Theater<br><span class="student-location">Dallas, TX</span></div>
						</div>

						<div class="position-relative mt-4 finger" (click)="openFeaturedStudent3(featureStudent3)" >
							<img src="assets/images/featured/student3.png" alt="img" class="w-100" />
							<div class="student-name">Vocal<br><span class="student-location">Cooksville, MD</span></div>
						</div>

					</div>

				</div>
			</div>
			<!-- Featured Student End -->

		</div>
		<!-- Section 2 End -->

	</section>

	<!-- Featured School - program -->
	<div class="featured container-fluid">

		<div class="row align-items-center">

			<div class="col-lg-6 position-relative px-0 order-0 order-lg-0 finger" (click)="openFeaturedSchool(featureSchool)" >
				<img src="assets/images/featured/school.jpg" alt="img" class="w-100 featured-img" />
				<div class="feature-label right">Featured School</div>
			</div>

			<div class="col-lg-6 feature-desc order-1 order-lg-1">
				Texas State University <br /><br />
				San Marcos, Texas
			</div>

			<div class="col-lg-6 feature-desc order-3 order-lg-2">
				Texas State University <br /><br />
				Featured Program: Musical Theatre
			</div>

			<div class="col-lg-6 position-relative px-0 order-2 order-lg-3 finger" (click)="openFeaturedProgram(featureProgram)" >
				<img src="assets/images/featured/program.jpg" alt="img" class="w-100 featured-img" />
				<div class="feature-label left">Featured Program</div>
			</div>

		</div>

	</div>
	<!-- Featured School - program end -->

	<!-- Mission -->
	<div class="mission">

		<!-- <h2 class="heading text-center">OUR MISSION</h2> -->

		<p class="text text-center">
			We empower student performers to recognize, afford, and achieve their collegiate dreams.
		</p>

		<div class="container-fluid mission-buttons">

			<div class="row">

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/what']" class="btn btn-mission finger">
						<strong>WHAT</strong><br>WE DO
					</button>
				</div>

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/how']" class="btn btn-mission finger">
						<strong>HOW</strong><br>WE DO IT
					</button>
				</div>

				<div class="col-sm-4 text-center">
					<button [routerLink]="['/public/why']" class="btn btn-mission finger">
						<strong>WHY</strong><br>WE DO IT
					</button>
				</div>

			</div>

		</div>

		<div class="accoladi-sponsors">

			<h4>
				Accoladi engages with these organizations.<!--  <button class="btn btn-sponsor">See All</button> -->
			</h4>

			<div class="container-fluid">
				<ngb-carousel [showNavigationIndicators]=false >
					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/ASN.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/ASTA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/BMC.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/CBDNA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/CMS.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/FMEA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/FoTMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/FW.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/GMEA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/ICFA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/IMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/IMEA1.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/JEN.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/KMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/KMEA1.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/LOAO.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MAR.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MFA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MTEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MTNA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/MWC.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NAFME.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NASM.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NATSinc.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NBA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NCMEA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NEMFA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NFHS.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/NYSMTA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/OkMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/OMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/SCMEA.png">
						</div>
					</ng-template>

					<ng-template ngbSlide>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/TMAC.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/TMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/WMEA.png">
						</div>
						<div class="sponsor-item">
							<img src="assets/images/organization-logos/WMEA1.png">
						</div>
					</ng-template>

				</ngb-carousel>
			</div>

		</div>

		<app-footer></app-footer>

	</div>
	<!-- Mission End -->

<!-- notice -->
<ng-template #notice let-modal>
	<h3 class="model-heading">Notice</h3>
	<div class="model-body">
		<p style="padding:10px">
			THANK YOU FOR VISITING OUR NEW SITE.
			WE ARE CURRENTLY UPGRADING ACCOLADI FOR YOUR BENEFIT.
			PLEASE EXCUSE OUR GLITCHES.
			WE’LL BE BACK FULL SPEED SOON.
			CLICK HERE AND SEE OUR NEW LOOK!
			EMAIL YOUR COMMENTS TO <a href="email:INFO@ACCOLADI.COM">INFO@ACCOLADI.COM</a>
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>

<!-- Feature Student 1 -->
<ng-template #featureStudent1 let-modal>
	<div class="modal-content" >
		<h3 class="model-heading">Feature Student</h3>
		<div class="model-body text-center">
			<div class="video-container" >
				<iframe
					src="https://www.youtube.com/embed/sr8Rpjw-06A?rel=0"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
		</div>
</div>
</ng-template>

<!-- Feature Student 2 -->
<ng-template #featureStudent2 let-modal>
	<div class="modal-content" >
		<h3 class="model-heading">Feature Student</h3>
		<div class="model-body text-center">
			<div class="video-container" >
				<iframe
					src="https://www.youtube.com/embed/ZqkaRp7BLyE?rel=0"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
		</div>
</div>
</ng-template>

<!-- Feature Student 3 -->
<ng-template #featureStudent3 let-modal>
	<div class="modal-content" >
		<h3 class="model-heading">Feature Student</h3>
		<div class="model-body text-center">
			<div class="video-container" >
				<iframe
					src="https://www.youtube.com/embed/Bjk-ruThQmU?rel=0"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
		</div>
</div>
</ng-template>

<!-- Feature School -->
<ng-template #featureSchool let-modal>
	<div class="modal-content" >
		<h3 class="model-heading">Feature School</h3>
		<div class="model-body text-center">
			<div class="video-container" >
				<iframe
					src="https://www.youtube.com/embed/I3uWy_J1LPQ?rel=0"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
		</div>
</div>
</ng-template>

<!-- Feature Program -->
<ng-template #featureProgram let-modal>
	<div class="modal-content" >
		<h3 class="model-heading">Feature Program</h3>
		<div class="model-body text-center">
			<div class="video-container" >
				<iframe
					src="https://www.youtube.com/embed/L_dZhVw_F6o?rel=0"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					></iframe>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
		</div>
</div>
</ng-template>