<div class="resources-page">

	<!-- Container -->
	<div class="cont-wrapper">

		<!-- Section A -->
		<div class="section-a">

			<div class="container-fluid">

				<div class="article-header-title text-center">
					<h1>Resources</h1>
					<hr class="article-hr">
				</div>

				<div class="row">

					<div class="col-lg-8 mt-4">

						<div [routerLink]="['/public/premier-programs']" class="position-relative finger">

							<img src="assets/images/img-resource-1.png" alt="img" class="img-fluid" />

							<div class="content-wrapper">
								<div class="title-1">PREMIER PROGRAMS</div>
								<button class="button-1">EXPLORE</button>
							</div>

						</div>

						<div class="text">
							Accoladi's proprietary list of exceptional
							<br class="d-none d-xxl-block" />
							collegiate music programs.
						</div>

					</div>

					<div class="col-lg-4">

						<div class="container-fluid">

							<div class="row">

								<div class="col-md-6 col-lg-12 mt-4">

									<div class="position-relative">

										<!-- <img src="assets/images/img-resource-2.png" alt="img" class="img-fluid" />

										<div class="content-wrapper-2">
											<a href="#" class="button-2">WATCH</a>
										</div> -->
										<iframe
											width="100%"
											height="270"
											src="https://www.youtube.com/embed/SWRJgldVAKk?rel=0"
											frameborder="0"
											allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>

									</div>

									<div class="text-2">
										<!-- Message from Founder, Dr. Randall Bayne -->
									</div>

								</div>

								<div class="col-md-6 col-lg-12 mt-4">

									<div [routerLink]="['/public/articles/turning_over_every_rock_paying_for_college']" class="position-relative finger">

										<img src="assets/images/img-resource-3.png" alt="img" class="img-fluid" />

										<div class="content-wrapper-2">
											<div class="title-2">PAYING FOR COLLEGE</div>
											<button class="button-2">SEE HOW</button>
										</div>

									</div>

									<div class="text">Don’t have a plan? We do!</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- Section A End -->

		<!-- Section B -->
		<div class="section-b">

			<div class="container-fluid">

				<!-- Process 1
				<div class="process row guide-item">

					<div class="col-lg-7 p-5  text-center text-lg-start order-1 order-lg-0 ">

						<h3 class="title">Institutional Scholarships</h3>
						<p class="text">
							Colleges have them <br />
							You can get them
						</p>

						<a [routerLink]="['/public/articles']"  class="button">LEARN MORE</a>
					</div>

					<div class="col-lg-5 px-0 order-0 order-lg-1">
						<img src="assets/images/process-img-1.png" alt="img" class="img-fluid w-100" />
					</div>

				</div>-->
				<!-- Process 1 End -->

				<!-- Process 2 -->
				<div class="process row guide-item">

					<div [routerLink]="['/scholarships']" class="col-lg-7 p-5 text-center text-lg-start order-1 finger">

						<h3 class="title">Non-Institutional Scholarships</h3>
						<p class="text">Most schools don’t tell you about them</p>
						<button class="button">WE WILL</button>

					</div>

					<div class="col-lg-5 px-0 order-0">
						<img src="assets/images/process-img-2.png" alt="img" class="img-fluid w-100" />
					</div>

				</div>
				<!-- Process 2 End -->

				<!-- Process 3
				<div class="process row guide-item">

					<div class=" col-lg-7
							 p-5
							 text-center text-lg-start
							 order-1 order-lg-0 ">
						<h3 class="title">Admissions Process</h3>
						<p class="text">Eliminate surprises</p>
						<a [routerLink]="['/public/articles']"  class="button">DISCOVER HOW</a>
					</div>

					<div class="col-lg-5 px-0 order-0 order-lg-1">
						<img src="assets/images/process-img-3.png" alt="img" class="img-fluid w-100" />
					</div>

				</div>-->
				<!-- Process 3 End -->

				<!-- Process 4 -->
				<div [routerLink]="['/public/audition-requirements']" class="process row guide-item finger">

					<div class="col-lg-7 p-5 text-center text-lg-start order-1">

						<h3 class="title">Preparing for Auditions</h3>
						<p class="text">Never too early</p>
						<button class="button">START NOW</button>

					</div>

					<div class="col-lg-5 px-0 order-0">
						<img src="assets/images/process-img-4.png" alt="img" class="img-fluid w-100" />
					</div>

				</div>
				<!-- Process 4 End -->

			</div>
		</div>
		<!-- Section B End -->

		<!-- Section C
		<div class="section-c mt-4">

			<div class="question-form">

				<h2 class="heading text-center">
					Have a question about the audition or admission process?
				</h2>

				<form class="container-fluid">

					<div class="row">

						<div class="col-md-6">

							<div class="form-group">
								<label>Name</label>
								<input type="text" />
							</div>

							<br />

							<div class="form-group">
								<label>Email</label>
								<input type="email" />
							</div>

						</div>

						<div class="col-md-6 mt-5 mt-md-0">

							<div class="form-group text-area-wrapper">
								<label>Question</label>
								<textarea></textarea>
							</div>

						</div>

					</div>

				</form>

			</div>

		</div> -->
		<!-- Section C End -->
		
		<div class="section-op">

			<div class="container-fluid">

				<div class="row">

					<div class="col-lg-6 op-img">
						<!-- <img src="assets/images/senior-year.png" alt="" class="img-fluid"> -->
					</div>

					<div  [routerLink]="['/public/fast-track']" class="col-lg-6 fast-track-senior-year finger">

						<table style="height: 100%; width: 100%;">
							<tr align="center">
								<td>
									<h4>Fast Track Action Plan</h4>
									<h1>SENIOR YEAR</h1>
									<button class="btn btn-op">GET STARTED</button>
								</td>
							</tr>
						</table>

					</div>

				</div>

			</div>

		</div>

		<!-- Section D
		<div class="section-d">

			<h2 class="heading text-center">STUDY MATERIALS</h2>

			<div class="links">
				<a  [routerLink]="['/musical-terms']">Terms</a>
				<a  [routerLink]="['/music-history']">Music History</a>
				<a  [routerLink]="['/theory']">Theory</a>
			</div>

			<div class="container-fluid mt-5">

				<div class="row">

					<div class="col-lg-6 col-xl-7 mt-4 pe-lg-4">

						<div class="position-relative entrance-img-wrapper">
							<img src="assets/images/entrance-exam-img-2.png" alt="img" class="w-100" />
							<div [routerLink]="['/public/exam']" class="entrance-exam-title">ENTRANCE EXAMS</div>
						</div>

						<div class="text">
							Library of actual entrance exam questions from over 200 institutions.
						</div>

					</div>

					<div class="col-lg-6 col-xl-5 mt-4 ps-lg-5">


						<div class="one-q">

							<div class="title">
								In American music history, place the following in chronological order:
							</div>

							<div class="d-flex keys">

								<div class="col">
									Ragtime <br />
									Jazz <br />
									Swing <br />
									Blues
								</div>

								<div class="col">
									Jazz <br />
									Ragtime <br />
									Blues <br />
									Swing
								</div>

								<div class="col">
									Blues <br />
									Ragtime <br />
									Jazz <br />
									Swing
								</div>

							</div>

						</div>

						<div class="two-q mt-4">

							<div class="title">
								In the key of A Major, what is the sub-mediant scale degree?
							</div>

							<div class="d-flex keys">
								<div class="col">G</div>
								<div class="col">F#</div>
								<div class="col">C#</div>
							</div>

						</div>

					</div>


				</div>
			</div>
		</div> -->
		<!-- Section D End -->

		<!-- Section E
		<div class="section-e">

			<h2 class="heading text-center">COLLEGE DIRECTORY</h2>

			<div class="directories">

				<a href="#" class="text-center">
					<img src="assets/images/public-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Public
				</a>

				<a href="#" class="text-center">
					<img src="assets/images/private-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Private
				</a>

				<a href="#" class="text-center">
					<img src="assets/images/religion-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Religious
				</a>

				<a href="#" class="text-center">
					<img src="assets/images/hbcu-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					HBCU
				</a>

				<a href="#" class="text-center">
					<img src="assets/images/and-more-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					And More!
				</a>

			</div>

			<img src="assets/images/us-map.png" alt="US-Map" class="img-fluid d-block mx-auto" />

		</div> -->
		<!-- Section E End -->

	</div>
	<!-- Container -->

	<!-- Directories Type -->
	<div class="directories-type container-fluid mt-5">

		<div class="row">

			<div class="col-sm-6 col-lg-3 mt-4 text-center">
				<img src="assets/images/Summer-Camp-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Summer Camp Directory</h2>
				<p class="text">
					National and international opportunities to bolster performance proficiency in a competitive environment
				</p>
			</div>

			<div class="col-sm-6 col-lg-3 mt-4 text-center">
				<img src="assets/images/Excerpt-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Excerpt Directory</h2>
				<p class="text">
					Applicable to audition requirments for any musical discipline
				</p>
			</div>

			<div class="col-sm-6 col-lg-3 mt-4 text-center">
				<img src="assets/images/Competition-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Competition Directory</h2>
				<p class="text">
					National and international listing of events to gain notable recognition and maximize scholarship potential
				</p>
			</div>

			<div class="col-sm-6 col-lg-3 mt-4 text-center">
				<img src="assets/images/Repertoire-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Repertoire Directory</h2>
				<p class="text">
					A national, graded, proprietary directory of suggested solo audition pieces
				</p>
			</div>

		</div>
	</div>
	<!-- Directories Type End -->

	<!-- Grade Guide -->
	<div class="grade-guide">

		<h2 class="heading text-center">Grade By Grade Guide</h2>
		<div class="text text-center">
			to improve musicianship and prepare for college auditions
		</div>

		<img src="assets/images/grades-guide.png" alt="img" class="img-fluid d-block mx-auto mt-5 mb-5" />
		<div class="text-center">
			<a  [routerLink]="['/public/grade-guide']" class="button">Explore The Complete Guide</a>
		</div>

	</div>
	<!-- Grade Guide End -->

	<!-- Music Careers
	<div class="music-carrers">

		<h2 class="heading text-center">Music Careers</h2>

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-1.png" alt="img" class="img-fluid" />
					<h4 class="title">Education</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-2.png" alt="img" class="img-fluid" />
					<h4 class="title">Performance</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-3.png" alt="img" class="img-fluid" />
					<h4 class="title">Composition</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-4.png" alt="img" class="img-fluid" />
					<h4 class="title">Religious</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-5.png" alt="img" class="img-fluid" />
					<h4 class="title">Recording Arts</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-6.png" alt="img" class="img-fluid" />
					<h4 class="title">Music Business</h4>
				</div>

				<div class="col-sm-6 col-lg-4 mt-4">
					<img src="assets/images/music-career-img-7.png" alt="img" class="img-fluid" />
					<h4 class="title">Music Therapy</h4>
				</div>

				<div class="col-lg-8 mt-4">

					<div class="career-form-wrapper">

						<h4 class="title-3 text-center">
							Know your career choice, but not the path? Let us help.
						</h4>

						<form class="career-form container-fluid">

							<div class="row">

								<div class="col-md-6">

									<div class="form-group">
										<label>Name</label>
										<input type="text" />
									</div>

								</div>

								<div class="col-md-6">

									<div class="form-group">
										<label>Email</label>
										<input type="email" />
									</div>

								</div>

								<div class="col-md-6">

									<div class="form-group">
										<label>Career</label>
										<input type="text" />
									</div>

								</div>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>-->
	<!-- Music Careers End -->

	<app-footer></app-footer>

</div>