<div class="resources-page">
	
	<!-- Container -->
	<div class="cont-wrapper">
		
		<!-- Section A -->
		<div class="section-a">
			
			<div class="container-fluid">
				
				<h2 class="heading text-center">Resources</h2>
				
				<div class="row">
					
					<div class="col-lg-8 mt-4">
						
						<div [routerLink]="['/public/premier-programs']" class="position-relative finger">
							
							<img src="assets/images/img-resource-1.png" alt="img" class="img-fluid" />
							
							<div class="content-wrapper">
								<div class="title-1">PREMIER PROGRAMS</div>
								<a  class="button-1">EXPLORE</a>
							</div>

						</div>

						<div class="text">
							Accoladi's proprietary list of exceptional
							<br class="d-none d-xxl-block" />
							collegiate music programs.
						</div>

					</div>
					
					<div class="col-lg-4">
						
						<div class="container-fluid">
							
							<div class="row">
								
								<div class="col-md-6 col-lg-12 mt-4">
									
									<div class="position-relative">
										
										<iframe
											width="100%"
											height="270"
											src="https://www.youtube.com/embed/SWRJgldVAKk?rel=0"
											frameborder="0"
											allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>

									</div>

									<div class="text-2">
										<!-- Message from Founder, Dr. Randall Bayne -->
									</div>

								</div>
								
								<div class="col-md-6 col-lg-12 mt-4">
									
									<div [routerLink]="['/public/articles/turning_over_every_rock_paying_for_college']" class="position-relative finger">
									
										<img src="assets/images/img-resource-3.png" alt="img" class="img-fluid" />
										
										<div class="content-wrapper-2">
											<div class="title-2">PAYING FOR COLLEGE</div>
											<a  class="button-2">SEE HOW</a>
										</div>

									</div>

									<div class="text">
										Don’t have a plan? We do!
									</div>

								</div>
								
							</div>

						</div>

					</div>
					
				</div>

			</div>

		</div>
		<!-- Section A End -->

		<!-- Section B -->
		<div class="section-b">

			<div class="container-fluid">
				
				<!-- Process 1 -->
				<div class="process row guide-item">
					
					<div class="col-lg-7 p-5 text-center text-lg-start order-1 order-lg-0 ">
						
						<h3 class="title">Institutional Scholarships</h3>
					
						<p class="text">
							Colleges have them <br />
							You can get them
						</p>
						<!--  [routerLink]="['/public/institutional-scholarships']" -->
						<button [routerLink]="['/public/articles/scholarships_grants_and_loans_scholarshipauditions']" class="button finger">
							LEARN MORE
						</button>

					</div>

					<div class="col-lg-5 px-0 order-0 order-lg-1">
						
						<img src="assets/images/process-img-1.png" alt="img" class="img-fluid w-100" />

					</div>

				</div>
				<!-- Process 1 End -->

				<!-- Process 2 -->
				<div class="process row guide-item">

					<div [routerLink]="['/scholarships']" class="col-lg-7 p-5 text-center text-lg-start order-1 finger">
						
						<h3 class="title">Non-Institutional Scholarships</h3>
						
						<p class="text">Most schools don’t tell you about them</p>
						
						<button class="button">WE WILL</button>

					</div>

					<div class="col-lg-5 px-0 order-0">
						
						<img src="assets/images/process-img-2.png" alt="img" class="img-fluid w-100" />

					</div>

				</div>
				<!-- Process 2 End -->

				<!-- Process 3 -->
				<div class="process row guide-item">
					
					<div [routerLink]="['/public/articles/first_generation_college_student_guidance_and_actionable_tips_part_1']" class=" col-lg-7 p-5 text-center text-lg-start order-1 order-lg-0  finger">
						
						<h3 class="title">Admissions Process</h3>
						
						<p class="text">Eliminate suprises</p>
						
						<button class="button">DISCOVER HOW</button>
					
					</div>

					<div class="col-lg-5 px-0 order-0 order-lg-1">
						
						<img src="assets/images/process-img-3.png" alt="img" class="img-fluid w-100" />

					</div>

				</div>
				<!-- Process 3 End -->

				<!-- Process 4 -->
				<div class="process row guide-item">

					<div [routerLink]="['/public/audition-requirements']" class="col-lg-7 p-5 text-center text-lg-start order-1 finger">

						<h3 class="title">Preparing for Auditions</h3>

						<p class="text">Never too early</p>

						<button class="button">START NOW</button>

					</div>

					<div class="col-lg-5 px-0 order-0">

						<img src="assets/images/process-img-4.png" alt="img" class="img-fluid w-100" />

					</div>

				</div>
				<!-- Process 4 End -->

			</div>

		</div>
		<!-- Section B End -->

		<!-- Section C 
		<div class="section-c mt-4">
			<div class="question-form">
				<h2 class="heading text-center">
					Have a question about the audition or admission process?
				</h2>
				<form class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Name</label>
								<input type="text" />
							</div>
							<br />
							<div class="form-group">
								<label>Email</label>
								<input type="email" />
							</div>
						</div>
						<div class="col-md-6 mt-5 mt-md-0">
							<div class="form-group text-area-wrapper">
								<label>Question</label>
								<textarea></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>-->
		<!-- Section C End -->

		<!-- Section D -->
		<div class="section-op">
			
			<div class="container-fluid">
				
				<div class="row">
					
					<div class="col-lg-6 op-img">
						<!-- <img src="assets/images/senior-year.png" alt="" class="img-fluid"> -->
					</div>

					<div [routerLink]="['/public/fast-track']" class="col-lg-6 fast-track-senior-year finger">
						
						<table style="height: 100%; width: 100%;">
							<tr align="center">
								<td>
									<h4>Fast Track Action Plan</h4>
									<h1>SENIOR YEAR</h1>
									<button class="btn btn-op">GET STARTED</button>
								</td>
							</tr>
						</table>

					</div>

				</div>

			</div>

		</div>
		<!-- Section D End -->

		<!-- Section E -->
		<div class="section-d">
			
			<h2 class="heading text-center">STUDY MATERIALS</h2>
			
			<div class="links finger">
				<a >Terms</a> <!-- [routerLink]="['/public/resources/musical-terms']" -->
				<a >Music History</a><!--  [routerLink]="['/public/resources/music-history']" -->
				<a >Theory</a><!--  [routerLink]="['/public/resources/theory']" -->
			</div>

			<div class="container-fluid mt-5">
				
				<div class="row">
					
					<div class="col-lg-6 col-xl-7 mt-4 pe-lg-4">
						
						<div class="position-relative entrance-img-wrapper">
							
							<img src="assets/images/entrance-exam-img-2.png" alt="img" class="w-100" />
							<div [routerLink]="['/public/exam']" class="entrance-exam-title finger">ENTRANCE EXAMS</div>

						</div>

						<div class="text">
							Library of actual entrance exam questions from over 200 institutions.
						</div>

					</div>
					
					<div class="col-lg-6 col-xl-5 mt-4 ps-lg-5">
						<!-- 1 -->
						<div class="one-q">
							
							<div class="title">
								In American music history, place the following in chronological order:
							</div>

							<div class="d-flex keys">
								
								<div class="col">
									Ragtime <br />
									Jazz <br />
									Swing <br />
									Blues
								</div>

								<div class="col">
									Jazz <br />
									Ragtime <br />
									Blues <br />
									Swing
								</div>

								<div class="col">
									Blues <br />
									Ragtime <br />
									Jazz <br />
									Swing
								</div>

							</div>

						</div>
						<!-- /1 -->

						<!-- 2 -->
						<div class="two-q mt-4">
							
							<div class="title">
								In the key of A Major, what is the sub-mediant scale degree?
							</div>

							<div class="d-flex keys">
								<div class="col">G</div>
								<div class="col">F#</div>
								<div class="col">C#</div>
							</div>

						</div>
						<!-- /2 -->

					</div>
					
				</div>

			</div>

		</div>
		<!-- Section E End -->

		<!-- Section F -->
		<div class="section-e">
			
			<h2 class="heading text-center">COLLEGE DIRECTORY</h2>
			
			<div class="directories">
				
				<a  class="text-center">
					<img src="assets/images/public-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Public
				</a>
				
				<a  class="text-center">
					<img src="assets/images/private-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Private
				</a>
				
				<a  class="text-center">
					<img src="assets/images/religion-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					Religious
				</a>
				
				<a  class="text-center">
					<img src="assets/images/hbcu-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					HBCU
				</a>
				
				<a  class="text-center">
					<img src="assets/images/and-more-icon.png" alt="img" class="img-fluid d-block mx-auto" />
					And More!
				</a>
				
			</div>
			
			<div class="text-center">

				<img src="assets/images/usa-map-yellow.png" alt="US-Map" usemap="#image-map" >
				<!-- [routerLink]="['/path/']"  -->
				<map name="image-map" >
					<area [routerLink]="['/colleges/AL/']" alt=" ALABAMA " TITLE=" ALABAMA " coords="648,351,657,351,656,343,690,339,688,325,691,315,685,311,675,275,643,279,644,291,642,318" shape="poly" >
					<area [routerLink]="['/colleges/AK/']" alt=" ALASKA " TITLE=" ALASKA " coords="14,297,170,176" shape="rect" >
					<area [routerLink]="['/colleges/AZ/']" alt=" ARIZONA " TITLE=" ARIZONA " coords="363,330,371,244,311,235,311,246,300,244,302,261,304,275,292,285,297,293,287,299,312,316,337,328" shape="poly" >
					<area [routerLink]="['/colleges/AR/']" alt=" ARKANSAS " TITLE=" ARKANSAS " coords="557,263,607,261,607,269,619,267,615,286,610,295,604,306,605,316,566,318,567,309,561,305" shape="poly" >
					<area [routerLink]="['/colleges/CA/']" alt=" CALIFORNIA " TITLE=" CALIFORNIA " coords="210,126,261,139,251,181,303,272,292,285,297,295,286,297,259,295,244,265,220,253,227,240,214,215,220,206,214,204,211,185,204,169,207,161,200,152" shape="poly" >
					<area [routerLink]="['/colleges/CO/']" alt=" COLORADO " TITLE=" COLORADO " coords="386,178,467,188,467,200,462,250,375,243" shape="poly" >
					<area [routerLink]="['/colleges/CT/']" alt=" CONNECTICUT " TITLE=" CONNECTICUT " coords="803,140,808,159,822,151,815,136" shape="poly" >
					<area [routerLink]="['/colleges/DE/']" alt=" DELAWARE " TITLE=" DELAWARE " coords="782,187,797,197,802,209,791,222,783,211" shape="poly" >
					<area [routerLink]="['/colleges/FL/']" alt=" FLORIDA " TITLE=" FLORIDA " coords="660,345,657,354,674,354,686,362,705,353,715,358,727,374,729,385,735,385,731,397,757,424,766,422,771,406,766,386,758,376,763,368,739,338,730,342,727,349,716,339,695,342,689,339" shape="poly" >
					<area [routerLink]="['/colleges/GA/']" alt=" GEORGIA " TITLE=" GEORGIA " coords="675,277,694,277,703,278,711,282,723,297,743,318,737,329,739,339,731,341,727,348,718,340,706,343,691,343,691,317,684,307" shape="poly" >
					<area [routerLink]="['/colleges/HI/']" alt=" HAWAII " TITLE=" HAWAII " coords="243,399,147,334" shape="rect" >
					<area [routerLink]="['/colleges/ID/']" alt=" IDAHO " TITLE=" IDAHO " coords="297,145,364,157,365,114,354,114,342,106,340,95,331,95,339,80,331,66,330,39,319,33,308,79,314,89,298,108" shape="poly" >
					<area [routerLink]="['/colleges/IL/']" alt=" ILLINOIS " TITLE=" ILLINOIS " coords="626,247,639,242,643,234,639,230,646,217,642,212,642,170,635,160,607,162,609,170,600,180,601,189,595,195,596,204,599,211,607,214,614,221,610,232" shape="poly" >
					<area [routerLink]="['/colleges/IN/']" alt=" INDIANA " TITLE=" INDIANA " coords="640,167,648,169,671,170,678,208,674,218,660,229,640,234,647,218,643,208" shape="poly" >
					<area [routerLink]="['/colleges/IA/']" alt=" IOWA " TITLE=" IOWA " coords="533,153,594,150,596,157,600,160,607,166,607,172,600,179,600,188,595,196,586,195,544,194" shape="poly" >
					<area [routerLink]="['/colleges/KS/']" alt=" KANSAS " TITLE=" KANSAS " coords="463,248,469,201,550,204,556,226,556,252" shape="poly" >
					<area [routerLink]="['/colleges/KY/']" alt=" KENTUCKY " TITLE=" KENTUCKY " coords="626,250,636,243,644,233,655,231,664,227,675,217,679,209,691,217,699,217,707,218,706,223,713,229,711,237,697,248,640,253,632,256" shape="poly" >
					<area [routerLink]="['/colleges/LA/']" alt=" LOUISIANA " TITLE=" LOUISIANA " coords="566,320,602,319,606,328,601,337,599,348,605,348,623,349,625,358,631,362,635,372,611,376,595,375,573,370,575,346" shape="poly" >
					<area [routerLink]="['/colleges/ME/']" alt=" MAIN " TITLE=" MAIN " coords="829,38,849,39,857,64,871,74,863,84,849,94,836,102,836,111,827,106,816,83,821,75" shape="poly" >
					<area [routerLink]="['/colleges/MD/']" alt=" MARYLAND " TITLE=" MARYLAND " coords="754,188,778,183,784,186,778,194,783,209,771,207,769,195,755,194" shape="poly" >
					<area [routerLink]="['/colleges/MA/']" alt=" MASSACHUSETTS " TITLE=" MASSACHUSETTS " coords="804,128,831,122,833,127,845,126,851,132,843,144,835,144,828,137,820,134,804,139" shape="poly" >
					<area [routerLink]="['/colleges/MI/']" alt=" MICHIGAN " TITLE=" MICHIGAN " coords="605,96,628,79,645,94,671,88,683,96,691,110,699,130,699,144,692,160,671,170,645,169,647,130,644,117,635,121,628,112" shape="poly" >
					<area [routerLink]="['/colleges/MN/']" alt=" MINNESOTA " TITLE=" MINNESOTA " coords="536,149,537,126,532,108,536,102,529,56,551,55,566,63,587,69,610,75,596,84,588,94,577,99,581,104,576,108,575,116,575,123,585,130,595,140,595,147" shape="poly" >
					<area [routerLink]="['/colleges/MS/']" alt=" MISSISSIPPI " TITLE=" MISSISSIPPI " coords="628,358,647,353,642,334,639,318,644,294,642,280,615,284,611,291,604,300,604,314,607,324,607,331,599,346,623,347" shape="poly" >
					<area [routerLink]="['/colleges/MO/']" alt=" MISSOURI " TITLE=" MISSOURI " coords="546,196,593,196,599,211,606,214,609,219,610,228,614,233,620,239,627,242,623,248,626,254,619,260,618,266,608,265,606,260,559,261,558,250,557,222" shape="poly" >
					<area [routerLink]="['/colleges/MT/']" alt=" MONTANA " TITLE=" MONTANA " coords="333,41,455,55,447,120,373,115,365,112,352,114,341,98,335,94,339,79,329,60" shape="poly" >
					<area [routerLink]="['/colleges/NE/']" alt=" NEBRASKA " TITLE=" NEBRASKA " coords="468,200,467,187,442,183,447,154,512,159,527,164,539,175,542,191,544,201" shape="poly" >
					<area [routerLink]="['/colleges/NV/']" alt=" NEVADA " TITLE=" NEVADA " coords="297,259,300,243,309,243,330,154,260,140,249,183" shape="poly" >
					<area [routerLink]="['/colleges/NH/']" alt=" NEW HAMPSHIRE " TITLE=" NEW HAMPSHIRE " coords="815,86,809,89,816,95,809,105,811,127,827,121,831,110,823,105" shape="poly" >
					<area [routerLink]="['/colleges/NJ/']" alt=" NEW JERSEY " TITLE=" NEW JERSEY " coords="792,158,802,158,808,166,806,175,800,188,789,184,793,172,785,167" shape="poly" >
					<area [routerLink]="['/colleges/NM/']" alt=" NEW MEXICO " TITLE=" NEW MEXICO " coords="375,242,450,253,439,327,365,330" shape="poly" >
					<area [routerLink]="['/colleges/NY/']" alt=" NEW YORK " TITLE=" NEW YORK " coords="728,152,735,143,736,134,763,124,763,116,775,96,789,97,797,113,803,127,803,139,804,151,807,157,819,155,822,161,804,164,797,155,789,154,779,146,764,147,735,156" shape="poly" >
					<area [routerLink]="['/colleges/NC/']" alt=" NORTH CAROLINA " TITLE=" NORTH CAROLINA " coords="692,272,699,264,710,257,720,246,794,235,799,247,791,254,799,259,790,263,783,268,777,279,769,281,748,271,732,268,720,268,705,278" shape="poly" >
					<area [routerLink]="['/colleges/ND/']" alt=" NORTH DAKOTA " TITLE=" NORTH DAKOTA " coords="451,105,456,55,533,61,529,71,531,109" shape="poly" >
					<area [routerLink]="['/colleges/OH/']" alt=" OHIO " TITLE=" OHIO " coords="672,170,695,165,706,170,721,161,725,171,724,189,719,198,712,206,707,210,709,218,702,216,688,216,679,208" shape="poly" >
					<area [routerLink]="['/colleges/OK/']" alt=" OKLAHOMA " TITLE=" OKLAHOMA " coords="449,250,555,251,562,308,547,300,535,305,511,301,491,288,489,261,451,258" shape="poly" >
					<area [routerLink]="['/colleges/OR/']" alt=" OREGON " TITLE=" OREGON " coords="211,122,261,138,296,146,302,111,296,109,311,90,307,83,260,76,245,70,235,62" shape="poly" >
					<area [routerLink]="['/colleges/PA/']" alt=" PENNSYLVANIA " TITLE=" PENNSYLVANIA " coords="724,158,732,153,736,158,780,146,789,155,790,161,783,167,793,172,789,179,798,187,795,192,782,183,735,193,727,187" shape="poly" >
					<area [routerLink]="['/colleges/RI/']" alt=" RHODE ISLAND " TITLE=" RHODE ISLAND " coords="814,137,823,135,835,145,823,153" shape="poly" >
					<area [routerLink]="['/colleges/SC/']" alt=" SOUTH CAROLINA " TITLE=" SOUTH CAROLINA " coords="706,276,729,268,750,272,767,283,764,297,754,308,742,317" shape="poly" >
					<area [routerLink]="['/colleges/SD/']" alt=" SOUTH DAKOTA " TITLE=" SOUTH DAKOTA " coords="447,151,452,104,530,110,534,122,533,150,531,162,508,154" shape="poly" >
					<area [routerLink]="['/colleges/TN/']" alt=" TENNESSEE " TITLE=" TENNESSEE " coords="618,283,619,266,624,255,641,258,644,254,720,248,716,255,710,257,704,262,698,263,693,274" shape="poly" >
					<area [routerLink]="['/colleges/TX/']" alt=" TEXAS " TITLE=" TEXAS " coords="392,325,439,327,450,256,488,261,488,288,515,302,536,306,549,300,563,306,563,324,572,342,571,368,523,398,522,427,491,412,474,376,444,369,430,376" shape="poly" >
					<area [routerLink]="['/colleges/UT/']" alt=" UTAH " TITLE=" UTAH " coords="334,152,360,161,360,174,383,179,373,243,312,232" shape="poly" >
					<area [routerLink]="['/colleges/VT/']" alt=" VERMONT " TITLE=" VERMONT " coords="791,96,800,118,803,127,810,124,807,107,815,94,808,88" shape="poly" >
					<area [routerLink]="['/colleges/VA/']" alt=" VIRGINIA " TITLE=" VIRGINIA " coords="703,246,713,236,726,234,735,226,739,216,747,208,759,196,767,197,771,202,775,209,782,209,786,219,789,225,794,230,787,234,722,247" shape="poly" >
					<area [routerLink]="['/colleges/WA/']" alt=" WASHINGTON " TITLE=" WASHINGTON " coords="235,20,260,30,259,17,320,32,307,82,267,77,257,70,245,71,239,58" shape="poly" >
					<area [routerLink]="['/colleges/WV/']" alt=" WEST VIRGINIA " TITLE=" WEST VIRGINIA " coords="705,217,709,209,715,203,720,197,723,185,730,192,736,193,747,193,755,190,755,197,748,203,743,210,737,216,735,224,728,233,720,234,713,234,711,227" shape="poly" >
					<area [routerLink]="['/colleges/WI/']" alt=" WISCONSIN " TITLE=" WISCONSIN " coords="636,158,605,161,595,155,595,146,595,136,578,123,576,110,580,98,602,98,607,97,615,103,623,109,629,113,632,118,640,117" shape="poly" >
					<area [routerLink]="['/colleges/WY/']" alt=" WYOMING " TITLE=" WYOMING " coords="369,114,447,121,443,181,411,181,387,177,360,173" shape="poly" >
				</map>

			</div>
		</div>
		<!-- Section F End -->		

	</div>
	<!-- Container -->

	<!-- Directories Type -->
	<div class="directories-type container-fluid mt-5">
		<div class="row">
			<div class="offset-lg-1 col-sm-6 col-lg-5 mt-4 text-center">
				<img src="assets/images/Repertoire-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Repertoire Directory</h2>
				<p class="text">
					A national, graded, proprietary directory of suggested solo audition pieces
				</p>
				<div class="text-center">
					<button [routerLink]="['/public/repertoire_search']" class="button finger">Explore</button>
				</div>
			</div>
			<div class="col-sm-6 col-lg-5 mt-4 text-center">
				<img src="assets/images/Summer-Camp-Directory-Img.png" alt="img" class="w-100" />
				<h2 class="title">Summer Camp Directory</h2>
				<p class="text">
					National and international opportunities to bolster performance proficiency in a competitive environment
				</p>
				<div class="text-center">
					<button [routerLink]="['/public/summer-camp-search']" class="button finger">Explore</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Directories Type End -->

	<section id="tm-free-footer">
		
		<!-- Grade Guide -->
		<section id="instrumental-header" class="grade-by-grade-header mt-5">
			<div [routerLink]="['/public/grade-guide']" class="gbg-home-bg finger">
				<div class="ih-context gbg-home-header-context">
					<h1>Grade By Grade</h1>
					<br>
					<h3>A 6-12 guide <br>for skill <br>building to <br>pursue a <br>scholarship in <br>music</h3>
				</div>
			</div>
		</section>
		<!-- Grade Guide End -->
		

		<div id="exam-question-get-more" class="mt-5">
			<div class="get-more-btns container-fluid">
				<div class="d-flex justify-content-sm-between flex-column flex-sm-row">
					<button  [routerLink]="['/public/get-connected']" class="btn finger">GET CONNECTED</button>
					<!-- <button class="btn">GET MORE <div>INFORMATION</div></button> -->
				</div>
			</div>
		</div>

	</section>

	<app-footer></app-footer>

</div>