<!-- Soar-Header Start  [routerLink]="['/public/soar']"-->
<section id="soar-header" class="avoid-navbar position-relative">
	
	<div class="soar-header-text text-center">
		<h1>SOAR</h1>
		<h3>Initiative for underserved students</h3>
	</div>

</section>
<!-- Soar-Header End -->

<!-- what-is-soar Start -->
<section id="what-is-soar">

	<div class="container-fluid">

		<div class="soar-explanation position-relative">

			<img src="assets/images/soar-singer.png" alt="" class="img-fluid">

			<p>
				Accoladi recognizes the dreams, desires, and aspirations of performing arts students. 
				The SOAR program was created to allow underserved students the opportunity to take advantage of all Accoladi provides free of charge. 
				This offer is good for the student's complete high school career. 
			</p>

			<div class="se-absolute-content">
				<h3 class="text-center text-sm-left">What is</h3>
				<h1 class="text-center text-sm-right">SOAR?</h1>
			</div>

		</div>

		<div class="row which-school position-relative">

			<div class="col-md-5">
				<img src="assets/images/soar-student.png" class="img-fluid" alt="">
			</div>

			<div class="col-md-7 which-school-flexbox">

				<img src="assets/images/soar-band.png" class="img-fluid" alt="">

				<div class="which-school-text">
					Students from one or more of the following:
					<ul>
						<li>Title 1 Schools</li>
						<li>Qualifies for food assistance programs</li>
						<li>Parent's employment has been impacted by Covid-19</li>
						<li>Resides in government-subsidized or compromised housing</li>
						<li>Part of residential group housing or foster care system</li>
					</ul>
				</div>

			</div>

			<div class="which-school-content">
				<h3 class="text-center text-sm-left">Who May Apply</h3>
			</div>

		</div>

	</div>

</section>
<!-- what-is-soar End -->

<!-- To-Apply Section Start -->
<section id="to-apply">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 to-apply-texts">
				<h1>To <br> APPLY</h1>
				<p>Simply Click the button below, submit the form on the opened page for consideration. 
					Please fill all fields applicable to your school or organization. 
					Teachers, department heads, or organizational leaders applying, please fill in the “teacher” fields. 
					When accepted to the program, we will communicate the student enrollment process. <br>
					Once accepted, encourage your students to complete their student profiles, including performance videos within three months. 
					We will supply supporting documents to assist with this process. <br>
					We hope through this collaborative effort, these students in your schools and organizations will find the tools needed to recognize, afford, and achieve their collegiate dreams!</p>
				
			</div>
		</div>
	</div>
</section>
<!-- To-Apply Section End -->

<!-- Soar-Form Section Start -->
<section id="soar-form">
	
	<div class="container-fluid">
	
		<div class="row">
	
			<div class="col-md-10 offset-md-1">
				
				<p class="text-center">
					<a href="https://connect.scholarshipauditions.com/title-1-program-recreate-test-template" target="_new">
						<button class="btn btn-outline-dark"><h2>Click Here to apply for the SOAR program</h2></button>
					</a>
				</p>
			<!--
				<form>
					<div class="form-group">
						<input type="text" placeholder="Teacher's Name" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Teacher's Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Teaching Position" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="School Name / Organization" class="form-control">
					</div>
					<h3>Mailing Address</h3>
					<div class="form-group">
						<input type="text" placeholder="Street Address 1" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Street Address 2" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="City" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="State" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Postal Code" class="form-control">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Phone Number" class="form-control">
					</div>
					<h3>Are you requesting for your entire program or for specific students who qualify?</h3>
					<div class="form-group text-center">
						<div class="row pt-3">
							<div class="col-sm-6">
								<input type="radio" class="custom-radio" name="ans"> 
								<strong>Entire Program*</strong> <br> *must be Title 1 school
							</div>
							<div class="col-sm-6">
								<input type="radio" class="custom-radio" name="ans"> 
								<strong>Specific Students**</strong> <br>*Student must qualify per the list above
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-outline-dark">Send</button>
					</div>
				</form>
			-->
			</div>
	
		</div>
	
	</div>

	<!-- Footer Section Start -->
	<app-footer></app-footer>
	<!-- footer section End! -->

</section>