<div id="success-header" class="avoid-navbar">

	<div class="container-fluid d-flex justify-content-md-center">

		<div class="such-content">
			<h4>Success with</h4>
			<h1>Significance</h1>
			<h4>Articles and Assignments</h4>
		</div>

	</div>

</div>

<div class="gold-page">

	<div class="container-fluid">

		<div class="row justify-content-md-center">
			
			<div class="row">
		
				<div class="offset-2 col-8">
		
					<p>Accoladi has prepared a series entitled “Success with Significance” addressing emotional and relational issues specific to high school musicians. Each article is downloadable and has individual student assignments to bring further clarity to the student’s experience. This could prove to be a motivational boost as students start the new school year. It is suggested that they are presented in the following order: </p>

				</div>

			</div>
		
			<div class="container-fluid">

				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/finding-your-calling.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>Finding Your Calling</h3>
							Research reveals the happiest people are those that have figured out who they are and have dedicated their lives to doing something in which they enjoy and find purpose and mission.
								
							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/Finding_Your_Calling.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>

				<br/>&nbsp;
				
				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/motivation-is-a-must.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>Motivation Is A Must</h3>
							Motivation is an inner driving force that pushes people to accomplish things.

							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/Motivation_is_a_Must.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>

				<br/>&nbsp;
				
				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/being-a-giver.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>Being a Giver</h3>
							The meaning of life is to find your gift, the purpose of life is to give that gift away.
								
							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/Being_a_Giver.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>

				<br/>&nbsp;
				
				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/a-competitive-spirit.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>A Competitive Spirit</h3>
							The greatest winners in life are those who know how to compete against themselves and celebrate the victories they win over who they were yesterday.
								
							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/A_Competitive_Spirit.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>

				<br/>&nbsp;
				
				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/conquer-your-thoughts.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>Conquer Your Own Negative Thoughts</h3>
							Shutting down the negative voices allows your confidence, self-esteem, and energy to flow and to be powerful, not powerless.
								
							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/Conquer_Your_Negative_Thoughts.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>

				<br/>&nbsp;
				
				<div class="row">
		
					<div class="offset-2 col-4">
		
						<div class="position-relative">
		
							<img src="assets/images/keeping-your-motivation-fresh.png" alt="img" class="img-fluid" />
		
						</div>
		
					</div>
		
					<div class="col-4">
		
						<div class="position-relative">
			
							<br><h3>Keeping Your Motivation Fresh</h3>
							The battle is in the mind before it is ever in the practice room. 
								
							<br>&nbsp;<br>
							<a href="https://s3.us-east-1.amazonaws.com/cdn.scholarshipauditions.com/members_pdfs/Keeping_Your_Motivation_Fresh.pdf" target="_new">
								<button class="btn btn-op">Download Now</button>
							</a>

						</div>
		
					</div>
		
				</div>
		
			</div>

		</div>

	</div>

	
	<div class="hero-section tm-header d-flex align-items-end avoid-navbar position-relative">
		<!-- /assets/images/teacher-header.png -->
	</div>

	<app-footer></app-footer>

</div>