<!-- Hero Section [routerLink]="['/public/teachers']"-->
<div class="hero-section tm-header d-flex align-items-end avoid-navbar position-relative">

	<div class="tm-header-content">
		<p>As your students hone their musicianship and skills, Accoladi can help you give them the right advice at the right time to help document their progress and achievements. Following our structured approach, you can recommend resources, activities, and experiences that will prepare your students for college.</p>
		<p>When students are ready to apply for college scholarships, Accoladi has a scholarship directory and helpful guides.</p>
		<p>And when parents come to you asking for advice and guidance, Accoladi is your trusted resource.</p>
		<p>There are so many ways Accoladi can partner with you to help your students navigate to the path of applications, auditions, and scholarship procurement.</p>
	</div>

	<div class="mx-md-auto text-right">

		<div class="dropdown">

			<button
				[routerLink]="['/public/get-connected']"
				class="btn btn-outline-light hero-button dropdown-toggle finger"
				id="navbarDropdown"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">GET CONNECTED</button>

			<div class="dropdown-menu dropdown-menu-right animate hero-dropdown" aria-labelledby="navbarDropdown" x-placement="bottom-end">
				<a class="dropdown-item" href="index.html">Student</a>
				<a class="dropdown-item" href="profile-performance.html">Teacher</a>
				<a class="dropdown-item" href="profile-education.html">Higher Ed</a>
			</div>

		</div>

	</div>

</div>
<!-- Hero Section End -->

<!-- Explore Section -->
<div class="explore-section">

	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-4 text-center">

				<h3 class="right-border">TRUSTED</h3>

			</div>

			<div class="col-sm-4 text-center">

				<h3 class="right-border">PROVEN</h3>

			</div>

			<div class="col-sm-4 text-center">

				<h3>RESOURCEFUL</h3>

			</div>

		</div>

	</div>

</div>
<!-- Explore Section End -->

<!-- Additional Support Section Start -->
<div id="additional-support" class="tm-as-bg">

	<div class="container-fluid tm-bt-padding">

		<div class="row">

			<div class="col-sm-6 money-item">

				<div [routerLink]="['/public/teaching-moments']" class="money-item-body finger">

					<img src="assets/images/teaching-moments2.jpg" alt="">

					<div class="money-item-bottom">
						<h5>TEACHING MOMENTS</h5>
						<p>Informative videos for students and parents</p>
					</div>

				</div>

			</div>

			<div class="col-sm-6 money-item">

				<div [routerLink]="['/public/soar']" class="money-item-body finger">

					<img src="assets/images/soar3.jpg" alt="">

					<div class="money-item-bottom">
						<h5>SOAR PROGRAM</h5>
						<p>Initiative for Underserved Students</p>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>
<!-- Additional Support Section End -->

<!-- Music Future Start -->
<div class="music-future">

	<div class="mf-content">

		<h1>My Music Future</h1>

		<div class="text-center" >
			<a href="https://mymusicfuture.com/" target="_new" class="finger" >
				<button class="btn mx-auto">EXPLORE</button>
			</a>
			<p>Assessment tool for students considering majoring in music</p>
		</div>

	</div>

</div>
<!-- Music Future End -->

<!-- Soar-Form Section Start -->
<section id="soar-form" class="tm-form-section">

	<!--<div class="container-fluid">

		<div class="row">

			<div class="col-md-10 offset-md-1 px-0">

				<form class="tm-form">

					<div class="row">

						<div class="col-md-6 px-0">
							<img src="assets/images/music-career-img-1.png" class="tm-form-img">
						</div>

						<div class="col-md-6 py-3">

							<div class="pl-md-0 pl-3 pr-3">

								<h2>Do you have a student that Accoladi should know about?</h2>

								<div class="form-group">
									<input type="text" placeholder="Student's Name" class="form-control">
								</div>

								<div class="form-group">
									<input type="text" placeholder="Student's instrument or voice part" class="form-control">
								</div>

								<div class="form-group">
									<input type="text" placeholder="Student's School" class="form-control">
								</div>

								<div class="form-group">
									<input type="text" placeholder="Director's Name" class="form-control">
								</div>

								<div class="form-group">
									<input type="text" placeholder="Director's Email" class="form-control">
								</div>

								<div class="text-center">
									<button class="btn">SEND</button>
								</div>

							</div>

						</div>

					</div>

				</form>

			</div>

		</div>

	</div> -->

	<!-- Additional Support Section Start -->
	<div id="additional-support" class="tm-gallery">

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-6">

					<div class="container-fluid">

						<div class="row">

							<div class="col-12 money-item">

								<div [routerLink]="['/public/exam/']" class="money-item-body finger">

									<img src="assets/images/fastTrack/Copy_of_AdobeStock_105972983.png" alt="">

									<div class="money-item-bottom">
										<h5 class="text-center">MUSIC DEPARTMENT <br> <span>ENTRANCE EXAM QUESTIONS</span></h5>
									</div>

								</div>

							</div>

							<div class="col-12 money-item">

								<div [routerLink]="['/public/success/']"  class="money-item-body finger">

									<img src="assets/images/fastTrack/guitar-2422149.png" alt="">

									<div class="money-item-bottom">
										<h5 class="text-center">ADVICE <br> <span>WITH LESSON PLANS</span></h5>
									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="col-sm-6 money-item">

					<div [routerLink]="['/scholarships/']"  class="money-item-body finger">

						<img src="assets/images/fastTrack/Copy_of_AdobeStock_117866612.png" alt="">

						<div class="money-item-bottom tm-gallery-item-bt">
							<h5 class="text-center"><!-- COLLEGE &  -->SCHOLARSHIPS <br> <span>DIRECTORY</span></h5>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
	<!-- Additional Support Section End -->

</section>
<!-- Soar-Form Section End -->

<section id="tm-free-footer">

	<div class="tm-free">

		<h3>always <br>
		<span>FREE</span> to the <br>
		scholastic music educator</h3>

		<div class="tm-free-btns d-flex justify-content-between">

			<button [routerLink]="['/public/get-connected']" class="btn finger">GET CONNECTED</button>
			<button (click)="openCommitmentTeacher(content2)" class="btn finger">COMMITMENT<br> <span>TO MUSIC TEACHER</span></button>

		</div>

	</div>

	<!-- footer Section Start! -->
	<app-footer></app-footer>
	<!-- footer section End! -->

</section>

<ng-template #content2 let-modal>
	<h3 class="modal-header">Our Commitment to Teachers</h3>
	<div class="model-body">
		We will connect you to:
		<ul>
			<li>A platform where your students can upload their educational and performance history, references, and performance videos for collegiate and summer enrichment recruiters</li>
			<li>A portal to upload and maintain a reference for each of your student’s needs.</li>
			<li>A platform to follow your students’ collegiate process</li>
			<li>A college directory of U.S. colleges, universities, and conservatories, and the specific music degrees they offer</li>
			<li>A directory of non-institutional scholarships to aid your students, parents, and school counselors in the procurement of scholarship funds</li>
			<li>A directory of music camps, summer stock, and master classes</li>
			<li>A directory of festivals and competitions</li>
			<li>A national repertoire directory of solos, appropriate for college auditions</li>
			<li>Music department entrance exam questions and answers</li>
			<li>A Resource Center of advice, guides, and musical exercises to facilitate your needs</li>
			<li>A video series of Motivational Moments that can be used in your classroom </li>
			<li>A support program (SOAR) for your underserved students</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ml-3 mt-4" (click)="modal.close()">Close</button>
	</div>
</ng-template>