<div id="teaching-moments-header" class="avoid-navbar">

	<div class="container-fluid d-flex ">

		<div class="tmh-content">
			<h1>TEACHING<br>&nbsp;&nbsp;&nbsp;MOMENTS</h1>
			<h4 class=" justify-content-right">Informative videos for students and parents</h4>
		</div>

	</div>

</div>

<div class="gold-page">

	<div class="container-fluid">

		<div class="row">

			<div class="col-lg-8 mt-4">

				<div class="position-relative">

					<img src="assets/images/AdobeStock_183480299.jpeg" alt="img" class="img-fluid" />

				</div>

			</div>

			<div class="col-lg-4">

				<div class="position-relative">
	
					<br>The ancient proverb, “he is not a prophet in his own country” unfortunately holds true for most people.  You may find yourself, although without question an expert in your field, needing the support and affirmation of another individual to reinforce your seasoned advice. Dr. Randall Bayne, CEO of Accoladi, has video answers to numerous questions of students and parents concerning the application, audition, and scholarship process for potential music majors. He has also addressed issues relevant to supporting music education.  These video clips range from four to seven minutes and have appeared on Facebook, Instagram, and other media outlets. These clips are available for you to use in any form of communication that can best serve the needs of your program, your students, and their parents.

				</div>

			</div>

		</div>

		&nbsp;<br>
		<hr>
		&nbsp;<br>
		
		<div class="row">

			<div class="col-sm-8 offset-md-2">

				<div class="position-relative">

					<iframe 
						width="800" height="600"
						title="Know What You Are Talking About" 
						src="https://www.youtube.com/embed/aFUUMdopyaA?playlist=aFUUMdopyaA&autoplay=0&mute=0&showinfo=0&controls=0&loop=0&modestbranding=1"></iframe>
					<h3>Know What You Are Talking About</h3>

				</div>

			</div>

		</div>
	</div>

	<app-footer></app-footer>

</div>