<div class="who-how-what-why-page">
	
	<h2 class="heading text-center">WHAT WE DO</h2>
	
	<div class="container-fluid">
		
		<div class="row justify-content-md-center">
			
			<div class="col-5">
				
				Accoladi provides tools for performing arts students to connect with collegiate recruiters.
				<br/><br/><b>We Connect:</b>
				<ul>
					<li>Students who plan to major in music</li>
					<li>Students not majoring in music who want to continue performing in college</li>
					<li>Students seeking summer music camps, summer stock, master classes, and competitions</li>
					<li>Music teachers and administrators supporting the collegiate dreams of their students</li>
				</ul>

			</div>

			<div class="col-3">
				
				<div class="video-container" >
					
					<iframe 
						style="border:solid thick gold"
						width="450"
						frameborder="0"
						src="https://www.youtube.com/embed/AwQwMWD12iI?playlist=AwQwMWD12iI&rel=0&loop=0&controls=0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>

				</div>

			</div>

		</div>

		<div class="row justify-content-md-center">
			
			<div class="col-8">
				
				<b>With:</b>
				<ul>
					<li>Music department recruiters, deans, ensemble directors and studio instructors</li>
					<li>Summer music camps, summer stock recruiters and scholarship providers</li>
					<li>US Military performing ensemble recruiters</li>
					<li>Non-institutional scholarship opportunities</li>
				</ul>

			</div>

		</div>

		<div class="row justify-content-md-center">
			
			<div class="col-8">
				Our educational and support materials improve student outcomes in the application and audition process
				for acceptance and scholarships. For the collegiate community, we offer searchable access to student profiles,
				including video auditions. Through our secure portal, recruiters can make direct contact with desired candidates.
			</div>

		</div>

	</div>

	<app-footer></app-footer>

</div>