<div class="who-how-what-why-page">
	
	<h2 class="heading text-center">WHO WE ARE</h2>
	
	<div class="container-fluid">
		
		<div class="row justify-content-md-center">
			
			<div class="col-8">
				Accoladi is a comprehensive online resource for:
				<ul>
					<li>Middle and high school performing arts students who plan on majoring in music and/or using their abilities to pursue collegiate ensemble participation and possible music scholarship funds</li>
					<li>Parents, teachers, and administrators who support these students</li>
					<li>Recruiters from higher education institutions searching for these students</li>
				</ul>
				<p>
					Accoladi propels student connection to collegiate opportunities and provides a vast resource of materials,
					giving students advantages in the application, audition, and scholarship processes.
				</p>
				<p>
					Unlike other companies, Accoladi is staffed by professionals who have practical experience in the field and
					have developed a systematic approach for success.
				</p>
				<p>
					The skills and discipline developed in the performing arts opened doors to our team’s collegiate experiences,
					career paths, and rewarding lives. We believe that music and the performing arts can bring success and
					lifelong fulfillment. We have committed ourselves to the powerful connections that Accoladi makes between
					students and those who can make their collegiate and career dreams come true.
				</p>

			</div>

			<div class="col-8">
				
				<div class="text-center">
					<h3>How Accoladi Began</h3>
					<img src="assets/images/randalls-story.jpg" >
				</div>

			</div>

			<div class="col-8">
				
				<div class="text-center">
					&nbsp;<br>&nbsp;<br>
					<a [routerLink]="['/public/about']" class="button">ABOUT US</a>
				</div>

			</div>

		</div>

	</div>

	<app-footer></app-footer>
	
</div>