<div class="who-how-what-why-page">
	
	<h2 class="heading text-center">WHY WE DO IT</h2>
	
	<div class="container-fluid">
		
		<div class="row justify-content-md-center">
			
			<div class="col-8">
				
				<!-- As a performing arts student, whether you major in music or not, Accoladi is where you can: -->
				<p>We believe all students deserve an opportunity to attend a college, university, or conservatory which will strengthen 
				their calling and help them reach their career goals.  As advocates for performing arts students, it is our mission 
				to empower student performers to recognize, afford, and achieve their collegiate dreams. Whether majoring in music or not, 
				Accoladi is where you can:</p>
				<ul>
					<li>Find answers to your fears about the music school process from experienced professionals who are caring and passionate about helping you afford and achieve your collegiate dreams.</li>
					<li>Explore our systematic roadmap designed to walk you through every aspect of the application, audition, scholarship, and acceptance journey.</li>
					<li>Connect with schools that want your unique musical experiences, knowledge base, and talents.</li>
					<li>Connect with schools willing to offer music scholarships for you to be a member of their ensembles, productions, and/or studio.</li>
					<li>Discover scholarship money from additional sources, which may result in little to no out-of-pocket expenses.</li>
					<li>Gain access to our well-researched directory of music schools where graduates get the best jobs in your chosen career path.</li>
					<li>Find the most comprehensive resources and answers needed to achieve your acceptance and scholarship success.</li>
				</ul>

			</div>

		</div>

	</div>

	<app-footer></app-footer>

</div>