<!-- <ng-container>


	<div class="container-fluid role-container" >

		<div class="row" >

			<nav class="col-md-2 sidebar"
				[class.reveal]="showSidebar" >

				<app-side-bar></app-side-bar>

			</nav>

			<main role="main"
					class="employer col-md-9 ml-sm-auto col-lg-10" >

					<ng-container *ngIf=displayMessage >

					<section id="unpaid-message-banner"
							name="unpaid-message-banner"
							class="unpaid-message py-3" >

						<div>

							<div class="row" >

								<div class="col-lg-10 offset-lg-1" >
									
									<p>
										You are enjoying FREE features. Update your membership for FULL access. <a class="btn" role="button" [routerLink]="['/student/premium']">	Just $9.95/mo! </a>
									</p>
									
								</div>

							</div>

						</div>

					</section>

				</ng-container>

				<router-outlet></router-outlet>

			</main>

		</div>

	</div>

</ng-container> -->
<div id="search-student" class="avoid-navbar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<div class="ss-sidenav py-2 px-3 text-left">
					<b>One</b>
					<br><b>Two</b>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="ss-greetings">
					<div class="row">
						<div class="col-lg-6 d-flex align-items-center justify-content-center">
							<div class="pl-2 py-5 py-lg-0">
								<h3>Hello Name!</h3>
							</div>
						</div>
						<div class="col-lg-6">
							<img src="assets/images/search-student/Asset 1.png" class="w-100" alt="">
						</div>
					</div>
				</div>
				<div class="talent-search student-profile">
					<div class="row">
						<div class="col-md-8">
							<div class="ts-content">
								<h1>Student Search</h1>
								<div class="ts-explaination pt-2 px-0 px-sm-3">
									<p>
										Your search.
									</p>
									<p>
										The required information .
									</p>
									
									<div class="text-center mt-5 mb-3">
										<button class="btn student-profile-btn m-1">Search</button>
										<button class="btn student-profile-btn m-1">Reset</button>
										<button class="btn student-profile-btn m-1">Save</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="ss-tips"> 
								<h2>Search Tips</h2>
								<p>
									You may search using just one or any combination of the search criteria listed.                                                
								</p>
								<p>
									After each search, click "Reset" before doing another search, unless you are trying 
									to narrow a search you just performed. If you search is one you will frequently 
									need, you can click "save" and it will give you an option to name and save your 
									specified criteria. In the future, you can go to Saved Talent Search on the menu bad 
									and it will list any searches you have saved. 
								</p>
								<p>
									When reviewing your search results, on the right side you will see options to:
								</p>
								<div class="px-2">
									<p>
										Share student with a colleague Save student to your list View student profile <br>
										Send a message to this studentDuis aute irure dolor in reprehenderit in voluptate velit esse.
									</p>
								</div>
								<p>
									If you stay logged in to the site, you may need to refresh your browser if your computer has been 
									idle for a while.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>