<div class="d-flex flex-column" style="min-height: calc(100vh - 70px);" >
	
	<form novalidate="novalidate" autocomplete="off" [formGroup]="form" (ngSubmit)="submitForm()" class="flex-grow-1 d-flex" >
	
		<div *ngIf="!resetSuccess" class="container align-self-center" >
	
			<br />
	
			<h2 class="d-flex justify-content-center" >Reset Password</h2>
	
			<br />

			<div class="form-row" >
	
				<div class="offset-md-4 col-md-4 form-group required" [ngClass]="displayFieldCss('password')" >
	
					<label for="password" class="control-label " >Password</label>
					<input id="password" name="password" type="password" class="form-control" formControlName="password"
						[class.state-error]="isFieldInvalid('password')" />

					<app-field-error-display [displayError]="isFieldInvalid('password')"
						*ngIf="f.password.errors && f.password.errors.required" errorMsg="Please provide a password" >
					</app-field-error-display>
	
				</div>

				<div class="offset-md-4 col-md-4 form-group required" [ngClass]="displayFieldCss('confirm_password')" >
	
					<label for="confirm_password" class="control-label " >Confirm Password</label>
					<input id="confirm_password" name="confirm_password" type="password" class="form-control"
						formControlName="confirm_password" [class.state-error]="isFieldInvalid('confirm_password')" />

					<app-field-error-display [displayError]="isFieldInvalid('confirm_password')" *ngIf="
							f.confirm_password.errors &&
							f.confirm_password.errors.required
						" errorMsg="Please confirm password" >
					</app-field-error-display>

					<app-field-error-display [displayError]="
							!isFieldInvalid('confirm_password') &&
							form.errors &&
							form.errors.mismatch
						" errorMsg="Password mismatch" >
					</app-field-error-display>
	
				</div>
	
			</div>

			<div class="form-row" >
	
				<div class="offset-md-4 col-md-4" >
	
					<div *ngIf="resetFailed" class="alert alert-danger" role="alert" >
						{{ feedback }}
					</div>
	
					<br />
	
					<button type="submit" class="btn float-right" >
						<span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
							aria-hidden="true" ></span>
						{{ loading ? "Sending..." : "Send" }}
					</button>
	
					<br />
	
				</div>
	
			</div>
	
		</div>
	
		<div *ngIf="resetSuccess" class="container" >
	
			<div class="row" >
	
				<div class="offset-md-3 col-md-6" >
	
					<br />
					<br />
					<br />
	
					<p class="text-center" >
						Your password was successfully reset, we have sent a confirmation to your email.<br />
						You should be able to log into your account now, if problems persist, please contact support@scholarhipauditions.com.
					</p>
	
					<br />
	
					<p class="text-center" >
						Thank You,<br />
						Accoladi.com
					</p>

					<p class="col-md-12 text-center" >
						<a class="btn " role="button" [routerLink]="['/login']" >Log In!</a>
					</p>
	
				</div>
	
			</div>
	
		</div>
	
	</form>

	<div class="flex-shrink-0" >
	
		<app-footer></app-footer>
	
	</div>
	
</div>