<div class="px-4 py-5">

	<div class="row mb-3 d-flex align-items-center">

		<div class="col-md-6">

			<nav aria-label="breadcrumb">

				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a routerLink="/{{userType}}/education">Education Data</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						Private Studies
					</li>
				</ol>

			</nav>

		</div>

		<div class="col-md-6 text-right">

			<a href="javascript:;" (click)="addStudentPrivateStudy()" class="btn">

				<img class="mr-2" src="assets/img/sa-add-08.svg" />
				Add Private Studies
			</a>

		</div>

	</div>

	<section class="module">

		<header>
			<h2>
				Private Studies
			</h2>
		</header>

		<div class="general-table">

			<table class="table">

				<tbody>

					<tr>
						<td class="align-top">
							<p>
								List any private study with a teacher outside of normal school studies.
							</p>
							<p>
								Questions Asked:<br />
								Instructor *, Institution, Instrument/Voice Part *, Subject * (performance, theory,
								compositions, etc),
								Started Study *, Ended Study *, Total Hours Studied *, Critiqued, Link to video of
								performance
							</p>
						</td>
						<td class="align-top text-center" width="200">

							<a href="javascript:;" (click)="playVideo('https://vimeo.com/349239910')">

								<img src="assets/img/private_studies_video_thumb.jpg" />
								<br>Watch Video

							</a>

						</td>
					</tr>

				</tbody>

			</table>

			<table class="table">

				<tbody>

					<tr *ngFor="let study of private_studies">
						<td width="5%"></td>
						<td width="20%">
							<span class="bumpup-txt">
								<u>{{ study.subject }}</u>
							</span>
							<br />{{ study.institution }} {{ study.instructor }}
						</td>
						<td width="20%">
							{{ study.talent }}{{ study.dicipline }}

							<br />{{ study.hours }} hours

							<span *ngIf=" study.critiqued && study.critiqued == 'Yes' ">
								(critiqued)
							</span>
						</td>
						<td width="45%">
							{{ "Started: " + study.dates.started + " . Ended: " + study.dates.ended }}
						</td>
						<td width="5%">
							<a href="javascript:;" (click)="updateStudentPrivateStudy(study._id)">

								<img style="width:20px;" src="assets/img/sa-edit.svg" />

							</a>
						</td>
						<td width="5%">

							<img (click)="removeStudentPrivateStudy(study._id)" style="width:13px;cursor: pointer;"
								src="assets/img/close-x-22.png" />

						</td>

					</tr>

				</tbody>

			</table>

		</div>

	</section>

</div>