<div class="modal-header" >
	<h4 class="modal-title" >Add performance data for judging</h4>
</div>

<div class="modal-body" >

	<div class="container" >

		<p>
			You have reached the limit on performances for your category.<br />
			If you have mad an error or want to use a different performance piece / video, you will need to delete one of your current items to add another.
		</p>

	</div>

</div>

<div class="modal-footer d-flex justify-content-between" >

	<button 
		type="button" 
		class="btn gray-btn" 
		(click)="close()" >
		Cancel
	</button>

</div>
