<div class="modal-header">
	<h4 class="modal-title">Send Letter</h4>
</div>

<form
	novalidate="novalidate"
	autocomplete="off"
	[formGroup]="form"
	(ngSubmit)="submitForm()"
>
	<div class="modal-body">
		<div class="container">
			<div class="form-row">
				<div
					class="col-md-6 form-group required"
					[ngClass]="displayFieldCss('subject')" >
					<label for="subject" class="control-label ">Subject</label>
					<select
						id="subject"
						class="form-control "
						[class.state-error]="isFieldInvalid('subject')"
						name="subject"
						formControlName="subject"
						placeholder="Subject" >
						<option value="" disabled selected >
							Subject - Select One...
						</option>
						<option
							*ngFor="let t of letterTypes"
							value="{{ t.type }}" >
							{{ t.display }}
						</option>
					</select>
					<app-field-error-display
						[displayError]="isFieldInvalid('subject')"
						errorMsg="Please provide subject" >
					</app-field-error-display>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-2 form-group">
					<div class="checkbox">
						<label for="toEmail" class="control-label">
							<input
								id="toEmail"
								type="checkbox"
								name="toEmail"
								formControlName="toEmail" />
							To Email
						</label>
					</div>
				</div>
			</div>

			<div class="form-row" *ngIf="!form.get('toEmail').value">
				<div
					*ngIf="form.get('subject').value == 'introduction'"
					class="col-md-6 form-group "
					[ngClass]="displayFieldCss('faculty')" >

					<label class="control-label " for="faculty" >
						Recipient
					</label>
					<input
						[ngbTypeahead]="searchFaculties"
						[inputFormatter]="formatMatches"
						[resultTemplate]="rt"
						class="form-control"
						type="text"
						name="faculty"
						placeholder="Search faculty ..."
						formControlName="faculty"
						id="faculty"
						(selectItem)="selectedFaculty($event)"
					/>

					<span *ngIf="searchingFaculties">searching...</span>
					<div class="invalid-feedback" *ngIf="searchFailed">
						Sorry, suggestions could not be loaded.
					</div>

					<input
						type="hidden"
						name="faculty_id"
						formControlName="faculty_id"
						value=""
					/>

					<ng-template #rt let-r="result" let-t="term">
						<span class="device">
							<span class="grayout">
								{{ r?.first_name + " " + r?.last_name }}
							</span>
							<br />
							<small class="grayout">
								{{
									r?.position +
										", " +
										r?.department +
										" (" +
										r?.college +
										")"
								}}
							</small>
						</span>
					</ng-template>
				</div>

				<div
					*ngIf="
						form.get('subject').value == 'request' &&
						educatorsList.length
					"
					class="col-md-6 form-group"
					[ngClass]="displayFieldCss('educator')"
				>
					<label for="" class="control-label">Recipient</label>
					<ng-select
						placeholder=""
						clearAllText="Clear"
						formControlName="educator"
					>
						<ng-option
							*ngFor="let m of educatorsList"
							[value]="m._id"
							>{{ m.username }}</ng-option
						>
					</ng-select>
				</div>
			</div>

			<div class="form-row" *ngIf="form.get('toEmail').value">
				<div
					class="col-md-6 form-group required"
					[ngClass]="displayFieldCss('email')"
				>
					<label for="email" class="control-label "
						>Recipient Email</label
					>
					<input
						id="email"
						placeholder="Email"
						name="email"
						placeholder="Email"
						type="email"
						class="form-control"
						formControlName="email"
						[class.state-error]="isFieldInvalid('email')"
					/>
					<app-field-error-display
						[displayError]="isFieldInvalid('email')"
						*ngIf="f.email.errors && f.email.errors.required"
						errorMsg="Please provide an email"
					>
					</app-field-error-display>
					<app-field-error-display
						[displayError]="isFieldInvalid('email')"
						*ngIf="f.email.errors && f.email.errors.email"
						errorMsg="Please provide a valid email"
					>
					</app-field-error-display>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-12 form-group">
					<label for="body" class="control-label ">Body</label>
					<textarea
						style="text-align: left; min-height: 230px; resize: none;"
						name="body"
						id="body"
						formControlName="body"
						class="form-control"
						rows="5"
					>
					</textarea>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-12">
					<div
						*ngIf="requestSuccess"
						class="alert alert-success"
						role="alert"
					>
						{{ feedback }}
					</div>

					<div
						*ngIf="requestFailed"
						class="alert alert-danger"
						role="alert"
					>
						{{ feedback }}
					</div>
				</div>
			</div>

			<div class="modal-footer d-flex justify-content-between">
				
				<button 
					type="button" 
					class="btn gray-btn" 
					(click)="close()">
					Cancel
				</button>

				<button 
					type="button" 
					class="btn" 
					(click)="submitAttempted=true; submitForm();" 
					appDisableDoubleClick
					[disabled]="requestSuccess" >

					<span
						*ngIf="loading"
						class="spinner-border spinner-border-sm"
						role="status"
						aria-hidden="true" ></span>

					{{
						loading
						? "Sending..."
						: !requestSuccess
							? "Send letter"
							: "Done"
					}}

				</button>

			</div>

		</div>

	</div>

</form>
