<app-progress-bar [role]="role" [wizard]="'coupon-code'"></app-progress-bar>

<div class="modal-header">
	
	<h4 class="modal-title">
		Promotional / Coupon Code
	</h4>

</div>

<form novalidate="novalidate" autocomplete="off" [formGroup]="form" (ngSubmit)="submitForm()">

	<div class="modal-body">

		<div class="container">

			<div class="form-row">

				<div class="col-md-6 form-group" [ngClass]="displayFieldCss('promo')">

					<label class="control-label" for="promo">
						Promo
					</label>
					<input id="promo" type="text" class="form-control" formControlName="promo" name="promo"
						placeholder="Promo" />

				</div>

			</div>

			<div class="form-row">

				<div class="col-md-12">

					<div *ngIf="requestSuccess" class="alert alert-success" role="alert">
						{{ feedback }}
					</div>

					<div *ngIf="requestFailed" class="alert alert-danger" role="alert">
						{{ feedback }}
					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="modal-footer d-flex justify-content-between">
		
		<button type="button" class="btn gray-btn" (click)="close()">
			Cancel
		</button>

		<button type="button" class="btn " (click)="submitAttempted=true; submitForm();" appDisableDoubleClick>
			Finish
		</button>

	</div>

</form>