<div class="card " >

	<div>
		
		<div class="card-body" >
			
			<h3>
				Account Information
			</h3>

			<ul class="list-group" >
				<li class="list-group-item" >First Name: {{ user?.first_name }}</li>
				<li class="list-group-item" >Last Name: {{ user?.last_name }}</li>
				<li class="list-group-item" >Username: {{ user?.username }}</li>
				<li class="list-group-item" >Role: {{ user?.role }}</li>
				<li class="list-group-item" >Email: {{ user?.email }}</li>
				<li class="list-group-item" *ngIf="dob" >Date of Birth: {{ dob }}</li>
			</ul>

			<br />

			<ul class="list-group" *ngIf="user?.address" >
				<li class="list-group-item" >
					Address:
					{{ user.address.street1 }}
					{{ user.address.street2 }}
					{{ user.address.city }}
					{{ user.address.state }}
					{{ user.address.postal_code }}
					{{ user.address.country }}
				</li>
			</ul>

			<br />

			<ul class="list-group" *ngIf="user?.phone" >
				<li class="list-group-item" >Phone: {{ user.phone.phone }}</li>
				<li class="list-group-item" *ngIf="user.phone.international" >International: {{ user.phone.international }}</li>
			</ul>

			<div *ngIf="user?.role=='Recruiter'" >
				
				<br />

				<ul class="list-group" >
					<li class="list-group-item" >School: {{ school }}</li>
					<li class="list-group-item" >Title: {{ title }}</li>
					<li class="list-group-item" >Discipline: {{ discipline }}</li>
					<li class="list-group-item" >URL: {{ url }}</li>
				</ul>

			</div>

		</div>
	</div>

	<div class="card-footer text-right" >
		
		<button type="button" (click)="updateAccount()" class="btn btn-link" >
			UPDATE <i class="fa fa-edit" ></i>
		</button>

	</div>

</div>

<div class="card mt-3" >

	<section class="module" >
		
		<header>
			<h2>Upload Profile Image</h2>
		</header>

		<div class="col-lg-12 text-center py-2" >
			
			<input type="file"
					style="display:none"
					name="uploadprofileimg"
					id=""
					(change)="selectImage($event.target.files)"
					#FileInput>
			<button type="button" class="btn" (click)="FileInput.click()" >Select Profile Image</button>
			<div *ngIf="message" class="alert alert-danger" >{{message}}</div>

		</div>

		<div class="col-lg-12 text-center py-2" >
			
			<div>
				<img [src]="imgURL" height="100" width="100" class="m-auto" *ngIf="imgURL" >
			</div>

			<button type="button" class="btn py-2" *ngIf="imgURL" (click)="uploadImage()" >Upload Image</button>
			
			<div *ngIf="isImageSucess"  class="alert alert-info " > {{responseMsg}} </div>
		
		</div>
		
	</section>

</div>